Repository rapidsai/cuspatial, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cuspatial-cpp-codeowners, @rapidsai/cuspatial-python-codeowners, @rapidsai/cuspatial-cmake-codeowners, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Migrate to NVKS for amd64 CI runners (#1522)
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
Owners: @rapidsai/ci-codeowners

disallow fallback to Make in wheel builds
  python/cuproj/pyproject.toml
  python/cuspatial/pyproject.toml
  python/libcuspatial/pyproject.toml
Owners: @rapidsai/packaging-codeowners

Use test_python changed files list for Python tests. (#1527)
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

Add space
  python/cuspatial/cuspatial/_lib/nearest_points.pyx
Owners: @rapidsai/cuspatial-python-codeowners

disallow fallback to Make in Python builds (#1529)
  python/cuproj/pyproject.toml
  python/cuspatial/pyproject.toml
  python/libcuspatial/pyproject.toml
Owners: @rapidsai/packaging-codeowners

Ensure Cython bindings only interact with pylibcudf objects (#1523)
  python/cuspatial/cuspatial/_lib/distance.pyx
  python/cuspatial/cuspatial/_lib/intersection.pyx
  python/cuspatial/cuspatial/_lib/linestring_bounding_boxes.pyx
  python/cuspatial/cuspatial/_lib/nearest_points.pyx
  python/cuspatial/cuspatial/_lib/pairwise_multipoint_equals_count.pyx
  python/cuspatial/cuspatial/_lib/pairwise_point_in_polygon.pyx
  python/cuspatial/cuspatial/_lib/point_in_polygon.pyx
  python/cuspatial/cuspatial/_lib/points_in_range.pyx
  python/cuspatial/cuspatial/_lib/polygon_bounding_boxes.pyx
  python/cuspatial/cuspatial/_lib/quadtree.pyx
  python/cuspatial/cuspatial/_lib/spatial.pyx
  python/cuspatial/cuspatial/_lib/spatial_join.pyx
  python/cuspatial/cuspatial/_lib/trajectory.pyx
  python/cuspatial/cuspatial/core/binops/distance_dispatch.py
  python/cuspatial/cuspatial/core/binops/equals_count.py
  python/cuspatial/cuspatial/core/binops/intersection.py
  python/cuspatial/cuspatial/core/binpreds/contains.py
  python/cuspatial/cuspatial/core/spatial/bounding.py
  python/cuspatial/cuspatial/core/spatial/distance.py
  python/cuspatial/cuspatial/core/spatial/filtering.py
  python/cuspatial/cuspatial/core/spatial/indexing.py
  python/cuspatial/cuspatial/core/spatial/join.py
  python/cuspatial/cuspatial/core/spatial/nearest_points.py
  python/cuspatial/cuspatial/core/spatial/projection.py
  python/cuspatial/cuspatial/core/trajectory.py
Owners: @rapidsai/cuspatial-python-codeowners

Forward-merge branch-25.02 into branch-25.04 (#1531)
  .github/workflows/pr.yaml
  python/cuspatial/cuspatial/_lib/distance.pyx
  python/cuspatial/cuspatial/_lib/intersection.pyx
  python/cuspatial/cuspatial/_lib/linestring_bounding_boxes.pyx
  python/cuspatial/cuspatial/_lib/nearest_points.pyx
  python/cuspatial/cuspatial/_lib/pairwise_multipoint_equals_count.pyx
  python/cuspatial/cuspatial/_lib/pairwise_point_in_polygon.pyx
  python/cuspatial/cuspatial/_lib/point_in_polygon.pyx
  python/cuspatial/cuspatial/_lib/points_in_range.pyx
  python/cuspatial/cuspatial/_lib/polygon_bounding_boxes.pyx
  python/cuspatial/cuspatial/_lib/quadtree.pyx
  python/cuspatial/cuspatial/_lib/spatial.pyx
  python/cuspatial/cuspatial/_lib/spatial_join.pyx
  python/cuspatial/cuspatial/_lib/trajectory.pyx
  python/cuspatial/cuspatial/core/binops/distance_dispatch.py
  python/cuspatial/cuspatial/core/binops/equals_count.py
  python/cuspatial/cuspatial/core/binops/intersection.py
  python/cuspatial/cuspatial/core/binpreds/contains.py
  python/cuspatial/cuspatial/core/spatial/bounding.py
  python/cuspatial/cuspatial/core/spatial/distance.py
  python/cuspatial/cuspatial/core/spatial/filtering.py
  python/cuspatial/cuspatial/core/spatial/indexing.py
  python/cuspatial/cuspatial/core/spatial/join.py
  python/cuspatial/cuspatial/core/spatial/nearest_points.py
  python/cuspatial/cuspatial/core/spatial/projection.py
  python/cuspatial/cuspatial/core/trajectory.py
Owners: @rapidsai/ci-codeowners, @rapidsai/cuspatial-python-codeowners

.github/CODEOWNERS:

# cpp code owners
cpp/               @rapidsai/cuspatial-cpp-codeowners

# python code owners
python/            @rapidsai/cuspatial-python-codeowners

# cmake code owners
CMakeLists.txt     @rapidsai/cuspatial-cmake-codeowners
**/cmake/          @rapidsai/cuspatial-cmake-codeowners
*.cmake            @rapidsai/cuspatial-cmake-codeowners

# CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners

# packaging code owners
/.pre-commit-config.yaml @rapidsai/packaging-codeowners
/.devcontainer/          @rapidsai/packaging-codeowners
/conda/                  @rapidsai/packaging-codeowners
dependencies.yaml        @rapidsai/packaging-codeowners
/build.sh                @rapidsai/packaging-codeowners
pyproject.toml           @rapidsai/packaging-codeowners
