Repository rapidsai/cuspatial, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cuspatial-cpp-codeowners, @rapidsai/cuspatial-python-codeowners, @rapidsai/cuspatial-cmake-codeowners, @rapidsai/ops-codeowners

Don't specify default script name.
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Owners: @rapidsai/ops-codeowners

Define CUSPATIAL_HOME.
  ci/test_cpp.sh
  ci/test_python.sh
Owners: @rapidsai/ops-codeowners

Finish abstracting pip based ops.
  python/cuspatial/cuspatial/core/binops/binops.py
  python/cuspatial/cuspatial/core/geoseries.py
Owners: @rapidsai/cuspatial-python-codeowners

Require checks.
  .github/workflows/pr.yaml
Owners: @rapidsai/ops-codeowners

Re-enable sccache for Jenkins.
  ci/cpu/build.sh
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

Add needs.
  .github/workflows/pr.yaml
Owners: @rapidsai/ops-codeowners

address reviews
  cpp/include/cuspatial/experimental/detail/linestring_intersection_with_duplicates.cuh
  cpp/include/cuspatial/experimental/ranges/range.cuh
  cpp/tests/experimental/spatial/linestring_intersection_with_duplicates_test.cu
Owners: @rapidsai/cuspatial-cpp-codeowners

Pass all multi tests.
  python/cuspatial/cuspatial/core/binops/binops.py
  python/cuspatial/cuspatial/core/geoseries.py
Owners: @rapidsai/cuspatial-python-codeowners

add more basic tests
  cpp/tests/experimental/spatial/linestring_intersection_with_duplicates_test.cu
Owners: @rapidsai/cuspatial-cpp-codeowners

Remove lonlat_to_cartesian, update docs
  cpp/include/cuspatial/coordinate_transform.hpp
  cpp/src/spatial/sinusoidal_projection.cu
  docs/source/api_docs/spatial.rst
  docs/source/user_guide/cuspatial_api_examples.ipynb
  java/src/main/native/src/cuSpatialJni.cpp
  python/cuspatial/benchmarks/api/bench_api.py
  python/cuspatial/cuspatial/__init__.py
  python/cuspatial/cuspatial/core/spatial/__init__.py
  python/cuspatial/cuspatial/core/spatial/projection.py
  python/cuspatial/demos/traj_test_soa_locust.py
Owners: @rapidsai/cuspatial-cpp-codeowners, @rapidsai/cuspatial-python-codeowners

Unused import
  python/cuspatial/cuspatial/core/spatial/projection.py
Owners: @rapidsai/cuspatial-python-codeowners

Remove deprecated min_size parameter
  python/cuspatial/cuspatial/core/spatial/indexing.py
Owners: @rapidsai/cuspatial-python-codeowners

Update API examples
  docs/source/user_guide/cuspatial_api_examples.ipynb
Owners: none

Add Missing License in `Distance.py` (#840)
  python/cuspatial/cuspatial/_lib/distance.pyx
Owners: @rapidsai/cuspatial-python-codeowners

Change pip implementation to use quadtree.
  cpp/src/utility/point_in_polygon.cuh
  python/cuspatial/cuspatial/core/binops/contains.py
Owners: @rapidsai/cuspatial-cpp-codeowners, @rapidsai/cuspatial-python-codeowners

Remove deprecated min_size parameter from quadtree_on_points (#843)
  docs/source/user_guide/cuspatial_api_examples.ipynb
  python/cuspatial/cuspatial/core/spatial/indexing.py
Owners: @rapidsai/cuspatial-python-codeowners

apply review comments
  cpp/include/cuspatial/detail/utility/floating_point.cuh
  cpp/include/cuspatial/detail/utility/linestring.cuh
  cpp/include/cuspatial/experimental/detail/find/find_point_on_segments.cuh
Owners: @rapidsai/cuspatial-cpp-codeowners

Add sinusoidal_distance output back to notebook
  docs/source/user_guide/cuspatial_api_examples.ipynb
Owners: none

address reviews
  cpp/include/cuspatial/experimental/detail/find/find_point_on_segments.cuh
Owners: @rapidsai/cuspatial-cpp-codeowners

Add deduction guides.
  cpp/include/cuspatial/experimental/geometry/box.hpp
  cpp/include/cuspatial/vec_2d.hpp
Owners: @rapidsai/cuspatial-cpp-codeowners

Fix index_to_geometry_id to actually return an ID and fix examples in docs.
  cpp/include/cuspatial/experimental/iterator_factory.cuh
Owners: @rapidsai/cuspatial-cpp-codeowners

Add equals only binops.
  python/cuspatial/cuspatial/tests/binops/test_equals_only_binops.py
Owners: @rapidsai/cuspatial-python-codeowners

Remove deprecated lonlat_to_cartesian functions (#842)
  cpp/include/cuspatial/coordinate_transform.hpp
  cpp/src/spatial/sinusoidal_projection.cu
  docs/source/api_docs/spatial.rst
  docs/source/user_guide/cuspatial_api_examples.ipynb
  java/src/main/native/src/cuSpatialJni.cpp
  python/cuspatial/benchmarks/api/bench_api.py
  python/cuspatial/cuspatial/__init__.py
  python/cuspatial/cuspatial/core/spatial/__init__.py
  python/cuspatial/cuspatial/core/spatial/projection.py
  python/cuspatial/demos/traj_test_soa_locust.py
Owners: @rapidsai/cuspatial-cpp-codeowners, @rapidsai/cuspatial-python-codeowners

New strict crossings multiply PIP algorithm
  cpp/include/cuspatial/experimental/detail/is_point_in_polygon.cuh
  cpp/include/cuspatial/experimental/detail/point_in_polygon.cuh
Owners: @rapidsai/cuspatial-cpp-codeowners

update changelog
  CHANGELOG.md
Owners: none

libcusparse-dev requires libcusparse, so don't specify both.
  dependencies.yaml
Owners: @rapidsai/ops-codeowners

libcusparse-dev requires libcusparse, so don't specify both.
  conda/recipes/libcuspatial/meta.yaml
Owners: @rapidsai/ops-codeowners

Update environment.
  conda/environments/all_cuda-115_arch-x86_64.yaml
Owners: @rapidsai/ops-codeowners

use segment methods
  cpp/include/cuspatial/detail/utility/linestring.cuh
  cpp/include/cuspatial/experimental/geometry/segment.cuh
Owners: @rapidsai/cuspatial-cpp-codeowners

zero initialize array in kernel
  cpp/include/cuspatial/experimental/detail/find/find_and_combine_segment.cuh
  cpp/include/cuspatial/experimental/detail/find/find_duplicate_points.cuh
Owners: @rapidsai/cuspatial-cpp-codeowners

simplify tests
  cpp/include/cuspatial_test/vector_equality.hpp
  cpp/include/cuspatial_test/vector_factories.cuh
  cpp/tests/experimental/find/find_and_combine_segments_test.cu
Owners: @rapidsai/cuspatial-cpp-codeowners

undef test macro
  cpp/tests/experimental/find/find_and_combine_segments_test.cu
Owners: @rapidsai/cuspatial-cpp-codeowners

Use new macro
  cpp/include/cuspatial_test/vector_equality.hpp
  cpp/tests/experimental/find/find_and_combine_segments_test.cu
Owners: @rapidsai/cuspatial-cpp-codeowners

remove duplicate definition of segment arrays
  cpp/include/cuspatial_test/vector_factories.cuh
Owners: @rapidsai/cuspatial-cpp-codeowners

Rename binops to binpreds.
  python/cuspatial/cuspatial/core/binpreds/__init__.py
  python/cuspatial/cuspatial/core/binpreds/binpreds.py
  python/cuspatial/cuspatial/core/binpreds/contains.py
  python/cuspatial/cuspatial/core/geoseries.py
Owners: @rapidsai/cuspatial-python-codeowners

adding new bottom-up traverse helper; use ephemeral atomic_ref object
  cpp/include/cuspatial/experimental/detail/linestring_intersection_with_duplicates.cuh
  cpp/include/cuspatial/experimental/detail/ranges/multilinestring_range.cuh
  cpp/include/cuspatial/experimental/ranges/multilinestring_range.cuh
Owners: @rapidsai/cuspatial-cpp-codeowners

Cleaning up based on review.
  python/cuspatial/cuspatial/core/binpreds/binpreds.py
  python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/tests/binpreds/test_contains_properly.py
  python/cuspatial/cuspatial/tests/binpreds/test_pip_only_binpreds.py
Owners: @rapidsai/cuspatial-python-codeowners

Cleaned up unneeded future material.
  python/cuspatial/cuspatial/core/binpreds/binpreds.py
  python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/tests/binpreds/test_pip_only_binpreds.py
Owners: @rapidsai/cuspatial-python-codeowners

Resolve has_same_dimension naming issue.
  python/cuspatial/cuspatial/core/binpreds/binpreds.py
  python/cuspatial/cuspatial/utils/column_utils.py
Owners: @rapidsai/cuspatial-python-codeowners

add enumerate_range
  cpp/include/cuspatial/experimental/detail/linestring_intersection_with_duplicates.cuh
  cpp/include/cuspatial/experimental/geometry/linestring_ref.cuh
  cpp/include/cuspatial/experimental/geometry_collection/multilinestring_ref.cuh
  cpp/include/cuspatial/experimental/ranges/multilinestring_range.cuh
Owners: @rapidsai/cuspatial-cpp-codeowners

.github/CODEOWNERS:

# cpp code owners
cpp/               @rapidsai/cuspatial-cpp-codeowners

# python code owners
python/            @rapidsai/cuspatial-python-codeowners

# cmake code owners
**/CMakeLists.txt  @rapidsai/cuspatial-cmake-codeowners
**/cmake/          @rapidsai/cuspatial-cmake-codeowners

# build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
dependencies.yaml  @rapidsai/ops-codeowners
