Repository rapidsai/cuspatial, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cuspatial-cpp-codeowners, @rapidsai/cuspatial-python-codeowners, @rapidsai/cuspatial-cmake-codeowners, @rapidsai/ops-codeowners

implementation tparam names
  cpp/include/cuspatial/experimental/detail/polygon_bounding_boxes.cuh
Owners: @rapidsai/cuspatial-cpp-codeowners

header-only linestring_bounding_boxes refactor
  cpp/include/cuspatial/experimental/detail/linestring_bounding_boxes.cuh
  cpp/include/cuspatial/experimental/linestring_bounding_boxes.cuh
  cpp/src/spatial/linestring_bounding_box.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/experimental/spatial/linestring_bounding_boxes_test.cu
  cpp/tests/spatial/linestring_bbox_test.cu
  cpp/tests/spatial/linestring_bounding_boxes_test.cu
Owners: @rapidsai/cuspatial-cpp-codeowners, @rapidsai/cuspatial-cmake-codeowners

Fix example layout again.
  python/cuspatial/cuspatial/core/geoseries.py
Owners: @rapidsai/cuspatial-python-codeowners

Update python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/core/geoseries.py
Owners: @rapidsai/cuspatial-python-codeowners

Update python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/core/geoseries.py
Owners: @rapidsai/cuspatial-python-codeowners

Update python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/core/geoseries.py
Owners: @rapidsai/cuspatial-python-codeowners

Apply suggestions from code review
  python/cuspatial/cuspatial/core/binops/contains.py
  python/cuspatial/cuspatial/core/geoseries.py
Owners: @rapidsai/cuspatial-python-codeowners

Get rid of GeoPandas round trip in .contains_properly example and fix docs once more.
  python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/tests/test_contains.py
Owners: @rapidsai/cuspatial-python-codeowners

Style issue, black is hopefully not breaking flake8 in CI.
  python/cuspatial/cuspatial/core/binops/contains.py
Owners: @rapidsai/cuspatial-python-codeowners

Add __init__.py to binops hoping to resolve CI issue.
  python/cuspatial/cuspatial/core/binops/__init__.py
Owners: @rapidsai/cuspatial-python-codeowners

Need test_contains_properly.py
  python/cuspatial/cuspatial/tests/binops/test_contains_properly.py
Owners: @rapidsai/cuspatial-python-codeowners

Remove xfails.
  python/cuspatial/cuspatial/tests/binops/test_contains_properly.py
Owners: @rapidsai/cuspatial-python-codeowners

Update python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/core/geoseries.py
Owners: @rapidsai/cuspatial-python-codeowners

Create `GeoSeries.contains_properly` method using point_in_polygon. (#749)
  python/cuspatial/benchmarks/api/bench_api.py
  python/cuspatial/cuspatial/_lib/CMakeLists.txt
  python/cuspatial/cuspatial/_lib/cpp/pairwise_point_in_polygon.pxd
  python/cuspatial/cuspatial/_lib/pairwise_point_in_polygon.pyx
  python/cuspatial/cuspatial/core/binops/__init__.py
  python/cuspatial/cuspatial/core/binops/contains.py
  python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/tests/binops/test_contains_properly.py
  python/cuspatial/cuspatial/tests/conftest.py
  python/cuspatial/cuspatial/utils/column_utils.py
Owners: @rapidsai/cuspatial-python-codeowners, @rapidsai/cuspatial-cmake-codeowners

Start refactoring binops to handle various ops and inputs.
  python/cuspatial/cuspatial/core/binops/binops.py
  python/cuspatial/cuspatial/core/geoseries.py
Owners: @rapidsai/cuspatial-python-codeowners

Abstraction working with binops that depend on pip.
  python/cuspatial/cuspatial/core/binops/binops.py
  python/cuspatial/cuspatial/tests/binops/test_pip_only_binops.py
Owners: @rapidsai/cuspatial-python-codeowners

Clean it up in GeoSeries.
  python/cuspatial/cuspatial/core/geoseries.py
Owners: @rapidsai/cuspatial-python-codeowners

Correct abstraction for pip_only tests.
  python/cuspatial/cuspatial/core/binops/binops.py
Owners: @rapidsai/cuspatial-python-codeowners

First draft of GitHub Actions for cuspatial.
  .github/labeler.yml
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/build_cpp.sh
  ci/build_python.sh
  ci/check_style.sh
  ci/cpu/build.sh
  ci/test_cpp.sh
  ci/test_python.sh
  conda/environments/all_cuda-115_arch-x86_64.yaml
  conda/recipes/cuspatial/meta.yaml
  conda/recipes/libcuspatial/meta.yaml
  dependencies.yaml
  python/cuspatial/.coveragerc
Owners: @rapidsai/ops-codeowners, @rapidsai/cuspatial-python-codeowners

Enable copy_prs.
  .github/ops-bot.yaml
Owners: @rapidsai/ops-codeowners

Update .github/ops-bot.yaml
  .github/ops-bot.yaml
Owners: @rapidsai/ops-codeowners

Enable copy_prs. [skip gpuci] (#837)
  .github/ops-bot.yaml
Owners: @rapidsai/ops-codeowners

Support the seven extra pip tests.
  python/cuspatial/cuspatial/core/binops/binops.py
  python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/tests/binops/test_pip_only_binops.py
Owners: @rapidsai/cuspatial-python-codeowners

Support all supportable pip calls.
  python/cuspatial/cuspatial/core/binops/binops.py
  python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/tests/binops/test_pip_only_binops.py
  python/cuspatial/cuspatial/utils/column_utils.py
Owners: @rapidsai/cuspatial-python-codeowners

Remove unused abstraction.
  python/cuspatial/cuspatial/core/binops/binops.py
Owners: @rapidsai/cuspatial-python-codeowners

Clean up binops.intersects docs.
  python/cuspatial/cuspatial/core/binops/binops.py
Owners: @rapidsai/cuspatial-python-codeowners

Add gtest/gmock as build dependencies.
  conda/recipes/libcuspatial/meta.yaml
  dependencies.yaml
Owners: @rapidsai/ops-codeowners

Add gtest to CMake.
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_gtest.cmake
Owners: @rapidsai/cuspatial-cmake-codeowners

Temporarily skip checks requirement for C++ builds.
  .github/workflows/pr.yaml
Owners: @rapidsai/ops-codeowners

Pass all equals tests except one.
  python/cuspatial/cuspatial/core/binops/binops.py
  python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/utils/column_utils.py
Owners: @rapidsai/cuspatial-python-codeowners

Add cusparse.
  conda/environments/all_cuda-115_arch-x86_64.yaml
  dependencies.yaml
Owners: @rapidsai/ops-codeowners

add missing license
  python/cuspatial/cuspatial/_lib/distance.pyx
Owners: @rapidsai/cuspatial-python-codeowners

use unique_ptr for all non-temporary, owning objects
  cpp/include/cuspatial/experimental/detail/linestring_intersection_with_duplicates.cuh
  cpp/tests/experimental/spatial/linestring_intersection_with_duplicates_test.cu
Owners: @rapidsai/cuspatial-cpp-codeowners

style
  cpp/tests/experimental/spatial/linestring_intersection_with_duplicates_test.cu
Owners: @rapidsai/cuspatial-cpp-codeowners

add error handling
  cpp/include/cuspatial/experimental/detail/find/find_and_combine_segment.cuh
Owners: @rapidsai/cuspatial-cpp-codeowners

add error handling
  cpp/include/cuspatial/experimental/detail/find/find_point_on_segments.cuh
Owners: @rapidsai/cuspatial-cpp-codeowners

use the libcudf test macros
  cpp/tests/indexing/point_quadtree_test.cu
  cpp/tests/interpolate/cubic_spline_test.cpp
  cpp/tests/join/point_in_polygon_test_large.cpp
  cpp/tests/join/point_in_polygon_test_small.cpp
  cpp/tests/join/point_to_nearest_linestring_test_small.cpp
  cpp/tests/join/quadtree_linestring_filtering_test.cu
  cpp/tests/join/quadtree_polygon_filtering_test.cu
  cpp/tests/spatial/haversine_test.cpp
  cpp/tests/spatial/linestring_bbox_test.cu
  cpp/tests/spatial/pairwise_point_in_polygon_test.cpp
  cpp/tests/spatial/point_in_polygon_test.cpp
  cpp/tests/spatial/polygon_bbox_test.cu
Owners: @rapidsai/cuspatial-cpp-codeowners

fix brokent test
  cpp/tests/join/point_to_nearest_linestring_test_small.cpp
Owners: @rapidsai/cuspatial-cpp-codeowners

Use Libcudf Test Macro (#841)
  cpp/tests/indexing/point_quadtree_test.cu
  cpp/tests/interpolate/cubic_spline_test.cpp
  cpp/tests/join/point_in_polygon_test_large.cpp
  cpp/tests/join/point_in_polygon_test_small.cpp
  cpp/tests/join/point_to_nearest_linestring_test_small.cpp
  cpp/tests/join/quadtree_linestring_filtering_test.cu
  cpp/tests/join/quadtree_polygon_filtering_test.cu
  cpp/tests/spatial/haversine_test.cpp
  cpp/tests/spatial/linestring_bbox_test.cu
  cpp/tests/spatial/pairwise_point_in_polygon_test.cpp
  cpp/tests/spatial/point_in_polygon_test.cpp
  cpp/tests/spatial/polygon_bbox_test.cu
Owners: @rapidsai/cuspatial-cpp-codeowners

Add libcusparse to meta.yaml.
  conda/recipes/libcuspatial/meta.yaml
Owners: @rapidsai/ops-codeowners

.github/CODEOWNERS:

# cpp code owners
cpp/               @rapidsai/cuspatial-cpp-codeowners

# python code owners
python/            @rapidsai/cuspatial-python-codeowners

# cmake code owners
**/CMakeLists.txt  @rapidsai/cuspatial-cmake-codeowners
**/cmake/          @rapidsai/cuspatial-cmake-codeowners

# build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
dependencies.yaml  @rapidsai/ops-codeowners
