Repository rapidsai/cuspatial, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cuspatial-cpp-codeowners, @rapidsai/cuspatial-python-codeowners, @rapidsai/cuspatial-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

# cpp code owners
cpp/               @rapidsai/cuspatial-cpp-codeowners

# python code owners
python/            @rapidsai/cuspatial-python-codeowners

# cmake code owners
**/CMakeLists.txt  @rapidsai/cuspatial-cmake-codeowners
**/cmake/          @rapidsai/cuspatial-cmake-codeowners

# build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
dependencies.yaml  @rapidsai/ops-codeowners

more adding to the enumerate range
  cpp/include/cuspatial/experimental/detail/ranges/enumerate_range.cuh
  cpp/include/cuspatial/experimental/geometry/linestring_ref.cuh
Owners: @rapidsai/cuspatial-cpp-codeowners

a new zero data helper
  cpp/include/cuspatial/detail/utility/zero_data.cuh
  cpp/include/cuspatial/experimental/detail/linestring_intersection_with_duplicates.cuh
Owners: @rapidsai/cuspatial-cpp-codeowners

Update cpp/include/doxygen_groups.h
  cpp/include/doxygen_groups.h
Owners: @rapidsai/cuspatial-cpp-codeowners

Fix postprocess docs.
  python/cuspatial/cuspatial/core/binpreds/binpreds.py
Owners: @rapidsai/cuspatial-python-codeowners

Factor out op string argument and move logic to the __call__ function instead of __init__.
  python/cuspatial/cuspatial/core/binpreds/binpreds.py
  python/cuspatial/cuspatial/core/geoseries.py
Owners: @rapidsai/cuspatial-python-codeowners

Fix bug with complete overlap
  python/cuspatial/cuspatial/core/binpreds/binpreds.py
  python/cuspatial/cuspatial/tests/binpreds/test_pip_only_binpreds.py
Owners: @rapidsai/cuspatial-python-codeowners

Pass all equals only tests with new factoring.
  python/cuspatial/cuspatial/core/binpreds/binpreds.py
  python/cuspatial/cuspatial/core/geoseries.py
Owners: @rapidsai/cuspatial-python-codeowners

Fix contains issue.
  python/cuspatial/cuspatial/core/geoseries.py
Owners: @rapidsai/cuspatial-python-codeowners

refactor tests to remove duplicates
  cpp/include/cuspatial_test/vector_equality.hpp
  cpp/tests/experimental/spatial/linestring_intersection_with_duplicates_test.cu
Owners: @rapidsai/cuspatial-cpp-codeowners

Passing five tests.
  python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/tests/test_align.py
Owners: @rapidsai/cuspatial-python-codeowners

Comment align for developers.
  python/cuspatial/cuspatial/core/geoseries.py
Owners: @rapidsai/cuspatial-python-codeowners

Restructuring and renaming.
  python/cuspatial/cuspatial/tests/test_align.py
Owners: @rapidsai/cuspatial-python-codeowners

Restructuring and renaming.
  python/cuspatial/cuspatial/tests/test_align.py
Owners: @rapidsai/cuspatial-python-codeowners

Fix randomness for test.
  python/cuspatial/cuspatial/tests/test_align.py
Owners: @rapidsai/cuspatial-python-codeowners

initial port from dev branch
  cpp/include/cuspatial/experimental/detail/linestring_intersection_with_duplicates.cuh
  cpp/include/cuspatial_test/vector_factories.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/experimental/spatial/linestring_intersection_intermediates_remove_if_test.cu
Owners: @rapidsai/cuspatial-cpp-codeowners, @rapidsai/cuspatial-cmake-codeowners

replace wording: stencil with flag
  cpp/include/cuspatial/experimental/detail/linestring_intersection_with_duplicates.cuh
Owners: @rapidsai/cuspatial-cpp-codeowners

compile intersection tests
  cpp/include/cuspatial/experimental/detail/linestring_intersection.cuh
  cpp/include/cuspatial/experimental/linestring_intersection.cuh
  cpp/tests/CMakeLists.txt
Owners: @rapidsai/cuspatial-cpp-codeowners, @rapidsai/cuspatial-cmake-codeowners

refactor tests to make simpler
  cpp/include/cuspatial/experimental/detail/linestring_intersection.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/experimental/find/find_and_combine_segments_test.cu
  cpp/tests/experimental/spatial/linestring_intersection_test.cu
Owners: @rapidsai/cuspatial-cpp-codeowners, @rapidsai/cuspatial-cmake-codeowners
