Repository rapidsai/cuspatial, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cuspatial-cpp-codeowners, @rapidsai/cuspatial-python-codeowners, @rapidsai/cuspatial-cmake-codeowners, @rapidsai/ops-codeowners

Resolve circular import issue.
  python/cuspatial/cuspatial/core/binops/binops_with_quadtree.py
  python/cuspatial/cuspatial/core/binops/contains.py
  python/cuspatial/cuspatial/core/geoseries.py
Owners: @rapidsai/cuspatial-python-codeowners

Pass pytests and refactor to got/expected pattern.
  python/cuspatial/cuspatial/tests/conftest.py
  python/cuspatial/cuspatial/tests/test_contains.py
Owners: @rapidsai/cuspatial-python-codeowners

Add one more test case.
  python/cuspatial/cuspatial/tests/test_contains.py
Owners: @rapidsai/cuspatial-python-codeowners

Write detailed xfail descriptions.
  python/cuspatial/cuspatial/tests/test_contains.py
Owners: @rapidsai/cuspatial-python-codeowners

Update python/cuspatial/cuspatial/_lib/cpp/pairwise_point_in_polygon.pxd
  python/cuspatial/cuspatial/_lib/cpp/pairwise_point_in_polygon.pxd
Owners: @rapidsai/cuspatial-python-codeowners

Update python/cuspatial/cuspatial/_lib/pairwise_point_in_polygon.pyx
  python/cuspatial/cuspatial/_lib/pairwise_point_in_polygon.pyx
Owners: @rapidsai/cuspatial-python-codeowners

Update python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/core/geoseries.py
Owners: @rapidsai/cuspatial-python-codeowners

Update python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/core/geoseries.py
Owners: @rapidsai/cuspatial-python-codeowners

Tweak a comment.
  python/cuspatial/cuspatial/core/geoseries.py
Owners: @rapidsai/cuspatial-python-codeowners

Add comments back to generators.
  python/cuspatial/cuspatial/tests/conftest.py
Owners: @rapidsai/cuspatial-python-codeowners

Write more fixture docs.
  python/cuspatial/cuspatial/tests/conftest.py
Owners: @rapidsai/cuspatial-python-codeowners

Reorder got/expected.
  python/cuspatial/cuspatial/tests/test_contains.py
Owners: @rapidsai/cuspatial-python-codeowners

Update one more test description.
  python/cuspatial/cuspatial/tests/test_contains.py
Owners: @rapidsai/cuspatial-python-codeowners

Create .contains examples.
  python/cuspatial/cuspatial/core/binops/contains.py
Owners: @rapidsai/cuspatial-python-codeowners

Move .contains docs to geoseries.py
  python/cuspatial/cuspatial/core/binops/contains.py
  python/cuspatial/cuspatial/core/geoseries.py
Owners: @rapidsai/cuspatial-python-codeowners

Remove binops with quadtree.
  python/cuspatial/cuspatial/core/binops/binops_with_quadtree.py
Owners: @rapidsai/cuspatial-python-codeowners

Fix test issue with sporadic groupby reordering.
  python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/tests/test_contains.py
Owners: @rapidsai/cuspatial-python-codeowners

Fix benchmark regression from 22.12
  python/cuspatial/benchmarks/api/bench_api.py
Owners: @rapidsai/cuspatial-python-codeowners

Fix bug with benchmark point_in_polygon
  python/cuspatial/benchmarks/api/bench_api.py
Owners: @rapidsai/cuspatial-python-codeowners

Create `pairwise_point_in_polygon` to be used by pairwise `GeoSeries` (#750)
  cpp/CMakeLists.txt
  cpp/include/cuspatial/experimental/detail/is_point_in_polygon.cuh
  cpp/include/cuspatial/experimental/detail/pairwise_point_in_polygon.cuh
  cpp/include/cuspatial/experimental/pairwise_point_in_polygon.cuh
  cpp/include/cuspatial/pairwise_point_in_polygon.hpp
  cpp/src/spatial/pairwise_point_in_polygon.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/experimental/spatial/pairwise_point_in_polygon_test.cu
  cpp/tests/experimental/spatial/point_in_polygon_test.cu
  cpp/tests/spatial/pairwise_point_in_polygon_test.cpp
  python/cuspatial/cuspatial/tests/spatial/join/test_point_in_polygon.py
Owners: @rapidsai/cuspatial-cmake-codeowners, @rapidsai/cuspatial-cpp-codeowners, @rapidsai/cuspatial-python-codeowners

Poly offsets is n+1 the size of points.
  python/cuspatial/cuspatial/core/binops/contains.py
Owners: @rapidsai/cuspatial-python-codeowners

Update python/cuspatial/cuspatial/tests/test_contains.py
  python/cuspatial/cuspatial/tests/test_contains.py
Owners: @rapidsai/cuspatial-python-codeowners

Update python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/core/geoseries.py
Owners: @rapidsai/cuspatial-python-codeowners

Update python/cuspatial/cuspatial/tests/conftest.py
  python/cuspatial/cuspatial/tests/conftest.py
Owners: @rapidsai/cuspatial-python-codeowners

Update python/cuspatial/cuspatial/tests/conftest.py
  python/cuspatial/cuspatial/tests/conftest.py
Owners: @rapidsai/cuspatial-python-codeowners

DRY-ify a function.
  python/cuspatial/cuspatial/core/binops/contains.py
Owners: @rapidsai/cuspatial-python-codeowners

Handling @isVoid's comments.
  python/cuspatial/cuspatial/core/binops/contains.py
  python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/tests/conftest.py
  python/cuspatial/cuspatial/tests/test_contains.py
Owners: @rapidsai/cuspatial-python-codeowners

Rename to contains_properly
  python/cuspatial/cuspatial/core/binops/contains.py
  python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/tests/test_contains.py
Owners: @rapidsai/cuspatial-python-codeowners

Update python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/core/geoseries.py
Owners: @rapidsai/cuspatial-python-codeowners

Update python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/core/geoseries.py
Owners: @rapidsai/cuspatial-python-codeowners

Update python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/core/geoseries.py
Owners: @rapidsai/cuspatial-python-codeowners

Handle more review comments.
  python/cuspatial/cuspatial/core/binops/contains.py
  python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/tests/conftest.py
Owners: @rapidsai/cuspatial-python-codeowners

Comment
  python/cuspatial/cuspatial/core/binops/contains.py
Owners: @rapidsai/cuspatial-python-codeowners

Fix alignment.
  python/cuspatial/cuspatial/core/geoseries.py
Owners: @rapidsai/cuspatial-python-codeowners

Add make_box_output_iterator and make_geometry_id_iterator factories.
  cpp/include/cuspatial/experimental/iterator_factory.cuh
Owners: @rapidsai/cuspatial-cpp-codeowners

box type
  cpp/include/cuspatial/experimental/geometry/box.hpp
Owners: @rapidsai/cuspatial-cpp-codeowners

use make_geometry_id_iterator
  cpp/include/cuspatial/experimental/detail/polygon_bounding_boxes.cuh
  cpp/include/cuspatial/experimental/polygon_bounding_boxes.cuh
Owners: @rapidsai/cuspatial-cpp-codeowners

Use box type
  cpp/include/cuspatial/experimental/detail/bounding_box.cuh
  cpp/src/spatial/linestring_bounding_box.cu
  cpp/src/spatial/polygon_bounding_box.cu
  cpp/src/trajectory/trajectory_bounding_boxes.cu
  cpp/tests/experimental/spatial/point_bounding_boxes_test.cu
  cpp/tests/experimental/spatial/polygon_bounding_boxes_test.cu
  cpp/tests/experimental/trajectory/trajectory_test_utils.cuh
Owners: @rapidsai/cuspatial-cpp-codeowners

doc
  cpp/include/cuspatial/experimental/polygon_bounding_boxes.cuh
  cpp/include/cuspatial/polygon_bounding_box.hpp
Owners: @rapidsai/cuspatial-cpp-codeowners

Correct tparam name in doc
  cpp/include/cuspatial/experimental/polygon_bounding_boxes.cuh
Owners: @rapidsai/cuspatial-cpp-codeowners

.github/CODEOWNERS:

# cpp code owners
cpp/               @rapidsai/cuspatial-cpp-codeowners

# python code owners
python/            @rapidsai/cuspatial-python-codeowners

# cmake code owners
**/CMakeLists.txt  @rapidsai/cuspatial-cmake-codeowners
**/cmake/          @rapidsai/cuspatial-cmake-codeowners

# build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
dependencies.yaml  @rapidsai/ops-codeowners
