Repository rapidsai/cuspatial, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, libcuspatial, CMake, ci, conda, Java

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples
# Adapted from https://github.com/rapidsai/cuspatial/blob/main/.github/CODEOWNERS
# Labels culled from https://github.com/rapidsai/cuspatial/labels

Python:
  - 'python/**'
  - 'notebooks/**'

libcuspatial:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'

ci:
  - 'ci/**'

conda:
    - 'conda/**'

Java:
  - 'java/**'

style
  python/cuspatial/cuspatial/_lib/intersection.pyx
Labels: Python

Set NVIDIA as the documentation author.
  docs/source/conf.py
Labels: none

Build CUDA 11.8 and Python 3.10 Packages (#865)
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/libcuspatial/conda_build_config.yaml
  dependencies.yaml
  python/cuspatial/setup.py
Labels: Python, conda

Update conf.py
  docs/source/conf.py
Labels: none

Fix documentation author (#866)
  docs/source/conf.py
Labels: none

initial draft
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  ci/build_docs.sh
  dependencies.yaml
Labels: ci

DOC
  conda/environments/all_cuda-118_arch-x86_64.yaml
  cpp/CMakeLists.txt
  cpp/doxygen/Doxyfile
  dependencies.yaml
  docs/source/conf.py
  fetch_rapids.cmake
  python/cuspatial/CMakeLists.txt
Labels: Python, libcuspatial, CMake, conda

chmod
  ci/build_docs.sh
Labels: ci

update build.docs.sh
  ci/build_docs.sh
Labels: ci

fix type
  ci/build_docs.sh
Labels: ci

add doxygen
  dependencies.yaml
Labels: none

update deps
  conda/environments/all_cuda-118_arch-x86_64.yaml
Labels: conda

refactor data_array_view
  python/cuspatial/cuspatial/core/spatial/distance.py
  python/cuspatial/cuspatial/utils/gis_utils.py
Labels: Python

np
  dependencies.yaml
Labels: none

deps
  conda/environments/all_cuda-118_arch-x86_64.yaml
Labels: conda

update deps.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  dependencies.yaml
Labels: conda

temporary changes
  ci/build_cpp.sh
  ci/build_python.sh
  ci/test_python.sh
Labels: ci

style
  python/cuspatial/cuspatial/utils/gis_utils.py
Labels: Python

address reviews
  python/cuspatial/cuspatial/core/spatial/distance.py
  python/cuspatial/cuspatial/utils/gis_utils.py
Labels: Python

style
  python/cuspatial/cuspatial/utils/gis_utils.py
Labels: Python

Deprecate shapefile reader.
  cpp/include/cuspatial/shapefile_reader.hpp
  docs/source/api_docs/io.rst
  docs/source/user_guide/cuspatial_api_examples.ipynb
  python/cuspatial/cuspatial/io/shapefile.py
Labels: Python, libcuspatial

style
  cpp/include/cuspatial/shapefile_reader.hpp
Labels: libcuspatial

Consistently use EXPECT_VECTORS_EQUIVALENT macros.
  cpp/include/cuspatial_test/vector_equality.hpp
  cpp/tests/experimental/indexing/point_quadtree_test.cu
  cpp/tests/experimental/spatial/hausdorff_test.cu
  cpp/tests/experimental/spatial/haversine_test.cu
  cpp/tests/experimental/spatial/linestring_bounding_boxes_test.cu
  cpp/tests/experimental/spatial/linestring_intersection_intermediates_remove_if_test.cu
  cpp/tests/experimental/spatial/linestring_intersection_with_duplicates_test.cu
  cpp/tests/experimental/spatial/point_bounding_boxes_test.cu
  cpp/tests/experimental/spatial/point_distance_test.cu
  cpp/tests/experimental/spatial/point_linestring_distance_test.cu
  cpp/tests/experimental/spatial/point_linestring_nearest_points_test.cu
  cpp/tests/experimental/spatial/points_in_range_test.cu
  cpp/tests/experimental/spatial/polygon_bounding_boxes_test.cu
  cpp/tests/experimental/spatial/sinusoidal_projection_test.cu
  cpp/tests/experimental/trajectory/derive_trajectories_test.cu
  cpp/tests/experimental/trajectory/trajectory_distances_and_speeds_test.cu
Labels: libcuspatial

style
  cpp/tests/experimental/spatial/haversine_test.cu
  cpp/tests/experimental/spatial/linestring_bounding_boxes_test.cu
  cpp/tests/experimental/spatial/point_linestring_distance_test.cu
  cpp/tests/experimental/spatial/point_linestring_nearest_points_test.cu
  cpp/tests/experimental/spatial/polygon_bounding_boxes_test.cu
  cpp/tests/experimental/trajectory/derive_trajectories_test.cu
Labels: libcuspatial

Create print_env.sh
  print_env.sh
Labels: none

Add print_env.sh usage to bug report template
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: none

Removing typo
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: none

Update python/cuspatial/cuspatial/core/spatial/distance.py
  python/cuspatial/cuspatial/core/spatial/distance.py
Labels: Python

Use vector equivalence macros consistently in header-only API tests. (#873)
  cpp/include/cuspatial_test/vector_equality.hpp
  cpp/tests/experimental/indexing/point_quadtree_test.cu
  cpp/tests/experimental/spatial/hausdorff_test.cu
  cpp/tests/experimental/spatial/haversine_test.cu
  cpp/tests/experimental/spatial/linestring_bounding_boxes_test.cu
  cpp/tests/experimental/spatial/linestring_intersection_intermediates_remove_if_test.cu
  cpp/tests/experimental/spatial/linestring_intersection_with_duplicates_test.cu
  cpp/tests/experimental/spatial/point_bounding_boxes_test.cu
  cpp/tests/experimental/spatial/point_distance_test.cu
  cpp/tests/experimental/spatial/point_linestring_distance_test.cu
  cpp/tests/experimental/spatial/point_linestring_nearest_points_test.cu
  cpp/tests/experimental/spatial/points_in_range_test.cu
  cpp/tests/experimental/spatial/polygon_bounding_boxes_test.cu
  cpp/tests/experimental/spatial/sinusoidal_projection_test.cu
  cpp/tests/experimental/trajectory/derive_trajectories_test.cu
  cpp/tests/experimental/trajectory/trajectory_distances_and_speeds_test.cu
Labels: libcuspatial

revert
  ci/build_cpp.sh
  ci/build_python.sh
  ci/test_python.sh
Labels: ci

Refactor calls to `data_array_view` (#871)
  python/cuspatial/cuspatial/core/spatial/distance.py
  python/cuspatial/cuspatial/utils/gis_utils.py
Labels: Python

Add link to print_env.sh
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: none

Apply suggestions from code review
  cpp/include/cuspatial/experimental/detail/join/intersection.cuh
Labels: libcuspatial

review
  ci/build_docs.sh
  dependencies.yaml
Labels: ci

pre-commit: Update isort version to 5.12.0
  .pre-commit-config.yaml
Labels: none

Add print_env.sh to improve bug reporting (#874)
  .github/ISSUE_TEMPLATE/bug_report.yml
  print_env.sh
Labels: none

Deprecate shapefile reader (#872)
  cpp/include/cuspatial/shapefile_reader.hpp
  docs/source/api_docs/io.rst
  docs/source/user_guide/cuspatial_api_examples.ipynb
  python/cuspatial/cuspatial/io/shapefile.py
Labels: Python, libcuspatial

pre-commit: Update isort version to 5.12.0 (#877)
  .pre-commit-config.yaml
Labels: none

Properly support equals operations.
  python/cuspatial/cuspatial/core/binpreds/binpreds.py
  python/cuspatial/cuspatial/tests/binpreds/test_equals_only_binops.py
  python/cuspatial/cuspatial/tests/binpreds/test_pip_only_binpreds.py
Labels: Python

rm -W flag
  ci/build_docs.sh
Labels: ci
