Repository rapidsai/cuspatial, pull requests merged in 2019-09, with the labels that each got.

#17 [REVIEW] DOC Remove template references and update for cuSpatial
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/submit-question.md
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Labels: 3 - Ready for Review

#16 [REVIEW] Bug fixes and tests for subset_trajectory_id()
  CHANGELOG.md
  cpp/include/cuspatial/trajectory.hpp
  cpp/src/trajectory/subset_trajectories.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/trajectory/test_trajectory_subset.cu
  cpp/tests/trajectory/trajectory_subset_toy.cu
  python/cuspatial/cuspatial/bindings/trajectory.pxd
  python/cuspatial/cuspatial/bindings/trajectory.pyx
Labels: testing

#26 [REVIEW] Trajectory pytests. Remove toy examples from tests.
  cpp/include/cuspatial/trajectory.hpp
  cpp/src/trajectory/trajectory_distance_speed.cu
  python/cuspatial/cuspatial/bindings/soa_readers.pyx
  python/cuspatial/cuspatial/bindings/trajectory.pyx
  python/cuspatial/cuspatial/demos/README.md
  python/cuspatial/cuspatial/tests/hausdorff_distance_test_toy.py
  python/cuspatial/cuspatial/tests/haversine_distance_test_toy.py
  python/cuspatial/cuspatial/tests/lonlat2coord_test_toy.py
  python/cuspatial/cuspatial/tests/pip_test_soa_toy.py
  python/cuspatial/cuspatial/tests/test_traj.py
Labels: 3 - Ready for Review

#41 [REVIEW] Python and Cython style cleanup, pre-commit hook
  .gitignore
  .pre-commit-config.yaml
  CHANGELOG.md
  ci/checks/style.sh
  python/cuspatial/cuspatial/__init__.py
  python/cuspatial/cuspatial/_lib/soa_readers.pxd
  python/cuspatial/cuspatial/_lib/soa_readers.pyx
  python/cuspatial/cuspatial/_lib/spatial.pxd
  python/cuspatial/cuspatial/_lib/spatial.pyx
  python/cuspatial/cuspatial/_lib/trajectory.pxd
  python/cuspatial/cuspatial/_lib/trajectory.pyx
  python/cuspatial/cuspatial/_version.py
  python/cuspatial/cuspatial/core/gis.py
  python/cuspatial/cuspatial/core/trajectory.py
  python/cuspatial/cuspatial/io/soa.py
  python/cuspatial/cuspatial/tests/test_hausdorff_distance.py
  python/cuspatial/cuspatial/tests/test_haversine_distance.py
  python/cuspatial/cuspatial/tests/test_lonlat2coord.py
  python/cuspatial/cuspatial/tests/test_pip.py
  python/cuspatial/cuspatial/tests/test_traj.py
  python/cuspatial/cuspatial/tests/test_window_points.py
  python/cuspatial/cuspatial/utils/traj_utils.py
  python/cuspatial/demos/hausdorff_clustering_test_toy.py
  python/cuspatial/demos/hausdorff_distance_verify_locust256.py
  python/cuspatial/demos/haversine_distance_test_nyctaxi.py
  python/cuspatial/demos/pip_test_gdal_locust.py
  python/cuspatial/demos/pip_test_shapely_locust.py
  python/cuspatial/demos/pip_verify_shapely_locust.py
  python/cuspatial/demos/stq_test_soa_locust.py
  python/cuspatial/demos/traj_test_soa_locust.py
  python/cuspatial/setup.py
Labels: 3 - Ready for Review, 4 - Needs Reviewer, gpuCI

#66 [BUGFIX] added missing header in tests
  CHANGELOG.md
  cpp/tests/trajectory/test_trajectory_derive.cu
Labels: 5 - Ready to Merge, bug

#33 [REVIEW] Bug fixes and gtests for cudf::trajectory_distance_and_speed()
  CHANGELOG.md
  cpp/include/cuspatial/hausdorff.hpp
  cpp/src/trajectory/trajectory_distance_speed.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/trajectory/test_trajectory_distance_speed.cu
  cpp/tests/trajectory/trajectory_distance_speed_toy.cu
Labels: 4 - Waiting on Author
