Repository rapidsai/cuspatial, pull requests merged in 2020-06, with the labels that each got.

#237 [REVIEW] Remove nvstrings references from CMakeLists.txt
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/tests/CMakeLists.txt
  python/cuspatial/setup.cfg
Labels: 5 - Ready to Merge, cuDF

#240 Remove references to deprecated rmm headers.
  CHANGELOG.md
  cpp/benchmarks/fixture/benchmark_fixture.hpp
Labels: 5 - Ready to Merge

#243 Install dependencies via meta package
  CHANGELOG.md
  ci/gpu/build.sh
Labels: 3 - Ready for Review

#225 [REVIEW] Add short commit to conda package
  CHANGELOG.md
  ci/cpu/build.sh
  conda/recipes/cuspatial/meta.yaml
  conda/recipes/libcuspatial/meta.yaml
Labels: 3 - Ready for Review, conda

#244 Pin gdal version
  CHANGELOG.md
  conda/recipes/cuspatial/meta.yaml
  conda/recipes/libcuspatial/meta.yaml
Labels: 3 - Ready for Review

#242 [REVIEW] Fix benchmark_fixture to use RMM resources
  CHANGELOG.md
  cpp/benchmarks/fixture/benchmark_fixture.hpp
Labels: 3 - Ready for Review

#245 [REVIEW] Pin gdal to be compatible with cuxfilter
  CHANGELOG.md
  conda/recipes/cuspatial/meta.yaml
  conda/recipes/libcuspatial/meta.yaml
Labels: 3 - Ready for Review

#247 [REVIEW] Use rmm::device_uvector and cudf::UINT types for quadtree construction
  CHANGELOG.md
  cpp/include/cuspatial/point_quadtree.hpp
  cpp/src/indexing/construction/detail/phase_1.cuh
  cpp/src/indexing/construction/detail/phase_2.cuh
  cpp/src/indexing/construction/point_quadtree.cu
  cpp/tests/indexing/point_quadtree_test.cu
  python/cuspatial/cuspatial/tests/test_indexing.py
Labels: 5 - Ready to Merge
