Repository rapidsai/cuspatial, pull requests merged in 2020-05, with the labels that each got.

#186 [REVIEW] Move haversine.hpp files to legacy
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cuspatial/legacy/haversine.hpp
  cpp/src/spatial/legacy/haversine.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/spatial/legacy/haversine_toy.cu
  python/cuspatial/cuspatial/_lib/spatial.pxd
Labels: 3 - Ready for Review, 5 - Ready to Merge

#182 [REVIEW] Local gpuCI build script
  CHANGELOG.md
  ci/local/README.md
  ci/local/build.sh
Labels: 3 - Ready for Review, gpuCI

#196 [REVIEW] Move utilites/utilites.hpp to legacy
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/src/io/shp/legacy/polygon_shapefile_reader.cpp
  cpp/src/io/shp/legacy/polygon_shapefile_reader.cu
  cpp/src/io/soa/point_soa_reader.cu
  cpp/src/io/soa/polygon_soa_reader.cu
  cpp/src/io/soa/timestamp_soa_reader.cu
  cpp/src/io/soa/uint32_soa_reader.cu
  cpp/src/query/spatial_window_points.cu
  cpp/src/spatial/legacy/hausdorff.cu
  cpp/src/spatial/legacy/haversine.cu
  cpp/src/spatial/legacy/lonlat_to_coordinate.cu
  cpp/src/spatial/legacy/point_in_polygon.cu
  cpp/src/trajectory/legacy/derive_trajectories.cu
  cpp/src/trajectory/legacy/subset_trajectories.cu
  cpp/src/trajectory/legacy/trajectory_spatial_bound.cu
  cpp/src/utility/legacy/utility.cpp
  cpp/src/utility/legacy/utility.hpp
  cpp/tests/io/legacy/read_shapefile_polygon_test.cu
  cpp/tests/query/spatial_window_test_toy.cu
  cpp/tests/spatial/legacy/coordinate_transform_test.cu
  cpp/tests/spatial/legacy/hausdorff_compare.cu
  cpp/tests/spatial/legacy/hausdorff_test.cu
  cpp/tests/spatial/legacy/pip_util.h
  cpp/tests/trajectory/legacy/traj_util.cpp
  cpp/tests/trajectory/legacy/trajectory_spatial_bounds_toy.cu
Labels: 3 - Ready for Review

#197 Move spatial_window_points/query.hpp to legacy
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cuspatial/legacy/query.hpp
  cpp/src/query/legacy/spatial_window_points.cu
  cpp/src/query/spatial_window_points.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/query/legacy/spatial_window_test_toy.cu
  cpp/tests/query/spatial_window_test_toy.cu
  python/cuspatial/cuspatial/_lib/spatial.pxd
Labels: 3 - Ready for Review, tech debt

#176 [REVIEW] soa_readers legacy migration and libcudf++ API
  CHANGELOG.md
  cpp/include/cuspatial/legacy/soa_readers.hpp
  cpp/include/cuspatial/soa_readers.hpp
  cpp/src/io/soa/point_soa_reader.cu
  cpp/src/io/soa/polygon_soa_reader.cu
  cpp/src/io/soa/timestamp_soa_reader.cu
  cpp/src/io/soa/uint32_soa_reader.cu
  cpp/tests/spatial/legacy/hausdorff_compare.cu
  cpp/tests/spatial/legacy/hausdorff_test.cu
  cpp/tests/spatial/legacy/pip_test.cu
  python/cuspatial/cuspatial/_lib/soa_readers.pxd
Labels: 2 - In Progress

#198 [REVIEW] Port spatial window query to libcudf++
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cuspatial/spatial_window.hpp
  cpp/src/spatial_window/legacy/spatial_window_points.cu
  cpp/src/spatial_window/spatial_window.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/spatial_window/legacy/spatial_window_test_toy.cu
  cpp/tests/spatial_window/spatial_window_test.cpp
  python/cuspatial/cuspatial/__init__.py
  python/cuspatial/cuspatial/_lib/cpp/spatial_window.pxd
  python/cuspatial/cuspatial/_lib/spatial_window.pyx
  python/cuspatial/cuspatial/core/gis.py
  python/cuspatial/cuspatial/core/spatial_window.py
  python/cuspatial/cuspatial/tests/test_points_in_spatial_window.py
  python/cuspatial/cuspatial/tests/test_window_points.py
Labels: 5 - Ready to Merge

#204 [REVIEW] Port shapefile_readers.hpp cython files
  CHANGELOG.md
  python/cuspatial/cuspatial/_lib/cpp/shapefile_reader.pxd
  python/cuspatial/cuspatial/_lib/shapefile_reader.pxd
  python/cuspatial/cuspatial/_lib/shapefile_reader.pyx
  python/cuspatial/cuspatial/io/shapefile.py
  python/cuspatial/cuspatial/tests/test_shapefile_reader.py
  python/cuspatial/setup.py
Labels: 3 - Ready for Review

#143 [REVIEW] construct quadtree on large-scale point data
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cuspatial/point_quadtree.hpp
  cpp/src/indexing/construction/detail/phase_1.cuh
  cpp/src/indexing/construction/detail/phase_2.cuh
  cpp/src/indexing/construction/detail/utilities.cuh
  cpp/src/indexing/construction/point_quadtree.cu
  cpp/src/utility/bbox_thrust.cuh
  cpp/src/utility/quadtree_thrust.cuh
  cpp/src/utility/z_order.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/indexing/point_quadtree_test.cu
  python/cuspatial/cuspatial/__init__.py
  python/cuspatial/cuspatial/_lib/cpp/quadtree.pxd
  python/cuspatial/cuspatial/_lib/move.pxd
  python/cuspatial/cuspatial/_lib/quadtree.pyx
  python/cuspatial/cuspatial/core/indexing.py
  python/cuspatial/cuspatial/tests/test_indexing.py
Labels: 3 - Ready for Review

#215 [REVIEW] Remove deprecated RMM calls from synchronization.cpp
  CHANGELOG.md
  cpp/benchmarks/synchronization/synchronization.cpp
  cpp/benchmarks/test/test_benchmark.cpp
Labels: 3 - Ready for Review

#212 [REVIEW] Remove cudf experimental namespace
  CHANGELOG.md
  cpp/include/cuspatial/cubic_spline.hpp
  cpp/include/cuspatial/hausdorff.hpp
  cpp/include/cuspatial/point_quadtree.hpp
  cpp/include/cuspatial/spatial_window.hpp
  cpp/include/cuspatial/trajectory.hpp
  cpp/src/indexing/construction/detail/utilities.cuh
  cpp/src/indexing/construction/point_quadtree.cu
  cpp/src/interpolate/cubic_spline.cu
  cpp/src/io/shp/polygon_shapefile_reader.cu
  cpp/src/spatial/hausdorff.cu
  cpp/src/spatial/haversine.cu
  cpp/src/spatial/lonlat_to_cartesian.cu
  cpp/src/spatial/point_in_polygon.cu
  cpp/src/spatial_window/spatial_window.cu
  cpp/src/trajectory/derive_trajectories.cu
  cpp/src/trajectory/trajectory_bounding_boxes.cu
  cpp/src/trajectory/trajectory_distances_and_speeds.cu
  cpp/tests/trajectory/test_trajectory_bounding_boxes.cu
  cpp/tests/trajectory/test_trajectory_distances_and_speeds.cu
  cpp/tests/trajectory/trajectory_utilities.cuh
Labels: 3 - Ready for Review

#228 [REVIEW] Fix polygon and polyline docstrings
  CHANGELOG.md
  cpp/include/cuspatial/polygon_bounding_box.hpp
  cpp/include/cuspatial/polyline_bounding_box.hpp
  cpp/include/cuspatial/trajectory.hpp
  cpp/src/spatial/polyline_bounding_box.cu
  cpp/tests/spatial/polyline_bbox_test.cu
  docs/source/api.rst
  python/cuspatial/cuspatial/_lib/polygon_bounding_boxes.pyx
  python/cuspatial/cuspatial/_lib/polyline_bounding_boxes.pyx
  python/cuspatial/cuspatial/_lib/trajectory.pyx
  python/cuspatial/cuspatial/core/gis.py
  python/cuspatial/cuspatial/core/trajectory.py
  python/cuspatial/cuspatial/tests/test_polygon_bounding_boxes.py
  python/cuspatial/cuspatial/tests/test_polyline_bounding_boxes.py
  python/cuspatial/cuspatial/tests/test_trajectory.py
Labels: 3 - Ready for Review, doc
