Repository rapidsai/cuspatial, pull requests merged in 2020-09, with the labels that each got.

#278 [REVIEW] Update googlebenchmark version to match rmm & cudf
  CHANGELOG.md
  cpp/cmake/Templates/GoogleBenchmark.CMakeLists.txt.cmake
Labels: 5 - Ready to Merge

#287 [REVIEW] Replace RMM get_default_resource with get_current_device_resource
  CHANGELOG.md
  conda/recipes/cuspatial/meta.yaml
  conda/recipes/libcuspatial/meta.yaml
  cpp/include/cuspatial/coordinate_transform.hpp
  cpp/include/cuspatial/hausdorff.hpp
  cpp/include/cuspatial/haversine.hpp
  cpp/include/cuspatial/point_in_polygon.hpp
  cpp/include/cuspatial/point_quadtree.hpp
  cpp/include/cuspatial/polygon_bounding_box.hpp
  cpp/include/cuspatial/polyline_bounding_box.hpp
  cpp/include/cuspatial/shapefile_reader.hpp
  cpp/include/cuspatial/spatial_join.hpp
  cpp/include/cuspatial/spatial_window.hpp
  cpp/include/cuspatial/trajectory.hpp
  cpp/src/indexing/construction/detail/utilities.cuh
  cpp/src/interpolate/cubic_spline.cu
  cpp/tests/trajectory/trajectory_utilities.cuh
Labels: 5 - Ready to Merge

#289 [REVIEW] Fix CMake warnings in external projects
  CHANGELOG.md
  cpp/cmake/Modules/ConfigureGoogleBenchmark.cmake
  cpp/cmake/Modules/ConfigureGoogleTest.cmake
  cpp/cmake/Templates/GoogleBenchmark.CMakeLists.txt.cmake
  cpp/cmake/Templates/GoogleTest.CMakeLists.txt.cmake
Labels: 5 - Ready to Merge, cmake

#286 [REVIEW] upgrade thrust to latest commit
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/cmake/thirdparty/CMakeLists.txt
  cpp/cmake/thirdparty/thrust-ret-if-fail.patch
  cpp/tests/CMakeLists.txt
Labels: 5 - Ready to Merge, cmake

#295 [REVIEW] Use move from libcpp.utility
  CHANGELOG.md
  cpp/include/cuspatial/trajectory.hpp
  python/cuspatial/cuspatial/_lib/cpp/coordinate_transform.pxd
  python/cuspatial/cuspatial/_lib/cpp/hausdorff.pxd
  python/cuspatial/cuspatial/_lib/cpp/interpolate.pxd
  python/cuspatial/cuspatial/_lib/cpp/point_in_polygon.pxd
  python/cuspatial/cuspatial/_lib/cpp/polygon_bounding_box.pxd
  python/cuspatial/cuspatial/_lib/cpp/polyline_bounding_box.pxd
  python/cuspatial/cuspatial/_lib/cpp/quadtree.pxd
  python/cuspatial/cuspatial/_lib/cpp/shapefile_reader.pxd
  python/cuspatial/cuspatial/_lib/cpp/spatial.pxd
  python/cuspatial/cuspatial/_lib/cpp/spatial_join.pxd
  python/cuspatial/cuspatial/_lib/cpp/spatial_window.pxd
  python/cuspatial/cuspatial/_lib/cpp/trajectory.pxd
  python/cuspatial/cuspatial/_lib/hausdorff.pyx
  python/cuspatial/cuspatial/_lib/interpolate.pyx
  python/cuspatial/cuspatial/_lib/move.pxd
  python/cuspatial/cuspatial/_lib/point_in_polygon.pyx
  python/cuspatial/cuspatial/_lib/polygon_bounding_boxes.pyx
  python/cuspatial/cuspatial/_lib/polyline_bounding_boxes.pyx
  python/cuspatial/cuspatial/_lib/quadtree.pyx
  python/cuspatial/cuspatial/_lib/shapefile_reader.pyx
  python/cuspatial/cuspatial/_lib/spatial.pyx
  python/cuspatial/cuspatial/_lib/spatial_join.pyx
  python/cuspatial/cuspatial/_lib/spatial_window.pyx
  python/cuspatial/cuspatial/_lib/trajectory.pyx
Labels: 5 - Ready to Merge, Cython

#292 [REVIEW] Update libcudf Test Utilities include paths
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/hausdorff_benchmark.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/indexing/point_quadtree_test.cu
  cpp/tests/interpolate/cubic_spline_test.cpp
  cpp/tests/io/shp/polygon_shapefile_reader_test.cpp
  cpp/tests/join/point_in_polygon_test_large.cpp
  cpp/tests/join/point_in_polygon_test_small.cpp
  cpp/tests/join/point_to_nearest_polyline_test_small.cpp
  cpp/tests/join/quadtree_polygon_filtering_test.cu
  cpp/tests/join/quadtree_polyline_filtering_test.cu
  cpp/tests/spatial/cartesian_product_group_index_iterator_test.cpp
  cpp/tests/spatial/coordinate_transform_test.cu
  cpp/tests/spatial/hausdorff_test.cpp
  cpp/tests/spatial/haversine_test.cpp
  cpp/tests/spatial/point_in_polygon_test.cpp
  cpp/tests/spatial/polygon_bbox_test.cu
  cpp/tests/spatial/polyline_bbox_test.cu
  cpp/tests/spatial_window/spatial_window_test.cpp
  cpp/tests/trajectory/test_derive_trajectories.cu
  cpp/tests/trajectory/test_trajectory_bounding_boxes.cu
  cpp/tests/trajectory/test_trajectory_distances_and_speeds.cu
  cpp/tests/trajectory/trajectory_utilities.cuh
Labels: 5 - Ready to Merge
