Repository rapidsai/cuspatial, pull requests merged in 2020-12, with the labels that each got.

#328 [REVIEW] Fix point in polygon test for cudf::gather breaking change
  CHANGELOG.md
  cpp/tests/join/point_in_polygon_test_large.cpp
Labels: 6 - Okay to Auto-Merge, bug, non-breaking, testing

#297 [REVIEW] Upgrade to libcu++ on GitHub
  CHANGELOG.md
  cpp/cmake/thirdparty/CMakeLists.txt
  cpp/include/cuspatial/point_in_polygon.hpp
  cpp/src/indexing/construction/detail/phase_1.cuh
  cpp/src/indexing/construction/detail/phase_2.cuh
  cpp/src/indexing/construction/point_quadtree.cu
  cpp/src/join/detail/intersection.cuh
  cpp/src/join/detail/traversal.cuh
  cpp/src/join/quadtree_point_in_polygon.cu
  cpp/src/join/quadtree_point_to_nearest_polyline.cu
  cpp/src/join/quadtree_poly_filtering.cu
  cpp/src/spatial/detail/cartesian_product_group_index_iterator.cuh
  cpp/src/spatial/detail/hausdorff.cuh
  cpp/src/spatial/hausdorff.cu
  cpp/src/trajectory/trajectory_distances_and_speeds.cu
  cpp/tests/spatial/cartesian_product_group_index_iterator_test.cpp
  cpp/tests/trajectory/test_derive_trajectories.cu
  cpp/tests/trajectory/test_trajectory_bounding_boxes.cu
  cpp/tests/trajectory/test_trajectory_distances_and_speeds.cu
Labels: 6 - Okay to Auto-Merge, improvement, non-breaking, tech debt

#332 Fix directed_hausdorff_distance space_offsets name + documentation
  CHANGELOG.md
  cpp/include/cuspatial/hausdorff.hpp
  cpp/src/spatial/hausdorff.cu
  python/cuspatial/cuspatial/_lib/cpp/hausdorff.pxd
  python/cuspatial/cuspatial/_lib/hausdorff.pyx
  python/cuspatial/cuspatial/core/gis.py
Labels: 6 - Okay to Auto-Merge, doc, documentation, non-breaking

#321 Gpuciscripts clean and update
  CHANGELOG.md
  ci/checks/changelog.sh
  ci/checks/style.sh
  ci/cpu/build.sh
  ci/cpu/cuspatial/build_cuspatial.sh
  ci/cpu/libcuspatial/build_libcuspatial.sh
  ci/cpu/upload.sh
  ci/cpu/upload_anaconda.sh
  ci/docs/build.sh
  ci/gpu/build.sh
  ci/local/README.md
Labels: 2 - In Progress, improvement, non-breaking

#331 Use simplified `rmm::exec_policy`
  CHANGELOG.md
  cpp/src/indexing/construction/detail/phase_1.cuh
  cpp/src/indexing/construction/detail/phase_2.cuh
  cpp/src/indexing/construction/point_quadtree.cu
  cpp/src/interpolate/cubic_spline.cu
  cpp/src/io/shp/polygon_shapefile_reader.cu
  cpp/src/join/detail/intersection.cuh
  cpp/src/join/detail/traversal.cuh
  cpp/src/join/quadtree_point_in_polygon.cu
  cpp/src/join/quadtree_point_to_nearest_polyline.cu
  cpp/src/join/quadtree_poly_filtering.cu
  cpp/src/spatial/hausdorff.cu
  cpp/src/spatial/haversine.cu
  cpp/src/spatial/lonlat_to_cartesian.cu
  cpp/src/spatial/polygon_bounding_box.cu
  cpp/src/spatial/polyline_bounding_box.cu
  cpp/src/trajectory/derive_trajectories.cu
  cpp/src/trajectory/trajectory_bounding_boxes.cu
  cpp/src/trajectory/trajectory_distances_and_speeds.cu
Labels: 6 - Okay to Auto-Merge, improvement, non-breaking
