Repository rapidsai/cuspatial, pull requests merged in 2020-08, with the labels that each got.

#260 [REVIEW] Replace CNMeM with pool_memory_resource
  CHANGELOG.md
  cpp/benchmarks/fixture/benchmark_fixture.hpp
Labels: 3 - Ready for Review

#149 [REVIEW] Add quadtree-based point-in-polygon and point-to-nearest-polyline
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cuspatial/polyline_bounding_box.hpp
  cpp/include/cuspatial/spatial_join.hpp
  cpp/src/join/quadtree_point_in_polygon.cu
  cpp/src/join/quadtree_point_to_nearest_polyline.cu
  cpp/src/utility/bbox_thrust.cuh
  cpp/src/utility/point_in_polygon.cuh
  cpp/src/utility/quadtree_thrust.cuh
  cpp/src/utility/trajectory_thrust.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/join/point_in_polygon_test_large.cpp
  cpp/tests/join/point_in_polygon_test_small.cpp
  cpp/tests/join/point_to_nearest_polyline_test_small.cpp
  docs/source/api.rst
  python/cuspatial/cuspatial/__init__.py
  python/cuspatial/cuspatial/_lib/cpp/spatial_join.pxd
  python/cuspatial/cuspatial/_lib/spatial_join.pyx
  python/cuspatial/cuspatial/core/spatial_join.py
  python/cuspatial/cuspatial/tests/test_spatial_join.py
Labels: 3 - Ready for Review

#264 [REVIEW] Rename quad_bbox_join to join_quadtree_and_bounding_boxes
  CHANGELOG.md
  cpp/include/cuspatial/spatial_join.hpp
  cpp/src/join/quadtree_poly_filtering.cu
  cpp/tests/join/point_in_polygon_test_large.cpp
  cpp/tests/join/point_in_polygon_test_small.cpp
  cpp/tests/join/point_to_nearest_polyline_test_small.cpp
  cpp/tests/join/quadtree_polygon_filtering_test.cu
  cpp/tests/join/quadtree_polyline_filtering_test.cu
  docs/source/api.rst
  python/cuspatial/cuspatial/__init__.py
  python/cuspatial/cuspatial/_lib/cpp/spatial_join.pxd
  python/cuspatial/cuspatial/_lib/spatial_join.pyx
  python/cuspatial/cuspatial/core/spatial_join.py
  python/cuspatial/cuspatial/tests/test_spatial_join.py
Labels: 5 - Ready to Merge

#268 [REVIEW] Fix cudf timestamp construction
  CHANGELOG.md
  cpp/src/trajectory/trajectory_distances_and_speeds.cu
  cpp/tests/spatial/coordinate_transform_test.cu
  cpp/tests/spatial/haversine_test.cpp
  cpp/tests/spatial/point_in_polygon_test.cpp
  cpp/tests/spatial_window/spatial_window_test.cpp
  cpp/tests/trajectory/test_trajectory_bounding_boxes.cu
  cpp/tests/trajectory/test_trajectory_distances_and_speeds.cu
  cpp/tests/trajectory/trajectory_utilities.cuh
Labels: ! - Release, 3 - Ready for Review

#281 [REVIEW] Patch Thrust to workaround CUDA_CUB_RET_IF_FAIL macro clearing CUDA errors
  CHANGELOG.md
  cpp/cmake/thirdparty/CMakeLists.txt
  cpp/cmake/thirdparty/thrust-ret-if-fail.patch
Labels: ! - Release
