Repository rapidsai/cuspatial, pull requests merged in 2021-12, with the labels that each got.

#469 [RELEASE] cuspatial v21.12
  CHANGELOG.md
  ci/cpu/prebuild.sh
  conda/environments/cuspatial_dev_cuda11.0.yml
  conda/environments/cuspatial_dev_cuda11.1.yml
  conda/environments/cuspatial_dev_cuda11.2.yml
  conda/recipes/libcuspatial/meta.yaml
  cpp/CMakeLists.txt
  cpp/cmake/Modules/ConfigureCUDA.cmake
  cpp/scripts/run-clang-format.py
  cpp/src/interpolate/cubic_spline.cu
  cpp/src/join/quadtree_poly_filtering.cu
  cpp/src/spatial/haversine.cu
  cpp/src/trajectory/trajectory_bounding_boxes.cu
  cpp/src/trajectory/trajectory_distances_and_speeds.cu
  docs/source/conf.py
  python/cuspatial/cuspatial/_lib/cpp/interpolate.pxd
  python/cuspatial/cuspatial/_lib/cpp/spatial_join.pxd
  python/cuspatial/cuspatial/_lib/cpp/spatial_window.pxd
  python/cuspatial/cuspatial/_lib/interpolate.pyx
  python/cuspatial/cuspatial/_lib/spatial_join.pyx
  python/cuspatial/cuspatial/_lib/spatial_window.pyx
  python/cuspatial/setup.py
Labels: conda, gpuCI, cmake, Python, cpp

#470 Remove `IncludeCategories` from `.clang-format`
  cpp/.clang-format
  cpp/src/io/shp/polygon_shapefile_reader.cpp
  cpp/tests/interpolate/cubic_spline_test.cpp
Labels: improvement, non-breaking, cpp

#472 Fix `test_pip_bitmap_column_to_binary_array` test
  python/cuspatial/cuspatial/tests/test_pip.py
Labels: Python, improvement, non-breaking

#471 Fix imports tests syntax
  conda/recipes/cuspatial/meta.yaml
Labels: conda, improvement, non-breaking
