Repository rapidsai/cuspatial, pull requests merged in 2021-06, with the labels that each got.

#410 Update version to 21.08.00 in cmakelists
  cpp/CMakeLists.txt
Labels: cmake, cpp, improvement, non-breaking

#385 Support spaces in build.sh paths
  ci/cpu/build.sh
  ci/docs/build.sh
  ci/gpu/build.sh
  ci/local/build.sh
Labels: 5 - Ready to Merge, gpuCI, improvement, non-breaking

#412 Fix update-version.sh [skip-ci]
  ci/release/update-version.sh
Labels: gpuCI, improvement, non-breaking

#416 Fix `21.06` CHANGELOG.md entries
  CHANGELOG.md
Labels: improvement, non-breaking

#418 Fix `21.08` forward-merge conflicts
  CHANGELOG.md
Labels: improvement, non-breaking

#421 Update sphinx config [skip ci]
  docs/source/conf.py
Labels: improvement, non-breaking

#405 Fix a critical issue with `parallel_search` functor.
  cpp/include/cuspatial/cubic_spline.hpp
  cpp/include/cuspatial/detail/cubic_spline.hpp
  cpp/src/interpolate/cubic_spline.cu
  cpp/tests/interpolate/cubic_spline_test.cpp
  python/cuspatial/cuspatial/tests/test_spline_fit.py
Labels: 3 - Ready for Review, Python, bug, cpp, non-breaking
