Repository rapidsai/cuspatial, pull requests merged in 2021-03, with the labels that each got.

#364 Prepare Changelog for Automation [skip ci]
  CHANGELOG.md
Labels: improvement, non-breaking

#347 [REVIEW] Pin gdal to 3.2.x
  ci/gpu/build.sh
  conda/recipes/cuspatial/meta.yaml
  conda/recipes/libcuspatial/meta.yaml
Labels: improvement, non-breaking

#366 Update Changelog Link [skip ci]
  CHANGELOG.md
Labels: improvement, non-breaking

#367 Eliminate literals passed to device_uvector::set_element_async
  cpp/src/join/detail/traversal.cuh
  cpp/src/join/quadtree_point_in_polygon.cu
Labels: 5 - Ready to Merge, improvement, non-breaking

#337 Auto-label PRs based on their content [skip-ci]
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: feature request, inactive-30d, non-breaking, tech debt

#369 Rename cartesian_product_group_index_iterator_test.cpp to .cu
  cpp/tests/CMakeLists.txt
  cpp/tests/spatial/cartesian_product_group_index_iterator_test.cu
Labels: 5 - Ready to Merge, bug, cmake, cpp, non-breaking

#365 Rework libcuspatial CMakeLists.txt to export targets for CPM
  build.sh
  conda/environments/cuspatial_dev_cuda10.1.yml
  conda/environments/cuspatial_dev_cuda10.2.yml
  conda/environments/cuspatial_dev_cuda11.0.yml
  conda/recipes/libcuspatial/build.sh
  conda/recipes/libcuspatial/meta.yaml
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/fixture/benchmark_fixture.hpp
  cpp/benchmarks/hausdorff_benchmark.cpp
  cpp/benchmarks/synchronization/synchronization.cpp
  cpp/cmake/Modules/ConfigureCUDA.cmake
  cpp/cmake/Modules/ConfigureGoogleBenchmark.cmake
  cpp/cmake/Modules/ConfigureGoogleTest.cmake
  cpp/cmake/Modules/EvalGPUArchs.cmake
  cpp/cmake/Modules/SetGPUArchs.cmake
  cpp/cmake/Templates/GoogleBenchmark.CMakeLists.txt.cmake
  cpp/cmake/Templates/GoogleTest.CMakeLists.txt.cmake
  cpp/cmake/config.json
  cpp/cmake/cuspatial-build-config.cmake.in
  cpp/cmake/cuspatial-config.cmake.in
  cpp/cmake/thirdparty/CMakeLists.txt
  cpp/cmake/thirdparty/CUSPATIAL_GetCPM.cmake
  cpp/cmake/thirdparty/CUSPATIAL_GetCUDF.cmake
  cpp/src/io/shp/polygon_shapefile_reader.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/spatial/haversine_test.cpp
  python/cuspatial/setup.py
Labels: 3 - Ready for Review, Python, cmake, conda, cpp, improvement, non-breaking

#370 Update conda recipes pinning of repo dependencies
  conda/recipes/cuspatial/meta.yaml
Labels: 3 - Ready for Review, bug, conda, non-breaking
