Repository rapidsai/cuspatial, pull requests merged in 2021-08, with the labels that each got.

#437 Update cudf table apis
  python/cuspatial/cuspatial/_lib/interpolate.pyx
  python/cuspatial/cuspatial/_lib/polygon_bounding_boxes.pyx
  python/cuspatial/cuspatial/_lib/polyline_bounding_boxes.pyx
  python/cuspatial/cuspatial/_lib/quadtree.pyx
  python/cuspatial/cuspatial/_lib/spatial_join.pyx
  python/cuspatial/cuspatial/_lib/spatial_window.pyx
  python/cuspatial/cuspatial/_lib/trajectory.pyx
  python/cuspatial/cuspatial/core/gis.py
  python/cuspatial/cuspatial/core/indexing.py
  python/cuspatial/cuspatial/core/interpolate.py
  python/cuspatial/cuspatial/core/spatial_join.py
  python/cuspatial/cuspatial/core/spatial_window.py
  python/cuspatial/cuspatial/core/trajectory.py
  python/cuspatial/cuspatial/geometry/geodataframe.py
Labels: 3 - Ready for Review, Cython, Python, conda, improvement, non-breaking

#441 cuspatial installed CMake files use the same destination as libcuspatial
  cpp/CMakeLists.txt
Labels: bug, cmake, non-breaking, cpp

#444 Remove cudf.core
  python/cuspatial/cuspatial/core/indexing.py
  python/cuspatial/cuspatial/core/trajectory.py
Labels: bug, Python, non-breaking

#445 Fix Forward-Merge Conflicts [skip ci]
  CHANGELOG.md
  cpp/CMakeLists.txt
Labels: cmake, improvement, non-breaking, cpp

#440 [gpuCI] Forward-merge branch-21.08 to branch-21.10 [skip gpuci]
  CHANGELOG.md
  cpp/CMakeLists.txt
Labels: cmake, cpp
