Repository rapidsai/cuspatial, pull requests merged in 2021-09, with the labels that each got.

#448 Stop using now removed _apply_support_method function.
  python/cuspatial/cuspatial/core/gis.py
Labels: bug, 3 - Ready for Review, Python, non-breaking

#449 Update Cython Table APIs to match changes in cudf.
  python/cuspatial/cuspatial/_lib/interpolate.pyx
  python/cuspatial/cuspatial/_lib/spatial_join.pyx
  python/cuspatial/cuspatial/utils/column_utils.py
Labels: cuDF, 3 - Ready for Review, Python, Cython, improvement, non-breaking

#450 Skip imports tests on arm64
  conda/recipes/cuspatial/meta.yaml
Labels: conda, improvement, non-breaking

#451 Fix default cuda version in prebuild.sh for arm64
  ci/cpu/prebuild.sh
Labels: gpuCI, improvement, non-breaking
