Repository rapidsai/cuspatial, pull requests merged in 2021-07, with the labels that each got.

#430 Update CMake, fix testing use of assert_eq, and correct metadata copying
  conda/environments/cuspatial_dev_cuda11.0.yml
  conda/environments/cuspatial_dev_cuda11.1.yml
  conda/environments/cuspatial_dev_cuda11.2.yml
  conda/recipes/libcuspatial/meta.yaml
  python/cuspatial/cuspatial/geometry/geocolumn.py
  python/cuspatial/cuspatial/geometry/geodataframe.py
  python/cuspatial/cuspatial/tests/test_from_geopandas.py
  python/cuspatial/cuspatial/tests/test_geoarrowbuffers.py
  python/cuspatial/cuspatial/tests/test_geodataframe.py
  python/cuspatial/cuspatial/tests/test_geoseries.py
  python/cuspatial/cuspatial/tests/test_hausdorff_distance.py
  python/cuspatial/cuspatial/tests/test_indexing.py
  python/cuspatial/cuspatial/tests/test_lonlat_to_cartesian.py
  python/cuspatial/cuspatial/tests/test_pip.py
  python/cuspatial/cuspatial/tests/test_points_in_spatial_window.py
  python/cuspatial/cuspatial/tests/test_polygon_bounding_boxes.py
  python/cuspatial/cuspatial/tests/test_polyline_bounding_boxes.py
  python/cuspatial/cuspatial/tests/test_shapefile_reader.py
  python/cuspatial/cuspatial/tests/test_spatial_join.py
  python/cuspatial/cuspatial/tests/test_spline_fit.py
  python/cuspatial/cuspatial/tests/test_trajectory.py
Labels: Python, bug, conda, non-breaking

#424 Improve Hausdorff perf and accept larger number of inputs.
  cpp/benchmarks/hausdorff_benchmark.cpp
  cpp/src/spatial/detail/cartesian_product_group_index_iterator.cuh
  cpp/src/spatial/detail/hausdorff.cuh
  cpp/src/spatial/hausdorff.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/spatial/cartesian_product_group_index_iterator_test.cu
  python/cuspatial/cuspatial/core/gis.py
Labels: 3 - Ready for Review, Python, bug, cmake, cpp, non-breaking

#419 Bump isort, enable Cython package resorting
  .pre-commit-config.yaml
  ci/checks/style.sh
  python/cuspatial/cuspatial/_lib/cpp/coordinate_transform.pxd
  python/cuspatial/cuspatial/_lib/cpp/hausdorff.pxd
  python/cuspatial/cuspatial/_lib/cpp/interpolate.pxd
  python/cuspatial/cuspatial/_lib/cpp/point_in_polygon.pxd
  python/cuspatial/cuspatial/_lib/cpp/polygon_bounding_box.pxd
  python/cuspatial/cuspatial/_lib/cpp/polyline_bounding_box.pxd
  python/cuspatial/cuspatial/_lib/cpp/quadtree.pxd
  python/cuspatial/cuspatial/_lib/cpp/shapefile_reader.pxd
  python/cuspatial/cuspatial/_lib/cpp/spatial.pxd
  python/cuspatial/cuspatial/_lib/cpp/spatial_join.pxd
  python/cuspatial/cuspatial/_lib/cpp/spatial_window.pxd
  python/cuspatial/cuspatial/_lib/cpp/trajectory.pxd
  python/cuspatial/cuspatial/_lib/hausdorff.pyx
  python/cuspatial/cuspatial/_lib/interpolate.pyx
  python/cuspatial/cuspatial/_lib/point_in_polygon.pyx
  python/cuspatial/cuspatial/_lib/polygon_bounding_boxes.pyx
  python/cuspatial/cuspatial/_lib/polyline_bounding_boxes.pyx
  python/cuspatial/cuspatial/_lib/quadtree.pyx
  python/cuspatial/cuspatial/_lib/shapefile_reader.pyx
  python/cuspatial/cuspatial/_lib/spatial.pyx
  python/cuspatial/cuspatial/_lib/spatial_join.pyx
  python/cuspatial/cuspatial/_lib/spatial_window.pyx
  python/cuspatial/cuspatial/_lib/trajectory.pyx
  python/cuspatial/cuspatial/core/spatial_join.py
  python/cuspatial/cuspatial/geometry/geoarrowbuffers.py
  python/cuspatial/cuspatial/geometry/geoseries.py
  python/cuspatial/cuspatial/geometry/geoutil.py
  python/cuspatial/cuspatial/io/geopandas.py
  python/cuspatial/cuspatial/io/geopandas_adapter.py
  python/cuspatial/cuspatial/tests/conftest.py
  python/cuspatial/cuspatial/tests/test_from_geopandas.py
  python/cuspatial/cuspatial/tests/test_geoarrowbuffers.py
  python/cuspatial/cuspatial/tests/test_geodataframe.py
  python/cuspatial/cuspatial/tests/test_geoseries.py
  python/cuspatial/cuspatial/tests/test_spline_fit.py
Labels: Python, gpuCI, improvement, non-breaking

#426 Updating Clang Version to 11.0.0
  conda/environments/cuspatial_dev_cuda11.0.yml
  conda/environments/cuspatial_dev_cuda11.1.yml
  conda/environments/cuspatial_dev_cuda11.2.yml
  cpp/.clang-format
  cpp/include/cuspatial/error.hpp
  cpp/include/cuspatial/types.hpp
  cpp/scripts/run-clang-format.py
  cpp/src/indexing/construction/detail/phase_1.cuh
  cpp/src/indexing/construction/detail/phase_2.cuh
  cpp/src/indexing/construction/point_quadtree.cu
  cpp/src/interpolate/cubic_spline.cu
  cpp/src/join/detail/intersection.cuh
  cpp/src/join/detail/point.cuh
  cpp/src/join/detail/traversal.cuh
  cpp/src/join/quadtree_point_in_polygon.cu
  cpp/src/join/quadtree_point_to_nearest_polyline.cu
  cpp/src/join/quadtree_poly_filtering.cu
  cpp/src/spatial/polygon_bounding_box.cu
  cpp/src/spatial/polyline_bounding_box.cu
  cpp/src/utility/point_in_polygon.cuh
  cpp/tests/indexing/point_quadtree_test.cu
  cpp/tests/join/point_in_polygon_test_large.cpp
  cpp/tests/join/point_in_polygon_test_small.cpp
  cpp/tests/join/point_to_nearest_polyline_test_small.cpp
  cpp/tests/join/quadtree_polygon_filtering_test.cu
  cpp/tests/join/quadtree_polyline_filtering_test.cu
Labels: conda, cpp, improvement, non-breaking

#433 Fix usage of assert_columns* APIs.
  cpp/tests/io/shp/polygon_shapefile_reader_test.cpp
  cpp/tests/join/point_in_polygon_test_large.cpp
  cpp/tests/spatial/coordinate_transform_test.cu
  cpp/tests/spatial/hausdorff_test.cpp
  cpp/tests/spatial/haversine_test.cpp
  cpp/tests/spatial/point_in_polygon_test.cpp
  cpp/tests/spatial_window/spatial_window_test.cpp
Labels: bug, cpp, non-breaking

#431 Switch to using public cudf testing utilities
  python/cuspatial/cuspatial/tests/test_from_geopandas.py
  python/cuspatial/cuspatial/tests/test_geoarrowbuffers.py
  python/cuspatial/cuspatial/tests/test_geodataframe.py
  python/cuspatial/cuspatial/tests/test_geoseries.py
  python/cuspatial/cuspatial/tests/test_hausdorff_distance.py
  python/cuspatial/cuspatial/tests/test_indexing.py
  python/cuspatial/cuspatial/tests/test_lonlat_to_cartesian.py
  python/cuspatial/cuspatial/tests/test_pip.py
  python/cuspatial/cuspatial/tests/test_points_in_spatial_window.py
  python/cuspatial/cuspatial/tests/test_polygon_bounding_boxes.py
  python/cuspatial/cuspatial/tests/test_polyline_bounding_boxes.py
  python/cuspatial/cuspatial/tests/test_shapefile_reader.py
  python/cuspatial/cuspatial/tests/test_spatial_join.py
  python/cuspatial/cuspatial/tests/test_spline_fit.py
  python/cuspatial/cuspatial/tests/test_trajectory.py
Labels: Python, bug, non-breaking

#438 FIX Sync version update script with CMakeLists and update version in …
  ci/release/update-version.sh
  cpp/CMakeLists.txt
  python/cuspatial/setup.py
Labels: 3 - Ready for Review, Python, bug, cmake, cpp, gpuCI, non-breaking

#432 ENH Replace gpuci_conda_retry with gpuci_mamba_retry
  ci/gpu/build.sh
Labels: gpuCI, improvement, non-breaking
