Repository rapidsai/cuspatial, pull requests merged in 2021-04, with the labels that each got.

#372 Revert "Update conda recipes pinning of repo dependencies" [skip-ci]
  conda/recipes/cuspatial/meta.yaml
Labels: bug, conda, non-breaking

#374 Forward merge 0.19 into 0.20
  build.sh
  conda/environments/cuspatial_dev_cuda10.1.yml
  conda/environments/cuspatial_dev_cuda10.2.yml
  conda/environments/cuspatial_dev_cuda11.0.yml
  conda/recipes/libcuspatial/build.sh
  conda/recipes/libcuspatial/meta.yaml
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/fixture/benchmark_fixture.hpp
  cpp/benchmarks/hausdorff_benchmark.cpp
  cpp/benchmarks/synchronization/synchronization.cpp
  cpp/cmake/Modules/ConfigureCUDA.cmake
  cpp/cmake/Modules/ConfigureGoogleBenchmark.cmake
  cpp/cmake/Modules/ConfigureGoogleTest.cmake
  cpp/cmake/Modules/EvalGPUArchs.cmake
  cpp/cmake/Modules/SetGPUArchs.cmake
  cpp/cmake/Templates/GoogleBenchmark.CMakeLists.txt.cmake
  cpp/cmake/Templates/GoogleTest.CMakeLists.txt.cmake
  cpp/cmake/config.json
  cpp/cmake/cuspatial-build-config.cmake.in
  cpp/cmake/cuspatial-config.cmake.in
  cpp/cmake/thirdparty/CMakeLists.txt
  cpp/cmake/thirdparty/CUSPATIAL_GetCPM.cmake
  cpp/cmake/thirdparty/CUSPATIAL_GetCUDF.cmake
  cpp/src/io/shp/polygon_shapefile_reader.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/spatial/cartesian_product_group_index_iterator_test.cu
  cpp/tests/spatial/haversine_test.cpp
  python/cuspatial/setup.py
Labels: 3 - Ready for Review, Python, cmake, conda, cpp, improvement, non-breaking, tech debt

#371 [gpuCI] Forward-merge branch-0.19 to branch-0.20 [skip ci]
  build.sh
  conda/environments/cuspatial_dev_cuda10.1.yml
  conda/environments/cuspatial_dev_cuda10.2.yml
  conda/environments/cuspatial_dev_cuda11.0.yml
  conda/recipes/libcuspatial/build.sh
  conda/recipes/libcuspatial/meta.yaml
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/fixture/benchmark_fixture.hpp
  cpp/benchmarks/hausdorff_benchmark.cpp
  cpp/benchmarks/synchronization/synchronization.cpp
  cpp/cmake/Modules/ConfigureCUDA.cmake
  cpp/cmake/Modules/ConfigureGoogleBenchmark.cmake
  cpp/cmake/Modules/ConfigureGoogleTest.cmake
  cpp/cmake/Modules/EvalGPUArchs.cmake
  cpp/cmake/Modules/SetGPUArchs.cmake
  cpp/cmake/Templates/GoogleBenchmark.CMakeLists.txt.cmake
  cpp/cmake/Templates/GoogleTest.CMakeLists.txt.cmake
  cpp/cmake/config.json
  cpp/cmake/cuspatial-build-config.cmake.in
  cpp/cmake/cuspatial-config.cmake.in
  cpp/cmake/thirdparty/CMakeLists.txt
  cpp/cmake/thirdparty/CUSPATIAL_GetCPM.cmake
  cpp/cmake/thirdparty/CUSPATIAL_GetCUDF.cmake
  cpp/src/io/shp/polygon_shapefile_reader.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/spatial/cartesian_product_group_index_iterator_test.cu
  cpp/tests/spatial/haversine_test.cpp
  python/cuspatial/setup.py
Labels: Python, cmake, conda, cpp

#375 Set `install_rpath` for libcuspatial
  cpp/CMakeLists.txt
Labels: 3 - Ready for Review, cmake, cpp, improvement, non-breaking

#373 [REVIEW] ENH Reduce cuspatial library size
  cpp/cmake/Modules/ConfigureCUDA.cmake
Labels: 5 - Ready to Merge, cmake, cpp, improvement, non-breaking

#379 Update to new Thrust 1.12.0 APIs
  cpp/src/indexing/construction/detail/phase_1.cuh
  cpp/src/indexing/construction/detail/phase_2.cuh
  cpp/src/indexing/construction/detail/utilities.cuh
  cpp/src/indexing/construction/point_quadtree.cu
  cpp/src/join/detail/intersection.cuh
  cpp/src/join/detail/traversal.cuh
  cpp/src/join/quadtree_point_in_polygon.cu
  cpp/src/join/quadtree_point_to_nearest_polyline.cu
  cpp/src/join/quadtree_poly_filtering.cu
  cpp/tests/join/point_in_polygon_test_large.cpp
Labels: 3 - Ready for Review, cpp, improvement, non-breaking

#382 Update cuSpatial to use C++17
  README.md
  conda/environments/cuspatial_dev_cuda11.0.yml
  conda/environments/cuspatial_dev_cuda11.1.yml
  conda/environments/cuspatial_dev_cuda11.2.yml
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/cmake/Modules/SetGPUArchs.cmake
  java/src/main/native/CMakeLists.txt
Labels: 3 - Ready for Review, breaking, cmake, conda, cpp, improvement, java

#378 Fix OOM in directed_hausdorff_distances
  cpp/src/spatial/detail/cartesian_product_group_index_iterator.cuh
  cpp/src/spatial/detail/hausdorff.cuh
  cpp/src/spatial/hausdorff.cu
  cpp/src/utility/scatter_output_iterator.cuh
  cpp/src/utility/size_from_offsets.cuh
  cpp/tests/spatial/hausdorff_test.cpp
Labels: 3 - Ready for Review, cpp, improvement, non-breaking

#384 Update cuspatial to use `rmm::cuda_stream_default` everywhere
  cpp/src/indexing/construction/point_quadtree.cu
  cpp/tests/trajectory/trajectory_utilities.cuh
Labels: 3 - Ready for Review, cpp, improvement, non-breaking

#383 Update CUDA version in build scripts
  ci/cpu/prebuild.sh
Labels: bug, gpuCI, non-breaking

#368 [REVIEW] Use custom conda build directory for ccache
  ci/cpu/build.sh
  ci/cpu/upload.sh
  ci/gpu/build.sh
  conda/recipes/libcuspatial/meta.yaml
Labels: conda, gpuCI, improvement, non-breaking

#386 Update to CPM with fix for `FETCHCONTENT_BASE_DIR`
  cpp/cmake/thirdparty/CUSPATIAL_GetCPM.cmake
  cpp/cmake/thirdparty/CUSPATIAL_GetCUDF.cmake
Labels: 3 - Ready for Review, cmake, cpp, improvement, non-breaking

#391 ENH Remove conda defaults channel in dev environments
  conda/environments/cuspatial_dev_cuda11.0.yml
  conda/environments/cuspatial_dev_cuda11.1.yml
  conda/environments/cuspatial_dev_cuda11.2.yml
Labels: conda, improvement, non-breaking

#388 Remove references to deprecated "rmm/thrust_rmm_allocator.h"
  cpp/src/indexing/construction/detail/phase_1.cuh
  cpp/src/indexing/construction/detail/phase_2.cuh
  cpp/src/join/detail/intersection.cuh
  cpp/src/join/detail/traversal.cuh
  cpp/src/join/quadtree_poly_filtering.cu
  cpp/src/spatial/haversine.cu
  cpp/src/spatial/polygon_bounding_box.cu
  cpp/src/spatial/polyline_bounding_box.cu
  cpp/src/trajectory/derive_trajectories.cu
  cpp/tests/join/point_in_polygon_test_large.cpp
Labels: 3 - Ready for Review, cpp, improvement, non-breaking
