Repository rapidsai/cuspatial, pull requests merged in 2021-11, with the labels that each got.

#458 [FIX] NVCC warnings are errors
  cpp/cmake/Modules/ConfigureCUDA.cmake
  cpp/src/interpolate/cubic_spline.cu
  cpp/src/join/quadtree_poly_filtering.cu
  cpp/src/spatial/haversine.cu
  cpp/src/trajectory/trajectory_bounding_boxes.cu
  cpp/src/trajectory/trajectory_distances_and_speeds.cu
  python/cuspatial/setup.py
Labels: 5 - Ready to Merge, cmake, Python, improvement, non-breaking, cpp

#457 Update `conda` recipes for Enhanced Compatibility effort
  conda/recipes/libcuspatial/meta.yaml
Labels: conda, improvement, non-breaking

#463 [REVIEW] Upgrade `clang` to `11.1.0`
  conda/environments/cuspatial_dev_cuda11.0.yml
  conda/environments/cuspatial_dev_cuda11.1.yml
  conda/environments/cuspatial_dev_cuda11.2.yml
  cpp/scripts/run-clang-format.py
Labels: conda, improvement, non-breaking, cpp

#467 Fix Changelog Merge Conflicts for `branch-21.12`
  CHANGELOG.md
Labels: improvement, non-breaking

#468 Update DEFAULT_CUDA_VER in ci/cpu/prebuild.sh
  ci/cpu/prebuild.sh
Labels: gpuCI, improvement, non-breaking

#464 [gpuCI] Forward-merge branch-21.12 to branch-22.02 [skip gpuci]
  CHANGELOG.md
  ci/cpu/prebuild.sh
  conda/environments/cuspatial_dev_cuda11.0.yml
  conda/environments/cuspatial_dev_cuda11.1.yml
  conda/environments/cuspatial_dev_cuda11.2.yml
  cpp/scripts/run-clang-format.py
Labels: conda, gpuCI, cpp
