Repository rapidsai/cuspatial, pull requests merged in 2021-02, with the labels that each got.

#345 Prepare Changelog for Automation [skip-ci]
  CHANGELOG.md
Labels: improvement, non-breaking

#349 Fix merge conflicts in #348
  CHANGELOG.md
Labels: improvement, non-breaking

#355 Add GHA to mark issues/prs as stale/rotten [skip-ci]
  .github/workflows/stale.yaml
Labels: 3 - Ready for Review, improvement, non-breaking

#357 Update stale GHA with exemptions & new labels [skip-ci]
  .github/workflows/stale.yaml
Labels: 3 - Ready for Review, improvement, non-breaking

#353 Update make_counting_transform_iterator namespace in tests
  cpp/tests/trajectory/trajectory_utilities.cuh
Labels: 5 - Ready to Merge, improvement, non-breaking, testing

#359 ENH Build with `cmake --build` & Pass ccache variables to conda recipe & use Ninja in CI
  build.sh
  ci/cpu/build.sh
  conda/recipes/libcuspatial/meta.yaml
Labels: 3 - Ready for Review, improvement, non-breaking

#363 [skip-ci] Update 0.18 changelog entry
  CHANGELOG.md
Labels: improvement, non-breaking
