Repository rapidsai/cuspatial, pull requests merged in 2021-05, with the labels that each got.

#392 fix -Werror=sign-compare causing debug builds to fail
  cpp/src/spatial/hausdorff.cu
Labels: 3 - Ready for Review, cpp, improvement, non-breaking

#394 Merge `branch-0.19` into `branch-0.20`
  CHANGELOG.md
Labels: improvement, non-breaking

#396 Remove progress output on conda packages upload
  ci/cpu/upload.sh
Labels: gpuCI, improvement, non-breaking

#395 Remove 'rapidsai-nightly' conda channel when building main branch
  ci/cpu/build.sh
Labels: gpuCI, improvement, non-breaking

#398 Update release script [skip-ci]
  ci/release/update-version.sh
Labels: gpuCI, improvement, non-breaking

#399 Import `_version` in `__init__.py` so that `versioneer` can be used.
  python/cuspatial/cuspatial/__init__.py
Labels: 3 - Ready for Review, 4 - Needs Reviewer, Python, improvement, non-breaking

#400 Pass compiler environment variables to conda python build
  conda/recipes/cuspatial/meta.yaml
Labels: conda, improvement, non-breaking

#401 Update cuspatial version for calver, fix CMake FindPackage cudf
  conda/environments/cuspatial_dev_cuda11.0.yml
  conda/environments/cuspatial_dev_cuda11.1.yml
  conda/environments/cuspatial_dev_cuda11.2.yml
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/CUSPATIAL_GetCUDF.cmake
Labels: 5 - Ready to Merge, cmake, cpp, improvement, non-breaking

#402 Update docs build script [skip ci]
  ci/docs/build.sh
Labels: gpuCI, improvement, non-breaking

#404 Update `CHANGELOG.md` links for calver [skip ci]
  CHANGELOG.md
Labels: improvement, non-breaking

#403 Move rmm::device_buffer instead of copying
  cpp/src/io/shp/polygon_shapefile_reader.cu
Labels: cpp, improvement, non-breaking

#300 [REVIEW] `from_geopandas` converts GeoPandas GeoSeries objects into cuspatial GeoArrow form.
  CHANGELOG.md
  conda/environments/cuspatial_dev_cuda11.0.yml
  conda/environments/cuspatial_dev_cuda11.1.yml
  conda/environments/cuspatial_dev_cuda11.2.yml
  conda/recipes/cuspatial/meta.yaml
  docs/source/api.rst
  docs/source/conf.py
  docs/source/index.rst
  python/cuspatial/cuspatial/__init__.py
  python/cuspatial/cuspatial/geometry/__init__.py
  python/cuspatial/cuspatial/geometry/geoarrowbuffers.py
  python/cuspatial/cuspatial/geometry/geocolumn.py
  python/cuspatial/cuspatial/geometry/geodataframe.py
  python/cuspatial/cuspatial/geometry/geoseries.py
  python/cuspatial/cuspatial/geometry/geoutil.py
  python/cuspatial/cuspatial/io/geopandas.py
  python/cuspatial/cuspatial/io/geopandas_adapter.py
  python/cuspatial/cuspatial/tests/conftest.py
  python/cuspatial/cuspatial/tests/test_from_geopandas.py
  python/cuspatial/cuspatial/tests/test_geoarrowbuffers.py
  python/cuspatial/cuspatial/tests/test_geodataframe.py
  python/cuspatial/cuspatial/tests/test_geoseries.py
Labels: 5 - Ready to Merge, Python, conda, feature request, non-breaking

#407 Update environment variable used to determine `cuda_version`
  conda/recipes/libcuspatial/meta.yaml
Labels: conda, improvement, non-breaking

#408 Fix merge conflicts [skip ci]
  CHANGELOG.md
  conda/environments/cuspatial_dev_cuda11.0.yml
  conda/environments/cuspatial_dev_cuda11.1.yml
  conda/environments/cuspatial_dev_cuda11.2.yml
  conda/recipes/cuspatial/meta.yaml
  conda/recipes/libcuspatial/meta.yaml
  cpp/src/io/shp/polygon_shapefile_reader.cu
  cpp/src/join/detail/point.cuh
  cpp/src/join/quadtree_point_in_polygon.cu
  cpp/src/join/quadtree_point_to_nearest_polyline.cu
  cpp/src/join/quadtree_poly_filtering.cu
  cpp/src/utility/point_to_nearest_polyline.cuh
  cpp/tests/join/point_in_polygon_test_small.cpp
  cpp/tests/join/quadtree_polygon_filtering_test.cu
  cpp/tests/join/quadtree_polyline_filtering_test.cu
  docs/source/api.rst
  docs/source/conf.py
  docs/source/index.rst
  python/cuspatial/cuspatial/__init__.py
  python/cuspatial/cuspatial/geometry/__init__.py
  python/cuspatial/cuspatial/geometry/geoarrowbuffers.py
  python/cuspatial/cuspatial/geometry/geocolumn.py
  python/cuspatial/cuspatial/geometry/geodataframe.py
  python/cuspatial/cuspatial/geometry/geoseries.py
  python/cuspatial/cuspatial/geometry/geoutil.py
  python/cuspatial/cuspatial/io/geopandas.py
  python/cuspatial/cuspatial/io/geopandas_adapter.py
  python/cuspatial/cuspatial/tests/conftest.py
  python/cuspatial/cuspatial/tests/test_from_geopandas.py
  python/cuspatial/cuspatial/tests/test_geoarrowbuffers.py
  python/cuspatial/cuspatial/tests/test_geodataframe.py
  python/cuspatial/cuspatial/tests/test_geoseries.py
  python/cuspatial/cuspatial/tests/test_spatial_join.py
Labels: Python, conda, cpp, improvement, non-breaking

#406 [gpuCI] Forward-merge branch-21.06 to branch-21.08 [skip ci]
  CHANGELOG.md
  conda/environments/cuspatial_dev_cuda11.0.yml
  conda/environments/cuspatial_dev_cuda11.1.yml
  conda/environments/cuspatial_dev_cuda11.2.yml
  conda/recipes/cuspatial/meta.yaml
  conda/recipes/libcuspatial/meta.yaml
  cpp/src/io/shp/polygon_shapefile_reader.cu
  cpp/src/join/detail/point.cuh
  cpp/src/join/quadtree_point_in_polygon.cu
  cpp/src/join/quadtree_point_to_nearest_polyline.cu
  cpp/src/join/quadtree_poly_filtering.cu
  cpp/src/utility/point_to_nearest_polyline.cuh
  cpp/tests/join/point_in_polygon_test_small.cpp
  cpp/tests/join/quadtree_polygon_filtering_test.cu
  cpp/tests/join/quadtree_polyline_filtering_test.cu
  docs/source/api.rst
  docs/source/conf.py
  docs/source/index.rst
  python/cuspatial/cuspatial/__init__.py
  python/cuspatial/cuspatial/geometry/__init__.py
  python/cuspatial/cuspatial/geometry/geoarrowbuffers.py
  python/cuspatial/cuspatial/geometry/geocolumn.py
  python/cuspatial/cuspatial/geometry/geodataframe.py
  python/cuspatial/cuspatial/geometry/geoseries.py
  python/cuspatial/cuspatial/geometry/geoutil.py
  python/cuspatial/cuspatial/io/geopandas.py
  python/cuspatial/cuspatial/io/geopandas_adapter.py
  python/cuspatial/cuspatial/tests/conftest.py
  python/cuspatial/cuspatial/tests/test_from_geopandas.py
  python/cuspatial/cuspatial/tests/test_geoarrowbuffers.py
  python/cuspatial/cuspatial/tests/test_geodataframe.py
  python/cuspatial/cuspatial/tests/test_geoseries.py
  python/cuspatial/cuspatial/tests/test_spatial_join.py
Labels: Python, conda, cpp
