Repository rapidsai/cuspatial, pull requests merged in 2022-11, with the labels that each got.

#752 Augment Cuspatial Test Utility to Allow User Specified Abs Error
  cpp/tests/utility/vector_equality.hpp
Labels: 5 - Ready to Merge, feature request, non-breaking, cpp

#748 Replacing markdown issue templates with yml forms
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/documentation-request.md
  .github/ISSUE_TEMPLATE/documentation_request.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/submit-question.md
  .github/ISSUE_TEMPLATE/submit_question.yml
Labels: 5 - Ready to Merge, feature request, non-breaking

#783 Force using old fmt in nvbench.
  cpp/CMakeLists.txt
Labels: bug, cmake, non-breaking, cpp

#779 Delete deprecated board GitHub Actions
  .github/workflows/new-issues-to-triage-projects.yml
Labels: improvement, non-breaking

#773 Introduce ULP Based Floating Point Equality Test to Device Function
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/floating_point_equality.cu
  cpp/include/cuspatial/detail/utility/floating_point.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/utility_test/test_float_equivalent.cu
Labels: 3 - Ready for Review, feature request, cmake, non-breaking, cpp

#777 address issue with vector equivalent utility
  cpp/include/cuspatial_test/vector_equality.hpp
  cpp/tests/experimental/indexing/point_quadtree_test.cu
  cpp/tests/experimental/spatial/coordinate_transform_test.cu
  cpp/tests/experimental/spatial/hausdorff_test.cu
  cpp/tests/experimental/spatial/haversine_test.cu
  cpp/tests/experimental/spatial/linestring_distance_test.cu
  cpp/tests/experimental/spatial/point_distance_test.cu
  cpp/tests/experimental/spatial/point_linestring_distance_test.cu
  cpp/tests/experimental/spatial/point_linestring_nearest_points_test.cu
  cpp/tests/experimental/spatial/points_in_range_test.cu
  cpp/tests/spatial/linestring_distance_test_medium.cpp
Labels: bug, 3 - Ready for Review, non-breaking, cpp

#769 Header-only refactoring of trajectory_distances_and_speeds
  cpp/include/cuspatial/experimental/detail/trajectory_distances_and_speeds.cuh
  cpp/include/cuspatial/experimental/trajectory_distances_and_speeds.cuh
  cpp/include/cuspatial_test/test_util.cuh
  cpp/include/cuspatial_test/vector_equality.hpp
  cpp/src/trajectory/derive_trajectories.cu
  cpp/src/trajectory/trajectory_distances_and_speeds.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/experimental/trajectory/trajectory_bounding_boxes_test.cu
  cpp/tests/experimental/trajectory/trajectory_distances_and_speeds_test.cu
  cpp/tests/experimental/trajectory/trajectory_test_utils.cuh
  cpp/tests/trajectory/test_derive_trajectories.cpp
  cpp/tests/trajectory/test_trajectory_bounding_boxes.cu
  cpp/tests/trajectory/test_trajectory_distances_and_speeds.cu
  cpp/tests/trajectory/trajectory_utilities.cuh
Labels: cmake, improvement, non-breaking, cpp

#787 Fix conda channel order
  conda/environments/cuspatial_dev_cuda11.5.yml
  docs/source/user_guide/users.ipynb
Labels: conda, improvement, non-breaking

#782 Fix issue with `.loc` returning values out of order.
  python/cuspatial/cuspatial/core/geoseries.py
Labels: bug, 3 - Ready for Review, Python, non-breaking

#776 Better slicing via `union_offsets`
  python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/core/spatial/distance.py
  python/cuspatial/cuspatial/core/spatial/nearest_points.py
  python/cuspatial/cuspatial/tests/conftest.py
  python/cuspatial/cuspatial/tests/test_geocolumn_accessor.py
  python/cuspatial/cuspatial/tests/test_point_linestring_distance.py
Labels: Python, improvement, non-breaking

#788 Globally replace "polyline" with "linestring"
  README.md
  cpp/CMakeLists.txt
  cpp/include/cuspatial/distance/linestring_distance.hpp
  cpp/include/cuspatial/distance/point_linestring_distance.hpp
  cpp/include/cuspatial/linestring_bounding_box.hpp
  cpp/include/cuspatial/spatial_join.hpp
  cpp/include/doxygen_groups.h
  cpp/src/join/detail/get_quad_and_local_point_indices.cuh
  cpp/src/join/quadtree_bbox_filtering.cu
  cpp/src/join/quadtree_point_in_polygon.cu
  cpp/src/join/quadtree_point_to_nearest_linestring.cu
  cpp/src/join/quadtree_point_to_nearest_polyline.cu
  cpp/src/spatial/linestring_bounding_box.cu
  cpp/src/utility/point_to_nearest_linestring.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/join/point_to_nearest_linestring_test_small.cpp
  cpp/tests/join/quadtree_linestring_filtering_test.cu
  cpp/tests/spatial/linestring_bbox_test.cu
  cpp/tests/spatial/polygon_bbox_test.cu
  docs/source/api_docs/spatial.rst
  docs/source/user_guide/users.ipynb
  python/cuspatial/benchmarks/api/bench_api.py
  python/cuspatial/cuspatial/__init__.py
  python/cuspatial/cuspatial/_lib/CMakeLists.txt
  python/cuspatial/cuspatial/_lib/cpp/linestring_bounding_box.pxd
  python/cuspatial/cuspatial/_lib/cpp/spatial_join.pxd
  python/cuspatial/cuspatial/_lib/linestring_bounding_boxes.pyx
  python/cuspatial/cuspatial/_lib/spatial_join.pyx
  python/cuspatial/cuspatial/core/spatial/__init__.py
  python/cuspatial/cuspatial/core/spatial/bounding.py
  python/cuspatial/cuspatial/core/spatial/distance.py
  python/cuspatial/cuspatial/core/spatial/join.py
  python/cuspatial/cuspatial/tests/spatial/bounding/test_polyline_bounding_boxes.py
  python/cuspatial/cuspatial/tests/spatial/join/test_spatial_join.py
Labels: cmake, Python, improvement, breaking, cpp, c++

#791 Fix style checks.
  ci/checks/style.sh
  pyproject.toml
Labels: bug, gpuCI, non-breaking

#778 Introduce Segment Intersection Primitive
  cpp/include/cuspatial/detail/utility/floating_point.cuh
  cpp/include/cuspatial/detail/utility/linestring.cuh
  cpp/include/cuspatial/experimental/geometry/segment.cuh
  cpp/include/cuspatial/traits.hpp
  cpp/include/cuspatial/vec_2d.hpp
  cpp/include/cuspatial_test/vector_equality.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/experimental/operators/linestrings_test.cu
Labels: 3 - Ready for Review, feature request, cmake, non-breaking, cpp

#786 Support `Multilinestring` in column API and python Bindings for `pairwise_linestring_distance`
  cpp/include/cuspatial/distance/linestring_distance.hpp
  cpp/src/spatial/linestring_distance.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/experimental/spatial/linestring_distance_test_medium.cu
  cpp/tests/spatial/linestring_distance_test.cpp
  cpp/tests/spatial/linestring_distance_test_medium.cpp
  python/cuspatial/cuspatial/_lib/cpp/distance/linestring_distance.pxd
  python/cuspatial/cuspatial/_lib/distance.pyx
  python/cuspatial/cuspatial/core/spatial/distance.py
  python/cuspatial/cuspatial/tests/conftest.py
  python/cuspatial/cuspatial/tests/spatial/distance/test_pairwise_linestring_distance.py
Labels: 5 - Ready to Merge, feature request, cmake, Python, non-breaking, c++

#800 Labeler: Change cpp label to libcuspatial
  .github/labeler.yml
Labels: improvement, non-breaking

#806 Set max version pin for `gdal`
  conda/environments/cuspatial_dev_cuda11.5.yml
  conda/recipes/cuspatial/conda_build_config.yaml
  conda/recipes/libcuspatial/conda_build_config.yaml
Labels: conda, improvement, non-breaking

#807 [gpuCI] Forward-merge branch-22.12 to branch-23.02 [skip gpuci]
  conda/environments/cuspatial_dev_cuda11.5.yml
  conda/recipes/cuspatial/conda_build_config.yaml
  conda/recipes/libcuspatial/conda_build_config.yaml
Labels: conda

#805 Don't use CMake 3.25.0 as it has a FindCUDAToolkit show stopping bug
  conda/environments/cuspatial_dev_cuda11.5.yml
  conda/recipes/cuspatial/meta.yaml
  conda/recipes/libcuspatial/conda_build_config.yaml
  python/cuspatial/pyproject.toml
Labels: bug, conda, 3 - Ready for Review, Python, non-breaking

#803 Update Dependency List with `dependencies.yaml` [skip gpuci]
  .github/CODEOWNERS
  .github/workflows/pr.yaml
  README.md
  ci/release/update-version.sh
  conda/environments/all_cuda-115_arch-x86_64.yaml
  conda/environments/cuspatial_dev_cuda11.5.yml
  dependencies.yaml
Labels: conda, 3 - Ready for Review, gpuCI, improvement, non-breaking

#808 Fix a Bug in Segment Intersection Primitive
  cpp/include/cuspatial/detail/utility/linestring.cuh
  cpp/tests/experimental/operators/linestrings_test.cu
Labels: bug, non-breaking, libcuspatial

#795 Add Internal Function `intersection_count_upper_bound`
  cpp/include/cuspatial/cuda_utils.hpp
  cpp/include/cuspatial/detail/utility/device_atomics.cuh
  cpp/include/cuspatial/experimental/detail/linestring_intersection_count.cuh
  cpp/include/cuspatial_test/vector_factories.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/experimental/spatial/linestring_intersection_count_test.cu
Labels: 5 - Ready to Merge, feature request, cmake, non-breaking, libcuspatial

#812 Add Floating Point Equality Tests to Build List
  cpp/tests/CMakeLists.txt
Labels: bug, cmake, non-breaking, libcuspatial

#811 Fix failed automerge Branch 23.02 merge 22.12
  .github/CODEOWNERS
  .github/workflows/pr.yaml
  README.md
  ci/release/update-version.sh
  conda/environments/all_cuda-115_arch-x86_64.yaml
  conda/environments/cuspatial_dev_cuda11.5.yml
  cpp/include/cuspatial/detail/utility/linestring.cuh
  cpp/tests/experimental/operators/linestrings_test.cu
  dependencies.yaml
Labels: bug, cmake, Python, non-breaking, libcuspatial

#797 [FIX] Update quadtree spatial join docstrings
  cpp/include/cuspatial/experimental/detail/indexing/construction/phase_2.cuh
  cpp/include/cuspatial/experimental/detail/point_quadtree.cuh
  cpp/include/cuspatial/experimental/point_quadtree.cuh
  cpp/include/cuspatial/point_quadtree.hpp
  cpp/include/cuspatial/spatial_join.hpp
  cpp/src/indexing/construction/point_quadtree.cu
  cpp/src/join/detail/intersection.cuh
  cpp/tests/experimental/indexing/point_quadtree_test.cu
  docs/source/api_docs/spatial.rst
  python/cuspatial/cuspatial/_lib/quadtree.pyx
  python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/core/spatial/indexing.py
  python/cuspatial/cuspatial/core/spatial/join.py
  python/cuspatial/cuspatial/tests/spatial/indexing/test_indexing.py
Labels: 3 - Ready for Review, Python, improvement, breaking, libcuspatial

#793 Consolidate bounding box code
  cpp/include/cuspatial/experimental/bounding_box.cuh
  cpp/include/cuspatial/experimental/detail/bounding_box.cuh
  cpp/include/cuspatial/polygon_bounding_box.hpp
  cpp/include/doxygen_groups.h
  cpp/src/spatial/linestring_bounding_box.cu
  cpp/src/spatial/polygon_bounding_box.cu
  cpp/src/trajectory/trajectory_bounding_boxes.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/experimental/spatial/point_bounding_boxes_test.cu
  cpp/tests/experimental/trajectory/trajectory_test_utils.cuh
  cpp/tests/join/point_in_polygon_test_large.cpp
  cpp/tests/join/point_in_polygon_test_small.cpp
  cpp/tests/join/quadtree_polygon_filtering_test.cu
  cpp/tests/spatial/polygon_bbox_test.cu
Labels: cmake, improvement, breaking, libcuspatial

#815 Add `find_duplicate_points` Internal API
  cpp/include/cuspatial/experimental/detail/find/find_duplicate_points.cuh
  cpp/include/cuspatial/experimental/detail/geometry_collection/multipoint_ref.cuh
  cpp/include/cuspatial/experimental/detail/ranges/multipoint_range.cuh
  cpp/include/cuspatial/experimental/geometry_collection/multipoint_ref.cuh
  cpp/include/cuspatial/experimental/ranges/multipoint_range.cuh
  cpp/include/cuspatial/vec_2d.hpp
  cpp/include/cuspatial_test/vector_factories.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/experimental/find/find_duplicate_points_test.cu
  cpp/tests/utility_test/test_multipoint_factory.cu
Labels: 3 - Ready for Review, feature request, cmake, non-breaking, libcuspatial

#790 Add symlink to `users.ipynb` for notebooks CI
  docs/source/user_guide/cuspatial_api_examples.ipynb
  docs/source/user_guide/index.md
  notebooks/cuspatial_api_examples.ipynb
Labels: 3 - Ready for Review, doc, Python, non-breaking

#760 Allow None rows in `GeoSeries` and an `align` method to match `GeoPandas`
  python/cuspatial/cuspatial/core/_column/geocolumn.py
  python/cuspatial/cuspatial/core/_column/geometa.py
  python/cuspatial/cuspatial/core/geodataframe.py
  python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/io/geopandas_reader.py
  python/cuspatial/cuspatial/tests/test_align.py
  python/cuspatial/cuspatial/tests/test_cudf_integration.py
  python/cuspatial/cuspatial/tests/test_geodataframe.py
  python/cuspatial/cuspatial/tests/test_none.py
Labels: 4 - Needs Reviewer, Python, improvement, non-breaking

#749 Create `GeoSeries.contains_properly` method using point_in_polygon.
  python/cuspatial/benchmarks/api/bench_api.py
  python/cuspatial/cuspatial/_lib/CMakeLists.txt
  python/cuspatial/cuspatial/_lib/cpp/pairwise_point_in_polygon.pxd
  python/cuspatial/cuspatial/_lib/pairwise_point_in_polygon.pyx
  python/cuspatial/cuspatial/core/binops/__init__.py
  python/cuspatial/cuspatial/core/binops/contains.py
  python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/tests/binops/test_contains_properly.py
  python/cuspatial/cuspatial/tests/conftest.py
  python/cuspatial/cuspatial/utils/column_utils.py
Labels: cmake, Python, improvement, non-breaking
