Repository rapidsai/cuspatial, pull requests merged in 2022-01, with the labels that each got.

#475 Remove use of libcudf's CUDA_HOST_DEVICE macro
  cpp/src/spatial/lonlat_to_cartesian.cu
Labels: bug, non-breaking, cpp

#476 Add `CPack` to `CMakeLists.txt`
  cpp/CMakeLists.txt
Labels: improvement, non-breaking

#473 [gpuCI] Forward-merge branch-21.12 to branch-22.02 [skip gpuci]
  CHANGELOG.md
  cpp/CMakeLists.txt
Labels: cmake, inactive-30d, cpp

#485 Swap NumericalColumn.values_host for now removed to_array
  python/cuspatial/cuspatial/tests/test_haversine_distance.py
Labels: bug, 3 - Ready for Review, Python, non-breaking
