Repository rapidsai/cuspatial, pull requests merged in 2022-02, with the labels that each got.

#484 [RELEASE] cuspatial v22.02
  CHANGELOG.md
  ci/cpu/prebuild.sh
  conda/environments/cuspatial_dev_cuda11.0.yml
  conda/environments/cuspatial_dev_cuda11.1.yml
  conda/environments/cuspatial_dev_cuda11.2.yml
  conda/recipes/cuspatial/meta.yaml
  cpp/.clang-format
  cpp/CMakeLists.txt
  cpp/src/io/shp/polygon_shapefile_reader.cpp
  cpp/src/spatial/lonlat_to_cartesian.cu
  cpp/tests/interpolate/cubic_spline_test.cpp
  docs/source/conf.py
  python/cuspatial/cuspatial/tests/test_pip.py
Labels: conda, gpuCI, cmake, Python, cpp

#483 replace `ccache` with `sccache`
  ci/cpu/build.sh
  ci/gpu/build.sh
  conda/recipes/libcuspatial/meta.yaml
  cpp/cmake/Modules/ConfigureCUDA.cmake
Labels: conda, gpuCI, cmake, improvement, non-breaking, cpp

#488 Add CMake `install` rule for tests
  cpp/benchmarks/CMakeLists.txt
  cpp/tests/CMakeLists.txt
Labels: cmake, improvement, non-breaking, cpp

#490 Fix documentation of return type of quadtree_point_in_polygon
  cpp/include/cuspatial/spatial_join.hpp
Labels: doc, non-breaking, cpp
