Repository rapidsai/cuspatial, pull requests merged in 2022-05, with the labels that each got.

#517 Use conda to build python packages during GPU tests
  ci/gpu/build.sh
  python/cuspatial/cuspatial/tests/__init__.py
Labels: gpuCI, Python, improvement, non-breaking

#522 add units to haversine distance docstring
  python/cuspatial/cuspatial/core/gis.py
Labels: doc, Python, non-breaking

#510 C++ pairwise linestring distance
  cpp/CMakeLists.txt
  cpp/include/cuspatial/distances/linestring_distance.hpp
  cpp/include/cuspatial/experimental/detail/haversine.cuh
  cpp/include/cuspatial/types.hpp
  cpp/include/cuspatial/utility/vec_2d.hpp
  cpp/src/spatial/linestring_distance.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/spatial/linestring_distance_test.cpp
  cpp/tests/spatial/linestring_distance_test_medium.cpp
Labels: 3 - Ready for Review, feature request, cmake, non-breaking, cpp

#527 Fix various issues with CMake exports
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/CUSPATIAL_GetCUDF.cmake
Labels: 3 - Ready for Review, cmake, improvement, non-breaking, cpp

#495 Use conda compilers
  conda/recipes/cuspatial/conda_build_config.yaml
  conda/recipes/cuspatial/meta.yaml
  conda/recipes/libcuspatial/conda_build_config.yaml
  conda/recipes/libcuspatial/meta.yaml
Labels: conda, improvement, non-breaking, inactive-30d

#524 Build cuspatial with scikit-build
  .gitignore
  build.sh
  ci/gpu/build.sh
  ci/release/update-version.sh
  conda/environments/cuspatial_dev_cuda11.0.yml
  conda/environments/cuspatial_dev_cuda11.1.yml
  conda/environments/cuspatial_dev_cuda11.2.yml
  conda/recipes/cuspatial/build.sh
  conda/recipes/cuspatial/meta.yaml
  conda/recipes/libcuspatial/meta.yaml
  python/cuspatial/CMakeLists.txt
  python/cuspatial/cuspatial/_lib/CMakeLists.txt
  python/cuspatial/pyproject.toml
  python/cuspatial/setup.py
Labels: conda, 3 - Ready for Review, gpuCI, cmake, Python, improvement, non-breaking

#532 Fix conda recipes
  conda/recipes/cuspatial/conda_build_config.yaml
  conda/recipes/cuspatial/meta.yaml
  conda/recipes/libcuspatial/meta.yaml
Labels: conda, improvement, non-breaking

#537 Fix library directory for installation
  cpp/CMakeLists.txt
Labels: 3 - Ready for Review, cmake, improvement, non-breaking, cpp

#523 Update Documentation with Pydata Sphinx Theme, and more
  conda/environments/cuspatial_dev_cuda11.0.yml
  conda/environments/cuspatial_dev_cuda11.1.yml
  conda/environments/cuspatial_dev_cuda11.2.yml
  docs/source/api.rst
  docs/source/api_docs/geopandas_compatibility.rst
  docs/source/api_docs/gis.rst
  docs/source/api_docs/internals.rst
  docs/source/api_docs/io.rst
  docs/source/api_docs/spatial_indexing.rst
  docs/source/api_docs/trajectory.rst
  docs/source/conf.py
  docs/source/index.rst
  python/cuspatial/cuspatial/core/interpolate.py
  python/cuspatial/cuspatial/geometry/geoarrowbuffers.py
  python/cuspatial/cuspatial/geometry/geodataframe.py
  python/cuspatial/cuspatial/io/geopandas.py
Labels: documentation, conda, 3 - Ready for Review, Python, improvement, non-breaking
