Repository rapidsai/cuspatial, pull requests merged in 2022-12, with the labels that each got.

#837 Enable copy_prs. [skip gpuci]
  .github/ops-bot.yaml
Labels: improvement, non-breaking

#841 Use Libcudf Test Macro
  cpp/tests/indexing/point_quadtree_test.cu
  cpp/tests/interpolate/cubic_spline_test.cpp
  cpp/tests/join/point_in_polygon_test_large.cpp
  cpp/tests/join/point_in_polygon_test_small.cpp
  cpp/tests/join/point_to_nearest_linestring_test_small.cpp
  cpp/tests/join/quadtree_linestring_filtering_test.cu
  cpp/tests/join/quadtree_polygon_filtering_test.cu
  cpp/tests/spatial/haversine_test.cpp
  cpp/tests/spatial/linestring_bbox_test.cu
  cpp/tests/spatial/pairwise_point_in_polygon_test.cpp
  cpp/tests/spatial/point_in_polygon_test.cpp
  cpp/tests/spatial/polygon_bbox_test.cu
Labels: tests, improvement, non-breaking, libcuspatial

#843 Remove deprecated min_size parameter from quadtree_on_points
  docs/source/user_guide/cuspatial_api_examples.ipynb
  python/cuspatial/cuspatial/core/spatial/indexing.py
Labels: Python, improvement, breaking

#842 Remove deprecated lonlat_to_cartesian functions
  cpp/include/cuspatial/coordinate_transform.hpp
  cpp/src/spatial/sinusoidal_projection.cu
  docs/source/api_docs/spatial.rst
  docs/source/user_guide/cuspatial_api_examples.ipynb
  java/src/main/native/src/cuSpatialJni.cpp
  python/cuspatial/benchmarks/api/bench_api.py
  python/cuspatial/cuspatial/__init__.py
  python/cuspatial/cuspatial/core/spatial/__init__.py
  python/cuspatial/cuspatial/core/spatial/projection.py
  python/cuspatial/demos/traj_test_soa_locust.py
Labels: Python, improvement, breaking, libcuspatial, Java

#855 Update `memory_usage` with tweaked sizes
  python/cuspatial/cuspatial/tests/test_geodataframe.py
  python/cuspatial/cuspatial/tests/test_geoseries.py
Labels: bug, tests, non-breaking

#813 Add `pairwise_linestring_intersection_with_duplicates` API
  cpp/include/cuspatial/detail/utility/zero_data.cuh
  cpp/include/cuspatial/experimental/detail/geometry/linestring_ref.cuh
  cpp/include/cuspatial/experimental/detail/geometry_collection/multilinestring_ref.cuh
  cpp/include/cuspatial/experimental/detail/linestring_intersection_with_duplicates.cuh
  cpp/include/cuspatial/experimental/detail/ranges/enumerate_range.cuh
  cpp/include/cuspatial/experimental/detail/ranges/multilinestring_range.cuh
  cpp/include/cuspatial/experimental/geometry/linestring_ref.cuh
  cpp/include/cuspatial/experimental/geometry_collection/multilinestring_ref.cuh
  cpp/include/cuspatial/experimental/ranges/multilinestring_range.cuh
  cpp/include/cuspatial/experimental/ranges/range.cuh
  cpp/include/cuspatial_test/vector_equality.hpp
  cpp/include/doxygen_groups.h
  cpp/tests/CMakeLists.txt
  cpp/tests/experimental/find/find_and_combine_segments_test.cu
  cpp/tests/experimental/spatial/linestring_intersection_with_duplicates_test.cu
Labels: feature request, cmake, non-breaking, libcuspatial

#819 Add `find_point_on_segment` internal API
  cpp/include/cuspatial/detail/utility/floating_point.cuh
  cpp/include/cuspatial/detail/utility/linestring.cuh
  cpp/include/cuspatial/experimental/detail/find/find_point_on_segments.cuh
  cpp/include/cuspatial_test/vector_equality.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/experimental/find/find_point_on_segments_test.cu
Labels: feature request, 2 - In Progress, cmake, non-breaking, libcuspatial

#857 Fix: Sort Intersection Result by Keys in `intersection_with_duplicate` Test
  cpp/include/cuspatial/experimental/detail/linestring_intersection_with_duplicates.cuh
  cpp/tests/experimental/spatial/linestring_intersection_with_duplicates_test.cu
Labels: bug, non-breaking, libcuspatial

#851 Adds `remove_if` Function to `linestring_intersection_intermediates`
  cpp/include/cuspatial/experimental/detail/linestring_intersection_with_duplicates.cuh
  cpp/include/cuspatial_test/vector_factories.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/experimental/spatial/linestring_intersection_intermediates_remove_if_test.cu
Labels: 3 - Ready for Review, feature request, cmake, non-breaking, libcuspatial

#850 Fix a bug preventing `align` from working with a basic slice.
  python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/tests/test_align.py
Labels: bug, 3 - Ready for Review, Python, non-breaking

#834 Implement all binary operations that depend only on point-in-polygon
  python/cuspatial/cuspatial/core/binpreds/__init__.py
  python/cuspatial/cuspatial/core/binpreds/binpreds.py
  python/cuspatial/cuspatial/core/binpreds/contains.py
  python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/tests/binpreds/test_contains_properly.py
  python/cuspatial/cuspatial/tests/binpreds/test_pip_only_binpreds.py
  python/cuspatial/cuspatial/utils/column_utils.py
Labels: 4 - Needs Reviewer, Python, improvement, non-breaking

#856 Add `reset_index` to `GeoSeries` and `GeoDataFrame`
  python/cuspatial/cuspatial/core/geodataframe.py
  python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/tests/test_geodataframe.py
  python/cuspatial/cuspatial/tests/test_geoseries.py
Labels: bug, 4 - Needs Reviewer, Python, non-breaking

#852 Add Header Only API `pairwise_linestring_intersection`
  cpp/include/cuspatial/experimental/detail/find/find_points_on_segments.cuh
  cpp/include/cuspatial/experimental/detail/linestring_intersection.cuh
  cpp/include/cuspatial/experimental/geometry/segment.cuh
  cpp/include/cuspatial/experimental/linestring_intersection.cuh
  cpp/include/cuspatial/experimental/ranges/range.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/experimental/find/find_point_on_segments_test.cu
  cpp/tests/experimental/find/find_points_on_segments_test.cu
  cpp/tests/experimental/spatial/intersection_test_utils.cuh
  cpp/tests/experimental/spatial/linestring_intersection_test.cu
  cpp/tests/experimental/spatial/linestring_intersection_with_duplicates_test.cu
Labels: 5 - Ready to Merge, feature request, cmake, non-breaking, libcuspatial

#836 Add GitHub Actions Workflows
  .github/labeler.yml
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/build_cpp.sh
  ci/build_python.sh
  ci/check_style.sh
  ci/cpu/build.sh
  ci/gpu/build.sh
  ci/test_cpp.sh
  ci/test_python.sh
  conda/environments/all_cuda-115_arch-x86_64.yaml
  conda/recipes/cuspatial/meta.yaml
  conda/recipes/libcuspatial/conda_build_config.yaml
  conda/recipes/libcuspatial/meta.yaml
  dependencies.yaml
  python/cuspatial/.coveragerc
Labels: conda, gpuCI, cmake, improvement, non-breaking

#863 Enable `Recently Updated` Check
  .github/ops-bot.yaml
Labels: improvement, non-breaking
