Repository rapidsai/cuspatial, pull requests merged in 2022-06, with the labels that each got.

#545 [gpuCI] Forward-merge branch-22.06 to branch-22.08 [skip gpuci]
  cpp/include/cuspatial/distances/linestring_distance.hpp
  python/cuspatial/cuspatial/__init__.py
  python/cuspatial/cuspatial/_lib/CMakeLists.txt
  python/cuspatial/cuspatial/_lib/cpp/linestring_distance.pxd
  python/cuspatial/cuspatial/_lib/linestring_distance.pyx
  python/cuspatial/cuspatial/core/gis.py
  python/cuspatial/cuspatial/core/interpolate.py
  python/cuspatial/cuspatial/tests/test_pairwise_linestring_distance.py
Labels: cmake, Python, cpp

#514 Refactor lonlat_to_cartesian to header-only API
  .gitignore
  cpp/include/cuspatial/constants.hpp
  cpp/include/cuspatial/experimental/coordinate_transform.cuh
  cpp/include/cuspatial/experimental/detail/coordinate_transform.cuh
  cpp/include/cuspatial/experimental/haversine.cuh
  cpp/include/cuspatial/experimental/type_utils.hpp
  cpp/include/cuspatial/utility/vec_2d.hpp
  cpp/src/spatial/lonlat_to_cartesian.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/experimental/spatial/coordinate_transform_test.cu
Labels: 3 - Ready for Review, feature request, cmake, non-breaking, cpp

#534 Add Doxygen Documentation for `libcuspatial`
  cpp/doxygen/Doxyfile
  cpp/doxygen/main_page.md
  cpp/doxygen/rapids.css
  cpp/include/cuspatial/constants.hpp
  cpp/include/cuspatial/coordinate_transform.hpp
  cpp/include/cuspatial/cubic_spline.hpp
  cpp/include/cuspatial/distances/linestring_distance.hpp
  cpp/include/cuspatial/error.hpp
  cpp/include/cuspatial/experimental/haversine.cuh
  cpp/include/cuspatial/experimental/type_utils.hpp
  cpp/include/cuspatial/hausdorff.hpp
  cpp/include/cuspatial/haversine.hpp
  cpp/include/cuspatial/point_in_polygon.hpp
  cpp/include/cuspatial/point_quadtree.hpp
  cpp/include/cuspatial/polygon_bounding_box.hpp
  cpp/include/cuspatial/polyline_bounding_box.hpp
  cpp/include/cuspatial/shapefile_reader.hpp
  cpp/include/cuspatial/spatial_join.hpp
  cpp/include/cuspatial/spatial_window.hpp
  cpp/include/cuspatial/trajectory.hpp
  cpp/include/cuspatial/types.hpp
  cpp/include/cuspatial/utility/vec_2d.hpp
  cpp/include/doxygen_groups.h
Labels: 3 - Ready for Review, doc, non-breaking, cpp

#526 Refactor `linestring_distance` to header only API
  cpp/include/cuspatial/experimental/detail/linestring_distance.cuh
  cpp/include/cuspatial/experimental/linestring_distance.cuh
  cpp/include/cuspatial/utility/device_atomics.cuh
  cpp/include/cuspatial/utility/traits.hpp
  cpp/src/spatial/linestring_distance.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/experimental/spatial/linestring_distance_test.cu
Labels: feature request, cmake, non-breaking, cpp

#552 Update docs script to build `libcuspatial` [skip ci]
  ci/docs/build.sh
Labels: doc, gpuCI, non-breaking

#550 Bump cuspatial python version in scikit-build
  python/cuspatial/CMakeLists.txt
Labels: bug, cmake, Python, non-breaking

#543 Change build.sh to find C++ library by default and avoid shadowing CMAKE_ARGS
  build.sh
  ci/gpu/build.sh
  conda/recipes/cuspatial/build.sh
Labels: conda, 5 - Ready to Merge, gpuCI, improvement, non-breaking

#562 Fix failed automerge 22.06 into 22.08
  CHANGELOG.md
Labels: bug, non-breaking

#554 Remove `itstimestamp` and `types.hpp`
  cpp/include/cuspatial/cuda_utils.hpp
  cpp/include/cuspatial/experimental/detail/coordinate_transform.cuh
  cpp/include/cuspatial/experimental/detail/haversine.cuh
  cpp/include/cuspatial/experimental/type_utils.hpp
  cpp/include/cuspatial/types.hpp
  cpp/include/cuspatial/utility/vec_2d.hpp
  cpp/include/doxygen_groups.h
  cpp/src/spatial/haversine.cu
  cpp/tests/experimental/spatial/coordinate_transform_test.cu
  cpp/tests/experimental/spatial/haversine_test.cu
Labels: improvement, non-breaking, cpp

#539 Add missing Thrust includes
  cpp/benchmarks/hausdorff_benchmark.cpp
  cpp/include/cuspatial/experimental/type_utils.hpp
  cpp/src/indexing/construction/detail/phase_1.cuh
  cpp/src/indexing/construction/detail/phase_2.cuh
  cpp/src/indexing/construction/point_quadtree.cu
  cpp/src/interpolate/cubic_spline.cu
  cpp/src/join/detail/intersection.cuh
  cpp/src/join/detail/traversal.cuh
  cpp/src/join/quadtree_point_in_polygon.cu
  cpp/src/join/quadtree_point_to_nearest_polyline.cu
  cpp/src/join/quadtree_poly_filtering.cu
  cpp/src/spatial/hausdorff.cu
  cpp/src/spatial/linestring_distance.cu
  cpp/src/spatial/lonlat_to_cartesian.cu
  cpp/src/spatial/polygon_bounding_box.cu
  cpp/src/spatial/polyline_bounding_box.cu
  cpp/src/trajectory/derive_trajectories.cu
  cpp/src/trajectory/trajectory_bounding_boxes.cu
  cpp/src/trajectory/trajectory_distances_and_speeds.cu
  cpp/src/utility/scatter_output_iterator.cuh
  cpp/tests/join/point_in_polygon_test_large.cpp
  cpp/tests/spatial/hausdorff_test.cpp
  cpp/tests/spatial/point_in_polygon_test.cpp
  cpp/tests/trajectory/test_trajectory_distances_and_speeds.cu
Labels: cmake, improvement, non-breaking, cpp

#574 Update Python version support.
  pyproject.toml
  python/cuspatial/setup.py
Labels: Python, improvement, non-breaking

#560 Relocate Utility Files
  cpp/include/cuspatial/detail/utility/linestring.cuh
  cpp/include/cuspatial/detail/utility/traits.hpp
  cpp/include/cuspatial/experimental/coordinate_transform.cuh
  cpp/include/cuspatial/experimental/detail/haversine.cuh
  cpp/include/cuspatial/experimental/detail/linestring_distance.cuh
  cpp/include/cuspatial/vec_2d.hpp
  cpp/src/spatial/linestring_distance.cu
  cpp/src/spatial/lonlat_to_cartesian.cu
  cpp/tests/experimental/spatial/linestring_distance_test.cu
Labels: improvement, non-breaking, cpp

#561 Combine `device_atomics`
  cpp/include/cuspatial/detail/utility/device_atomics.cuh
  cpp/include/cuspatial/experimental/detail/linestring_distance.cuh
  cpp/include/cuspatial/utility/device_atomics.cuh
Labels: 3 - Ready for Review, improvement, non-breaking, cpp

#538 Refactor Hausdorff distance to header-only API
  cpp/CMakeLists.txt
  cpp/include/cuspatial/experimental/coordinate_transform.cuh
  cpp/include/cuspatial/experimental/detail/hausdorff.cuh
  cpp/include/cuspatial/experimental/hausdorff.cuh
  cpp/include/cuspatial/experimental/haversine.cuh
  cpp/include/cuspatial/experimental/type_utils.hpp
  cpp/include/doxygen_groups.h
  cpp/src/spatial/hausdorff.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/experimental/spatial/hausdorff_test.cu
  cpp/tests/spatial/hausdorff_test.cpp
Labels: 3 - Ready for Review, cmake, improvement, non-breaking, cpp
