Repository rapidsai/cuspatial, pull requests merged in 2022-08, with the labels that each got.

#617 Simplify PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: doc, non-breaking

#619 [REVIEW] Use documented header template for `doxygen`
  cpp/doxygen/Doxyfile
  cpp/doxygen/footer.html
  cpp/doxygen/header.html
Labels: doc, non-breaking, cpp

#616 [skip ci] Fix Broken Link in NYC Taxi Notebook
  notebooks/nyc_taxi_years_correlation.ipynb
Labels: bug, Python, non-breaking

#623 Bump `gdal` version
  conda/recipes/cuspatial/conda_build_config.yaml
  conda/recipes/cuspatial/meta.yaml
  conda/recipes/libcuspatial/conda_build_config.yaml
Labels: conda, improvement, non-breaking

#631 [REVIEW] Defer loading of `custom.js`
  docs/source/conf.py
Labels: doc, non-breaking

#596 [FIX] Fix compile error in distance benchmark
  cpp/benchmarks/pairwise_linestring_distance.cu
Labels: 3 - Ready for Review, improvement, non-breaking, cpp

#655 Add Missing Thrust Headers for Thrust 1.17
  cpp/benchmarks/pairwise_linestring_distance.cu
  cpp/benchmarks/points_in_range.cu
  cpp/include/cuspatial/experimental/detail/hausdorff.cuh
  cpp/include/cuspatial/experimental/detail/linestring_distance.cuh
  cpp/include/cuspatial/experimental/detail/point_distance.cuh
  cpp/include/cuspatial/experimental/detail/points_in_range.cuh
  cpp/src/join/detail/point.cuh
  cpp/src/join/quadtree_point_to_nearest_polyline.cu
  cpp/src/trajectory/trajectory_distances_and_speeds.cu
  cpp/tests/experimental/spatial/coordinate_transform_test.cu
  cpp/tests/experimental/spatial/hausdorff_test.cu
  cpp/tests/experimental/spatial/point_distance_test.cu
Labels: 3 - Ready for Review, improvement, non-breaking, cpp

#657 Move `GeoSeries` `GeoDataframe` into `core` package and hide column implementation in internal `_column` package
  .pre-commit-config.yaml
  python/cuspatial/cuspatial/__init__.py
  python/cuspatial/cuspatial/core/_column/__init__.py
  python/cuspatial/cuspatial/core/_column/geocolumn.py
  python/cuspatial/cuspatial/core/_column/geometa.py
  python/cuspatial/cuspatial/core/geodataframe.py
  python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/geometry/__init__.py
  python/cuspatial/cuspatial/geometry/geoutil.py
  python/cuspatial/cuspatial/io/geopandas.py
  python/cuspatial/cuspatial/io/geopandas_reader.py
  python/cuspatial/cuspatial/io/pygeoarrow.py
  python/cuspatial/cuspatial/tests/test_geodataframe.py
Labels: Python, improvement, non-breaking

#654 Branch 22.10 merge 22.08
  CHANGELOG.md
Labels: doc, non-breaking

#661 Rename Test Folders to Align with Module Names
  python/cuspatial/cuspatial/tests/spatial/bounding/test_polygon_bounding_boxes.py
  python/cuspatial/cuspatial/tests/spatial/bounding/test_polyline_bounding_boxes.py
  python/cuspatial/cuspatial/tests/spatial/distance/test_hausdorff_distance.py
  python/cuspatial/cuspatial/tests/spatial/distance/test_haversine_distance.py
  python/cuspatial/cuspatial/tests/spatial/distance/test_pairwise_linestring_distance.py
  python/cuspatial/cuspatial/tests/spatial/filtering/test_points_in_spatial_window.py
  python/cuspatial/cuspatial/tests/spatial/indexing/test_indexing.py
  python/cuspatial/cuspatial/tests/spatial/projection/test_lonlat_to_cartesian.py
Labels: Python, improvement, non-breaking

#662 Remove lonlat_2d and cartesian_2d types
  cpp/benchmarks/pairwise_linestring_distance.cu
  cpp/benchmarks/point_in_polygon.cu
  cpp/doc/libcuspatial_refactoring_guide.md
  cpp/include/cuspatial/detail/utility/traits.hpp
  cpp/include/cuspatial/experimental/coordinate_transform.cuh
  cpp/include/cuspatial/experimental/detail/coordinate_transform.cuh
  cpp/include/cuspatial/experimental/detail/haversine.cuh
  cpp/include/cuspatial/experimental/detail/linestring_distance.cuh
  cpp/include/cuspatial/experimental/detail/point_distance.cuh
  cpp/include/cuspatial/experimental/detail/point_in_polygon.cuh
  cpp/include/cuspatial/experimental/detail/point_linestring_distance.cuh
  cpp/include/cuspatial/experimental/haversine.cuh
  cpp/include/cuspatial/experimental/linestring_distance.cuh
  cpp/include/cuspatial/experimental/point_distance.cuh
  cpp/include/cuspatial/experimental/point_in_polygon.cuh
  cpp/include/cuspatial/experimental/point_linestring_distance.cuh
  cpp/include/cuspatial/experimental/type_utils.hpp
  cpp/include/cuspatial/vec_2d.hpp
  cpp/src/spatial/haversine.cu
  cpp/src/spatial/linestring_distance.cu
  cpp/src/spatial/lonlat_to_cartesian.cu
  cpp/src/spatial/point_distance.cu
  cpp/src/spatial/point_in_polygon.cu
  cpp/src/spatial/point_linestring_distance.cu
  cpp/src/spatial_window/spatial_window.cu
  cpp/tests/experimental/spatial/coordinate_transform_test.cu
  cpp/tests/experimental/spatial/haversine_test.cu
  cpp/tests/experimental/spatial/linestring_distance_test.cu
  cpp/tests/experimental/spatial/point_distance_test.cu
  cpp/tests/experimental/spatial/point_in_polygon_test.cu
  cpp/tests/experimental/spatial/point_linestring_distance_test.cu
Labels: improvement, breaking, cpp, c++

#645 Decouple `interpolate` functions from trajectory
  docs/source/api_docs/index.rst
  docs/source/api_docs/interpolation.rst
  docs/source/api_docs/trajectory.rst
  python/cuspatial/cuspatial/core/interpolate.py
  python/cuspatial/cuspatial/core/trajectory.py
  python/cuspatial/cuspatial/tests/test_interpolate.py
Labels: Python, improvement, breaking

#606 Add libcuspatial C++ developer guide.
  cpp/doc/DEVELOPER_GUIDE.md
  cpp/doxygen/Doxyfile
  cpp/include/cuspatial/detail/nvtx/nvtx3.hpp
  cpp/include/cuspatial/detail/nvtx/ranges.hpp
Labels: doc, non-breaking, cpp
