Repository rapidsai/cuspatial, pull requests merged in 2022-09, with the labels that each got.

#625 Add Developer Guides, replace internal.md, CONTRIBUTING.md
  CONTRIBUTING.md
  docs/source/api_docs/index.rst
  docs/source/developer_guide/contributing_guide.md
  docs/source/developer_guide/development_environment.md
  docs/source/developer_guide/index.md
  docs/source/developer_guide/internals.md
  docs/source/developer_guide/library_design.md
Labels: doc, non-breaking

#660 Add Multi-Geometry support to `point_linestring_distance` and build python bindings
  cpp/include/cuspatial/distance/point_linestring_distance.hpp
  cpp/include/cuspatial/experimental/detail/point_linestring_distance.cuh
  cpp/include/cuspatial/experimental/point_linestring_distance.cuh
  cpp/src/spatial/point_linestring_distance.cu
  cpp/src/utility/double_boolean_dispatch.hpp
  cpp/src/utility/iterator.hpp
  cpp/tests/experimental/spatial/point_linestring_distance_test.cu
  cpp/tests/spatial/point_linestring_distance_test.cpp
  python/cuspatial/cuspatial/__init__.py
  python/cuspatial/cuspatial/_lib/CMakeLists.txt
  python/cuspatial/cuspatial/_lib/cpp/distance/point_linestring_distance.pxd
  python/cuspatial/cuspatial/_lib/cpp/optional.pxd
  python/cuspatial/cuspatial/_lib/point_linestring_distance.pyx
  python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/core/spatial/__init__.py
  python/cuspatial/cuspatial/core/spatial/distance.py
  python/cuspatial/cuspatial/tests/conftest.py
  python/cuspatial/cuspatial/tests/test_point_linestring_distance.py
  python/cuspatial/cuspatial/utils/column_utils.py
Labels: 4 - Needs Reviewer, feature request, cmake, Python, breaking, cpp

#669 Expand expect_vector_equivalent to handle std::vector of vec_2d<T> and move traits out of detail
  cpp/doc/DEVELOPER_GUIDE.md
  cpp/doc/libcuspatial_refactoring_guide.md
  cpp/include/cuspatial/experimental/detail/coordinate_transform.cuh
  cpp/include/cuspatial/experimental/detail/hausdorff.cuh
  cpp/include/cuspatial/experimental/detail/haversine.cuh
  cpp/include/cuspatial/experimental/detail/linestring_distance.cuh
  cpp/include/cuspatial/experimental/detail/point_distance.cuh
  cpp/include/cuspatial/experimental/detail/point_in_polygon.cuh
  cpp/include/cuspatial/experimental/detail/point_linestring_distance.cuh
  cpp/include/cuspatial/experimental/detail/points_in_range.cuh
  cpp/include/cuspatial/experimental/haversine.cuh
  cpp/include/cuspatial/experimental/type_utils.hpp
  cpp/include/cuspatial/traits.hpp
  cpp/include/cuspatial/vec_2d.hpp
  cpp/tests/experimental/spatial/hausdorff_test.cu
  cpp/tests/experimental/spatial/haversine_test.cu
  cpp/tests/experimental/spatial/linestring_distance_test.cu
  cpp/tests/experimental/spatial/point_distance_test.cu
  cpp/tests/experimental/spatial/point_linestring_distance_test.cu
  cpp/tests/experimental/spatial/points_in_range_test.cu
  cpp/tests/utility/vector_equality.hpp
Labels: testing, 3 - Ready for Review, improvement, non-breaking, cpp

#670 `linestring_distance` Header Only API Returns Past-the-End iterator
  cpp/include/cuspatial/experimental/detail/linestring_distance.cuh
  cpp/include/cuspatial/experimental/linestring_distance.cuh
  cpp/include/cuspatial/experimental/point_linestring_distance.cuh
  cpp/src/spatial/linestring_distance.cu
  cpp/tests/experimental/spatial/linestring_distance_test.cu
  cpp/tests/spatial/linestring_distance_test.cpp
  cpp/tests/spatial/linestring_distance_test_medium.cpp
  python/cuspatial/cuspatial/tests/spatial/distance/test_pairwise_linestring_distance.py
Labels: bug, 3 - Ready for Review, Python, non-breaking, cpp

#675 Update to the latest version 3 of GDAL.
  conda/recipes/cuspatial/conda_build_config.yaml
  conda/recipes/libcuspatial/conda_build_config.yaml
Labels: conda, 3 - Ready for Review, improvement, non-breaking

#609 [FEA] Integrate `GeoSeries` with `read_polygon_shapefile`
  cpp/include/cuspatial/shapefile_reader.hpp
  cpp/src/io/shp/polygon_shapefile_reader.cpp
  cpp/src/io/shp/polygon_shapefile_reader.cu
  cpp/tests/io/shp/polygon_shapefile_reader_test.cpp
  python/cuspatial/cuspatial/_lib/cpp/shapefile_reader.pxd
  python/cuspatial/cuspatial/_lib/shapefile_reader.pyx
  python/cuspatial/cuspatial/core/_column/geocolumn.py
  python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/io/shapefile.py
  python/cuspatial/cuspatial/tests/test_geoseries.py
  python/cuspatial/cuspatial/tests/test_shapefile_reader.py
Labels: 3 - Ready for Review, feature request, Python, non-breaking, cpp

#665 [FEA] Statically link all CUDA toolkit libraries
  cpp/CMakeLists.txt
Labels: 3 - Ready for Review, cmake, improvement, non-breaking, cpp

#671 Fix and tidy coordinate_transform_test
  cpp/include/cuspatial/constants.hpp
  cpp/include/cuspatial/experimental/detail/coordinate_transform.cuh
  cpp/tests/experimental/spatial/coordinate_transform_test.cu
Labels: bug, testing, 3 - Ready for Review, non-breaking, cpp

#684 Rewrite `copy_type_metadata` to reuse the inherited method and handle geocolumns specifically.
  python/cuspatial/cuspatial/core/geodataframe.py
Labels: bug, 3 - Ready for Review, Python, non-breaking

#658 Add C++ API for `point_linestring_nearest_points`
  cpp/CMakeLists.txt
  cpp/include/cuspatial/detail/utility/linestring.cuh
  cpp/include/cuspatial/experimental/detail/point_linestring_nearest_points.cuh
  cpp/include/cuspatial/experimental/point_linestring_nearest_points.cuh
  cpp/include/cuspatial/experimental/type_utils.hpp
  cpp/include/cuspatial/point_linestring_nearest_points.hpp
  cpp/include/doxygen_groups.h
  cpp/src/spatial/point_linestring_nearest_points.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/experimental/spatial/point_linestring_nearest_points_test.cu
  cpp/tests/spatial/point_linestring_nearest_points_test.cpp
Labels: 3 - Ready for Review, feature request, cmake, non-breaking, cpp

#686 Accept `None` and python list in `GeoSeries` constructor
  python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/tests/test_geoseries.py
Labels: 3 - Ready for Review, feature request, Python, non-breaking

#685 Add Union-style indexing to `.points`, `.multipoints`, `.lines`, and `.polygons` `GeoSeries` accessors
  python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/tests/test_geodataframe.py
  python/cuspatial/cuspatial/tests/test_geoseries.py
Labels: bug, 3 - Ready for Review, Python, non-breaking

#690 [gpuCI] Forward-merge branch-22.10 to branch-22.12 [skip gpuci]
  python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/tests/test_geodataframe.py
  python/cuspatial/cuspatial/tests/test_geoseries.py
Labels: Python

#691 [gpuCI] Forward-merge branch-22.10 to branch-22.12 [skip gpuci]
  python/cuspatial/cuspatial/core/geodataframe.py
  python/cuspatial/cuspatial/tests/test_geodataframe.py
  python/cuspatial/cuspatial/tests/test_geoseries.py
Labels: Python

#689 Document that minimum required CMake version is now 3.23.1
  conda/environments/cuspatial_dev_cuda11.0.yml
  conda/environments/cuspatial_dev_cuda11.1.yml
  conda/environments/cuspatial_dev_cuda11.2.yml
  conda/recipes/cuspatial/meta.yaml
  conda/recipes/libcuspatial/conda_build_config.yaml
  cpp/CMakeLists.txt
  java/src/main/native/CMakeLists.txt
  python/cuspatial/CMakeLists.txt
  python/cuspatial/pyproject.toml
Labels: conda, 3 - Ready for Review, doc, cmake, Python, java, non-breaking, cpp

#628 Header-only refactoring of derive_trajectories
  cpp/include/cuspatial/experimental/derive_trajectories.cuh
  cpp/include/cuspatial/experimental/detail/derive_trajectories.cuh
  cpp/include/cuspatial/trajectory.hpp
  cpp/src/trajectory/derive_trajectories.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/base_fixture.hpp
  cpp/tests/experimental/trajectory/derive_trajectories_test.cu
  cpp/tests/experimental/trajectory/trajectory_test_utils.cuh
  cpp/tests/trajectory/test_derive_trajectories.cpp
  cpp/tests/trajectory/test_derive_trajectories.cu
Labels: 3 - Ready for Review, cmake, improvement, non-breaking, cpp, c++

#672 Add TESTING.md and BENCHMARKING.md
  cpp/doc/BENCHMARKING.md
  cpp/doc/TESTING.md
Labels: 3 - Ready for Review, doc, non-breaking, cpp

#693 Fix all unexecutable code examples I can find.
  docs/source/api_docs/geopandas_compatibility.rst
  python/cuspatial/cuspatial/core/geodataframe.py
  python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/core/spatial/distance.py
  python/cuspatial/cuspatial/core/trajectory.py
Labels: bug, 3 - Ready for Review, Python, non-breaking

#667 Add DOCUMENTATION.md
  cpp/CMakeLists.txt
  cpp/doc/DOCUMENTATION.md
Labels: 3 - Ready for Review, doc, cmake, non-breaking, cpp

#681 Python API for point-linestring nearest points
  docs/source/api_docs/spatial.rst
  docs/source/api_docs/trajectory.rst
  python/cuspatial/cuspatial/__init__.py
  python/cuspatial/cuspatial/_lib/CMakeLists.txt
  python/cuspatial/cuspatial/_lib/cpp/point_linestring_nearest_points.pxd
  python/cuspatial/cuspatial/_lib/nearest_points.pyx
  python/cuspatial/cuspatial/_lib/point_linestring_distance.pyx
  python/cuspatial/cuspatial/_lib/utils.pxd
  python/cuspatial/cuspatial/_lib/utils.pyx
  python/cuspatial/cuspatial/core/_column/geocolumn.py
  python/cuspatial/cuspatial/core/_column/geometa.py
  python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/core/spatial/__init__.py
  python/cuspatial/cuspatial/core/spatial/nearest_points.py
  python/cuspatial/cuspatial/io/geopandas_reader.py
  python/cuspatial/cuspatial/tests/spatial/nearest_points/test_nearest_points.py
Labels: feature request, cmake, Python, non-breaking

#692 Vectorized Load, refactors `type_utils.hpp` into `iterator_factory.cuh`
  cpp/benchmarks/pairwise_linestring_distance.cu
  cpp/include/cuspatial/experimental/detail/point_linestring_distance.cuh
  cpp/include/cuspatial/experimental/iterator_factory.cuh
  cpp/include/doxygen_groups.h
  cpp/src/spatial/hausdorff.cu
  cpp/src/spatial/haversine.cu
  cpp/src/spatial/linestring_distance.cu
  cpp/src/spatial/lonlat_to_cartesian.cu
  cpp/src/spatial/point_distance.cu
  cpp/src/spatial/point_in_polygon.cu
  cpp/src/spatial/point_linestring_distance.cu
  cpp/src/spatial/point_linestring_nearest_points.cu
  cpp/src/spatial_window/spatial_window.cu
  cpp/src/trajectory/derive_trajectories.cu
  cpp/tests/experimental/spatial/linestring_distance_test.cu
  cpp/tests/experimental/spatial/point_distance_test.cu
  cpp/tests/experimental/spatial/point_in_polygon_test.cu
  cpp/tests/experimental/spatial/point_linestring_distance_test.cu
  cpp/tests/experimental/spatial/point_linestring_nearest_points_test.cu
Labels: 3 - Ready for Review, feature request, non-breaking, cpp

#666 cuSpatial Python User Guide
  docs/source/conf.py
  docs/source/user_guide/index.md
  docs/source/user_guide/users.ipynb
Labels: feature request, non-breaking

#600 Add python benchmarks.
  docs/source/developer_guide/benchmarking.md
  docs/source/developer_guide/index.md
  python/cuspatial/benchmarks/api/bench_api.py
  python/cuspatial/benchmarks/conftest.py
  python/cuspatial/benchmarks/io/bench_geoseries.py
  python/cuspatial/benchmarks/pytest.ini
Labels: 5 - Ready to Merge, 4 - Needs Reviewer, Python, improvement, non-breaking

#673 Publish Developer Guide
  ci/release/update-version.sh
  cpp/doc/DOCUMENTATION.md
  cpp/doxygen/Doxyfile
  cpp/doxygen/DoxygenLayout.xml
  cpp/doxygen/developer_guide/BENCHMARKING.md
  cpp/doxygen/developer_guide/DEVELOPER_GUIDE.md
  cpp/doxygen/developer_guide/DOCUMENTATION.md
  cpp/doxygen/developer_guide/REFACTORING_GUIDE.md
  cpp/doxygen/developer_guide/TESTING.md
  cpp/doxygen/main_page.md
  cpp/doxygen/modify_fences.sh
Labels: 5 - Ready to Merge, doc, gpuCI, non-breaking, cpp

#717 [gpuCI] Forward-merge branch-22.10 to branch-22.12 [skip gpuci]
  ci/release/update-version.sh
  cpp/doc/DOCUMENTATION.md
  cpp/doxygen/Doxyfile
  cpp/doxygen/DoxygenLayout.xml
  cpp/doxygen/developer_guide/BENCHMARKING.md
  cpp/doxygen/developer_guide/DEVELOPER_GUIDE.md
  cpp/doxygen/developer_guide/DOCUMENTATION.md
  cpp/doxygen/developer_guide/REFACTORING_GUIDE.md
  cpp/doxygen/developer_guide/TESTING.md
  cpp/doxygen/main_page.md
  cpp/doxygen/modify_fences.sh
Labels: gpuCI, cpp
