Repository rapidsai/cuspatial, pull requests merged in 2022-10, with the labels that each got.

#712 Initialize a `GeoDataFrame` with `dict`.
  python/cuspatial/cuspatial/core/geodataframe.py
  python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/tests/test_geodataframe.py
Labels: 3 - Ready for Review, feature request, Python, non-breaking

#719 `unwrap_pyoptcol` is missing `except` keyword that causes exceptions ignored, fixes function bug
  python/cuspatial/cuspatial/_lib/utils.pyx
Labels: bug, Python, non-breaking

#720 [gpuCI] Forward-merge branch-22.10 to branch-22.12 [skip gpuci]
  python/cuspatial/cuspatial/_lib/utils.pyx
  python/cuspatial/cuspatial/core/geodataframe.py
  python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/tests/test_geodataframe.py
Labels: Python

#604 Memory_usage method for GeoSeries/GeoDataFrame and `GeoDataFrame` refactor.
  python/cuspatial/cuspatial/core/_column/geocolumn.py
  python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/tests/test_geodataframe.py
  python/cuspatial/cuspatial/tests/test_geoseries.py
Labels: 3 - Ready for Review, feature request, Python, non-breaking

#723 [gpuCI] Forward-merge branch-22.10 to branch-22.12 [skip gpuci]
  python/cuspatial/cuspatial/core/_column/geocolumn.py
  python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/tests/test_geodataframe.py
  python/cuspatial/cuspatial/tests/test_geoseries.py
Labels: Python

#718 Update link to c++ developer guide
  docs/source/developer_guide/index.md
  docs/source/developer_guide/library_design.md
Labels: 3 - Ready for Review, doc, non-breaking

#618 [REVIEW] Auto-add new Issues and PRs to cuspatial's project
  .github/workflows/add_issue_to_project.yml
Labels: 3 - Ready for Review, feature request, non-breaking

#726 Fix error in users.ipynb
  docs/source/user_guide/users.ipynb
Labels: bug, 3 - Ready for Review, non-breaking

#729 Remove `cudf/cuda.cuh` Dependency
  cpp/src/spatial/point_in_polygon.cu
  cpp/src/trajectory/trajectory_bounding_boxes.cu
  cpp/src/trajectory/trajectory_distances_and_speeds.cu
Labels: 3 - Ready for Review, improvement, non-breaking, cpp

#639 Add header only `cuspatial::quadtree_on_points`
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/quadtree_on_points.cu
  cpp/include/cuspatial/detail/utility/z_order.cuh
  cpp/include/cuspatial/experimental/detail/indexing/construction/phase_1.cuh
  cpp/include/cuspatial/experimental/detail/indexing/construction/phase_2.cuh
  cpp/include/cuspatial/experimental/detail/indexing/construction/utilities.cuh
  cpp/include/cuspatial/experimental/detail/point_quadtree.cuh
  cpp/include/cuspatial/experimental/point_quadtree.cuh
  cpp/include/cuspatial/point_quadtree.hpp
  cpp/src/indexing/construction/point_quadtree.cu
  cpp/src/join/detail/intersection.cuh
  cpp/src/join/detail/traversal.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/experimental/indexing/point_quadtree_test.cu
  cpp/tests/experimental/spatial/hausdorff_test.cu
  cpp/tests/utility/vector_equality.hpp
Labels: 3 - Ready for Review, cmake, improvement, non-breaking, cpp

#731 Introduce `multipoint_range` interface; Refactors `point_distance` API to support multipoint to multipoint distance.
  cpp/benchmarks/points_in_range.cu
  cpp/include/cuspatial/distance/point_distance.hpp
  cpp/include/cuspatial/experimental/detail/geometry_collection/multipoint_ref.cuh
  cpp/include/cuspatial/experimental/detail/point_distance.cuh
  cpp/include/cuspatial/experimental/detail/ranges/multipoint_range.cuh
  cpp/include/cuspatial/experimental/geometry_collection/multipoint_ref.cuh
  cpp/include/cuspatial/experimental/point_distance.cuh
  cpp/include/cuspatial/experimental/ranges/multipoint_range.cuh
  cpp/include/cuspatial_test/random.cuh
  cpp/include/doxygen_groups.h
  cpp/src/spatial/point_distance.cu
  cpp/tests/experimental/spatial/point_distance_test.cu
  cpp/tests/spatial/point_distance_test.cpp
Labels: 3 - Ready for Review, feature request, breaking, cpp

#741 Header-only trajectory_bounding_boxes
  cpp/include/cuspatial/detail/utility/device_atomics.cuh
  cpp/include/cuspatial/experimental/detail/hausdorff.cuh
  cpp/include/cuspatial/experimental/detail/trajectory_bounding_boxes.cuh
  cpp/include/cuspatial/experimental/iterator_factory.cuh
  cpp/include/cuspatial/experimental/trajectory_bounding_boxes.cuh
  cpp/include/cuspatial/vec_2d.hpp
  cpp/src/trajectory/derive_trajectories.cu
  cpp/src/trajectory/trajectory_bounding_boxes.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/experimental/trajectory/trajectory_bounding_boxes_test.cu
  cpp/tests/experimental/trajectory/trajectory_test_utils.cuh
  cpp/tests/trajectory/test_derive_trajectories.cpp
  cpp/tests/trajectory/test_trajectory_bounding_boxes.cu
Labels: 3 - Ready for Review, cmake, improvement, non-breaking, cpp

#751 Remove stale labeler [skip-ci]
  .github/workflows/stale.yaml
Labels: improvement, non-breaking

#730 Update Conda Recipe and `README.md`
  README.md
  conda/environments/cuspatial_dev_cuda11.1.yml
  conda/environments/cuspatial_dev_cuda11.2.yml
  conda/environments/cuspatial_dev_cuda11.5.yml
Labels: conda, 3 - Ready for Review, improvement, non-breaking

#747 Introduce `multilinestring_range` structure, simplifies point-linestring distance API
  cpp/include/cuspatial/detail/utility/device_atomics.cuh
  cpp/include/cuspatial/experimental/detail/point_linestring_distance.cuh
  cpp/include/cuspatial/experimental/detail/ranges/multilinestring_range.cuh
  cpp/include/cuspatial/experimental/detail/ranges/multipoint_range.cuh
  cpp/include/cuspatial/experimental/point_linestring_distance.cuh
  cpp/include/cuspatial/experimental/ranges/multilinestring_range.cuh
  cpp/include/cuspatial/experimental/ranges/multipoint_range.cuh
  cpp/include/doxygen_groups.h
  cpp/src/spatial/point_linestring_distance.cu
  cpp/tests/experimental/spatial/point_linestring_distance_test.cu
Labels: 5 - Ready to Merge, feature request, breaking, cpp
