Repository rapidsai/cuspatial, pull requests merged in 2022-04, with the labels that each got.

#511 Update black to 22.3.0, update usage of libcudf macros, and remove direct column indexing
  .pre-commit-config.yaml
  cpp/src/interpolate/cubic_spline.cu
  cpp/src/join/quadtree_point_to_nearest_polyline.cu
  cpp/src/spatial/hausdorff.cu
  cpp/src/trajectory/trajectory_bounding_boxes.cu
  cpp/src/trajectory/trajectory_distances_and_speeds.cu
  python/cuspatial/cuspatial/core/gis.py
  python/cuspatial/cuspatial/core/indexing.py
  python/cuspatial/cuspatial/core/spatial_join.py
  python/cuspatial/cuspatial/core/spatial_window.py
  python/cuspatial/cuspatial/core/trajectory.py
  python/cuspatial/cuspatial/geometry/geoarrowbuffers.py
  python/cuspatial/cuspatial/io/geopandas_adapter.py
  python/cuspatial/cuspatial/tests/conftest.py
  python/cuspatial/cuspatial/tests/test_from_geopandas.py
  python/cuspatial/cuspatial/tests/test_geodataframe.py
  python/cuspatial/cuspatial/tests/test_geoseries.py
  python/cuspatial/cuspatial/tests/test_hausdorff_distance.py
  python/cuspatial/cuspatial/tests/test_haversine_distance.py
  python/cuspatial/cuspatial/tests/test_spatial_join.py
  python/cuspatial/cuspatial/tests/test_trajectory.py
  python/cuspatial/cuspatial/utils/gis_utils.py
Labels: Python, improvement, non-breaking, cpp

#506 [FEA] Enable building static libs
  cpp/CMakeLists.txt
Labels: cmake, 5- Merge After Dependencies, improvement, non-breaking, cpp

#509 [RELEASE] cuspatial v22.04
  .github/ops-bot.yaml
  CHANGELOG.md
  ci/cpu/build.sh
  ci/gpu/build.sh
  conda/environments/cuspatial_dev_cuda11.0.yml
  conda/environments/cuspatial_dev_cuda11.1.yml
  conda/environments/cuspatial_dev_cuda11.2.yml
  conda/recipes/libcuspatial/meta.yaml
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/cmake/Modules/ConfigureCUDA.cmake
  cpp/include/cuspatial/point_in_polygon.hpp
  cpp/include/cuspatial/spatial_join.hpp
  cpp/tests/CMakeLists.txt
  docs/source/conf.py
  python/cuspatial/cuspatial/core/gis.py
  python/cuspatial/cuspatial/tests/test_haversine_distance.py
Labels: conda, gpuCI, cmake, Python, cpp

#505 Add clang-format to pre-commit hook
  .pre-commit-config.yaml
Labels: 3 - Ready for Review, improvement, non-breaking

#516 Replace `CUDA_TRY` with `CUSPATIAL_CUDA_TRY`
  cpp/benchmarks/synchronization/synchronization.cpp
  cpp/include/cuspatial/error.hpp
  cpp/src/interpolate/cubic_spline.cu
  cpp/src/join/quadtree_point_to_nearest_polyline.cu
  cpp/src/spatial/hausdorff.cu
  cpp/src/trajectory/trajectory_bounding_boxes.cu
  cpp/src/trajectory/trajectory_distances_and_speeds.cu
Labels: 3 - Ready for Review, improvement, non-breaking, cpp

#518 Merge branch-22.04 into branch-22.06
  CHANGELOG.md
Labels: doc, non-breaking

#515 Use rapids-cmake for builds
  build.sh
  ci/release/update-version.sh
  cpp/CMakeLists.txt
  cpp/cmake/Modules/ConfigureCUDA.cmake
  cpp/cmake/Modules/EvalGPUArchs.cmake
  cpp/cmake/Modules/SetGPUArchs.cmake
  cpp/cmake/cuspatial-build-config.cmake.in
  cpp/cmake/cuspatial-config.cmake.in
  cpp/cmake/thirdparty/CUSPATIAL_GetCPM.cmake
  cpp/cmake/thirdparty/CUSPATIAL_GetCUDF.cmake
  fetch_rapids.cmake
  java/src/main/native/CMakeLists.txt
Labels: 3 - Ready for Review, gpuCI, cmake, java, improvement, non-breaking, cpp

#477 Refactor haversine_distance to a header-only API
  .gitignore
  cpp/doc/libcuspatial_refactoring_guide.md
  cpp/include/cuspatial/error.hpp
  cpp/include/cuspatial/experimental/detail/haversine.cuh
  cpp/include/cuspatial/experimental/haversine.cuh
  cpp/include/cuspatial/experimental/type_utils.hpp
  cpp/include/cuspatial/types.hpp
  cpp/src/spatial/haversine.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/experimental/spatial/haversine_test.cu
Labels: 5 - Ready to Merge, cmake, improvement, non-breaking, cpp
