Repository rapidsai/cuspatial, pull requests merged in 2022-07, with the labels that each got.

#577 Add NVBench and linestring distance benchmark
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/fixture/rmm_pool_raii.hpp
  cpp/benchmarks/pairwise_linestring_distance.cu
Labels: 3 - Ready for Review, benchmarks, feature request, cmake, non-breaking, cpp

#583 Create `pygeoarrow` and use it for cuSpatial feature storage and i/o
  .gitignore
  python/cuspatial/cuspatial/geometry/geoarrowbuffers.py
  python/cuspatial/cuspatial/geometry/geocolumn.py
  python/cuspatial/cuspatial/geometry/geodataframe.py
  python/cuspatial/cuspatial/geometry/geoseries.py
  python/cuspatial/cuspatial/geometry/pygeoarrow.py
  python/cuspatial/cuspatial/io/geopandas_adapter.py
  python/cuspatial/cuspatial/tests/test_from_geopandas.py
  python/cuspatial/cuspatial/tests/test_geoarrowbuffers.py
  python/cuspatial/cuspatial/tests/test_geodataframe.py
  python/cuspatial/cuspatial/tests/test_geoseries.py
  python/cuspatial/cuspatial/tests/test_points_in_spatial_window.py
Labels: 3 - Ready for Review, Python, improvement, non-breaking

#590 Add missing rmm includes
  cpp/include/cuspatial/constants.hpp
  cpp/include/cuspatial/coordinate_transform.hpp
  cpp/include/cuspatial/cubic_spline.hpp
  cpp/include/cuspatial/cuda_utils.hpp
  cpp/include/cuspatial/cusparse_error.hpp
  cpp/include/cuspatial/detail/cubic_spline.hpp
  cpp/include/cuspatial/detail/utility/linestring.cuh
  cpp/include/cuspatial/detail/utility/traits.hpp
  cpp/include/cuspatial/distances/linestring_distance.hpp
  cpp/include/cuspatial/error.hpp
  cpp/include/cuspatial/experimental/hausdorff.cuh
  cpp/include/cuspatial/hausdorff.hpp
  cpp/include/cuspatial/haversine.hpp
  cpp/include/cuspatial/point_in_polygon.hpp
  cpp/include/cuspatial/point_quadtree.hpp
  cpp/include/cuspatial/polygon_bounding_box.hpp
  cpp/include/cuspatial/polyline_bounding_box.hpp
  cpp/include/cuspatial/shapefile_reader.hpp
  cpp/include/cuspatial/spatial_join.hpp
  cpp/include/cuspatial/spatial_window.hpp
  cpp/include/cuspatial/trajectory.hpp
  cpp/include/doxygen_groups.h
Labels: bug, 3 - Ready for Review, non-breaking, cpp

#589 Update isort to version 5.10.1
  .pre-commit-config.yaml
Labels: 3 - Ready for Review, improvement, non-breaking

#597 Build benchmarks in CI
  build.sh
  conda/recipes/libcuspatial/build.sh
Labels: conda, 3 - Ready for Review, improvement, non-breaking

#595 Add benchmark for points_in_spatial_window
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/pairwise_linestring_distance.cu
  cpp/benchmarks/spatial_window.cu
  cpp/benchmarks/utility/random.cuh
  cpp/include/cuspatial/spatial_window.hpp
Labels: 3 - Ready for Review, benchmarks, cmake, improvement, non-breaking, cpp, c++

#587 Header-only Refactor of `point_in_polygon`
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/point_in_polygon.cu
  cpp/include/cuspatial/detail/utility/traits.hpp
  cpp/include/cuspatial/experimental/detail/point_in_polygon.cuh
  cpp/include/cuspatial/experimental/point_in_polygon.cuh
  cpp/include/doxygen_groups.h
  cpp/src/spatial/point_in_polygon.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/experimental/spatial/point_in_polygon_test.cu
  cpp/tests/spatial/point_in_polygon_test.cpp
Labels: 3 - Ready for Review, cmake, improvement, non-breaking, cpp

#585 Remove GeoArrow glue code replacing gpu storage with cudf.Series and host storage with pyarrow
  conda/environments/cuspatial_dev_cuda11.0.yml
  conda/environments/cuspatial_dev_cuda11.1.yml
  conda/environments/cuspatial_dev_cuda11.2.yml
  conda/recipes/cuspatial/meta.yaml
  python/cuspatial/cuspatial/__init__.py
  python/cuspatial/cuspatial/geometry/geoarrowbuffers.py
  python/cuspatial/cuspatial/geometry/geocolumn.py
  python/cuspatial/cuspatial/geometry/geodataframe.py
  python/cuspatial/cuspatial/geometry/geometa.py
  python/cuspatial/cuspatial/geometry/geoseries.py
  python/cuspatial/cuspatial/geometry/pygeoarrow.py
  python/cuspatial/cuspatial/io/geopandas.py
  python/cuspatial/cuspatial/io/geopandas_adapter.py
  python/cuspatial/cuspatial/io/geopandas_reader.py
  python/cuspatial/cuspatial/tests/test_from_geopandas.py
  python/cuspatial/cuspatial/tests/test_geoarrowbuffers.py
  python/cuspatial/cuspatial/tests/test_geodataframe.py
  python/cuspatial/cuspatial/tests/test_geoseries.py
Labels: conda, 4 - Needs Reviewer, cmake, Python, improvement, non-breaking

#558 Pairwise Point to Point Distance; Rename Folder `distances` to `distance`
  cpp/CMakeLists.txt
  cpp/benchmarks/hausdorff_benchmark.cpp
  cpp/include/cuspatial/distance/hausdorff.hpp
  cpp/include/cuspatial/distance/haversine.hpp
  cpp/include/cuspatial/distance/linestring_distance.hpp
  cpp/include/cuspatial/distance/point_distance.hpp
  cpp/include/cuspatial/experimental/detail/linestring_distance.cuh
  cpp/include/cuspatial/experimental/detail/point_distance.cuh
  cpp/include/cuspatial/experimental/linestring_distance.cuh
  cpp/include/cuspatial/experimental/point_distance.cuh
  cpp/include/doxygen_groups.h
  cpp/src/spatial/point_distance.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/experimental/spatial/point_distance_test.cu
  cpp/tests/spatial/hausdorff_test.cpp
  cpp/tests/spatial/haversine_test.cpp
  cpp/tests/spatial/linestring_distance_test.cpp
  cpp/tests/spatial/linestring_distance_test_medium.cpp
  cpp/tests/spatial/point_distance_test.cpp
  python/cuspatial/cuspatial/_lib/cpp/distance/__init__.pxd
  python/cuspatial/cuspatial/_lib/cpp/distance/__init__.pyx
  python/cuspatial/cuspatial/_lib/cpp/distance/hausdorff.pxd
  python/cuspatial/cuspatial/_lib/cpp/distance/haversine.pxd
  python/cuspatial/cuspatial/_lib/cpp/distance/linestring_distance.pxd
  python/cuspatial/cuspatial/_lib/hausdorff.pyx
  python/cuspatial/cuspatial/_lib/linestring_distance.pyx
  python/cuspatial/cuspatial/_lib/spatial.pyx
Labels: feature request, cmake, Python, breaking, cpp

#579 Header-only refactoring of `points_in_spatial_window`
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/points_in_range.cu
  cpp/include/cuspatial/detail/utility/traits.hpp
  cpp/include/cuspatial/experimental/detail/coordinate_transform.cuh
  cpp/include/cuspatial/experimental/detail/points_in_range.cuh
  cpp/include/cuspatial/experimental/points_in_range.cuh
  cpp/include/cuspatial/spatial_window.hpp
  cpp/src/spatial_window/spatial_window.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/experimental/spatial/points_in_range_test.cu
  cpp/tests/spatial_window/spatial_window_test.cpp
Labels: 3 - Ready for Review, cmake, improvement, non-breaking, cpp, c++

#613 Fix issues with day & night modes in python docs
  cpp/doxygen/Doxyfile
  cpp/doxygen/footer.html
  cpp/doxygen/rapids.css
  docs/source/_static/params.css
  docs/source/conf.py
Labels: doc, non-breaking, cpp
