Repository rapidsai/cuspatial, pull requests merged in 2023-02, with the labels that each got.

#861 Add header-only `cuspatial::join_quadtree_and_bounding_boxes`
  cpp/include/cuspatial/experimental/detail/join/get_quad_and_local_point_indices.cuh
  cpp/include/cuspatial/experimental/detail/join/intersection.cuh
  cpp/include/cuspatial/experimental/detail/join/traversal.cuh
  cpp/include/cuspatial/experimental/detail/quadtree_bbox_filtering.cuh
  cpp/include/cuspatial/experimental/iterator_factory.cuh
  cpp/include/cuspatial/experimental/spatial_join.cuh
  cpp/src/indexing/construction/detail/utilities.cuh
  cpp/src/join/detail/intersection.cuh
  cpp/src/join/quadtree_bbox_filtering.cu
  cpp/src/join/quadtree_point_in_polygon.cu
  cpp/src/join/quadtree_point_to_nearest_linestring.cu
Labels: 3 - Ready for Review, improvement, non-breaking, libcuspatial

#884 Forward-merge branch-23.02 to branch-23.04
  cpp/include/cuspatial/experimental/detail/join/get_quad_and_local_point_indices.cuh
  cpp/include/cuspatial/experimental/detail/join/intersection.cuh
  cpp/include/cuspatial/experimental/detail/join/traversal.cuh
  cpp/include/cuspatial/experimental/detail/quadtree_bbox_filtering.cuh
  cpp/include/cuspatial/experimental/iterator_factory.cuh
  cpp/include/cuspatial/experimental/spatial_join.cuh
  cpp/src/indexing/construction/detail/utilities.cuh
  cpp/src/join/detail/intersection.cuh
  cpp/src/join/quadtree_bbox_filtering.cu
  cpp/src/join/quadtree_point_in_polygon.cu
  cpp/src/join/quadtree_point_to_nearest_linestring.cu
Labels: libcuspatial

#897 Update shared workflow branches
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/release/update-version.sh
Labels: improvement, non-breaking, ci

#898 Forward-merge branch-23.02 to branch-23.04
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/release/update-version.sh
Labels: ci

#882 Move date to build string in `conda` recipe
  conda/recipes/cuspatial/meta.yaml
  conda/recipes/libcuspatial/meta.yaml
Labels: conda, improvement, non-breaking

#909 Update shared workflow branches
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#895 Allow initialization of a `GeoDataFrame` using a `cudf.DataFrame`
  python/cuspatial/cuspatial/core/geodataframe.py
  python/cuspatial/cuspatial/tests/test_geodataframe.py
Labels: 3 - Ready for Review, Python, improvement, non-breaking

#905 `_from_point_xy` improvements
  python/cuspatial/cuspatial/core/_column/geocolumn.py
  python/cuspatial/cuspatial/core/dtypes.py
  python/cuspatial/cuspatial/utils/column_utils.py
Labels: bug, 3 - Ready for Review, Python, non-breaking

#906 Fix multiple bugs in user guide
  docs/source/user_guide/cuspatial_api_examples.ipynb
Labels: bug, 3 - Ready for Review, non-breaking

#907 Fix broken `point_indices` methods in `PolygonGeoColumnAccessor`
  python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/tests/test_geoseries.py
Labels: bug, Python, non-breaking

#912 Reduce error handling verbosity in CI tests scripts
  ci/test_cpp.sh
  ci/test_python.sh
Labels: improvement, non-breaking, ci

#894 Add `valid_count` and `has_nulls` to GeoColumn
  python/cuspatial/cuspatial/core/_column/geocolumn.py
Labels: bug, 3 - Ready for Review, Python, non-breaking

#904 Remove gpuCI scripts.
  README.md
  ci/checks/changelog.sh
  ci/checks/style.sh
  ci/cpu/build.sh
  ci/cpu/prebuild.sh
  ci/cpu/upload.sh
  ci/gpu/build.sh
  ci/local/README.md
  ci/local/build.sh
Labels: improvement, non-breaking, ci

#924 Refactor `directed_hausdorff_distance` and `haversine_distance` into `GeoSeries` Interface
  docs/source/user_guide/cuspatial_api_examples.ipynb
  python/cuspatial/benchmarks/api/bench_api.py
  python/cuspatial/cuspatial/core/_column/geocolumn.py
  python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/core/spatial/distance.py
  python/cuspatial/cuspatial/tests/spatial/distance/test_hausdorff_distance.py
  python/cuspatial/cuspatial/tests/spatial/distance/test_haversine_distance.py
  python/cuspatial/cuspatial/tests/test_geoseries.py
  python/cuspatial/demos/hausdorff_clustering_test_toy.py
  python/cuspatial/demos/hausdorff_distance_verify_locust256.py
  python/cuspatial/demos/haversine_distance_test_nyctaxi.py
  python/cuspatial/demos/traj_demo_derive_subset_locus.py
Labels: 3 - Ready for Review, feature request, Python, breaking

#868 Add docs build job
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  ci/build_docs.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  dependencies.yaml
  docs/source/conf.py
  docs/source/user_guide/cuspatial_api_examples.ipynb
  python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/core/spatial/distance.py
  python/cuspatial/cuspatial/core/spatial/indexing.py
  python/cuspatial/cuspatial/core/spatial/join.py
Labels: conda, Python, improvement, non-breaking, ci

#928 Add `from_linestrings_xy` and `from_polygons_xy`
  python/cuspatial/cuspatial/core/_column/geocolumn.py
  python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/tests/test_geoseries.py
Labels: feature request, Python, non-breaking

#918 Add `apply_boolean_mask` Feature
  python/cuspatial/cuspatial/core/geodataframe.py
  python/cuspatial/cuspatial/tests/conftest.py
  python/cuspatial/cuspatial/tests/test_geodataframe.py
Labels: 3 - Ready for Review, feature request, Python, non-breaking

#944 Skip docs job in nightly runs
  .github/workflows/build.yaml
Labels: improvement, non-breaking

#938 Refactors `filtering.py`, `indexing.py` to Accept GeoSeries
  python/cuspatial/benchmarks/api/bench_api.py
  python/cuspatial/cuspatial/core/spatial/filtering.py
  python/cuspatial/cuspatial/core/spatial/indexing.py
  python/cuspatial/cuspatial/tests/spatial/filtering/test_points_in_spatial_window.py
  python/cuspatial/cuspatial/tests/spatial/indexing/test_indexing.py
  python/cuspatial/cuspatial/tests/spatial/join/test_spatial_join.py
Labels: 3 - Ready for Review, Python, improvement, breaking

#932 Remove shapefile reader, conda GDAL dependency, move cmake gdal dependency to cpp tests only
  README.md
  conda/recipes/cuspatial/conda_build_config.yaml
  conda/recipes/cuspatial/meta.yaml
  conda/recipes/libcuspatial/meta.yaml
  cpp/CMakeLists.txt
  cpp/include/cuspatial/shapefile_reader.hpp
  cpp/include/doxygen_groups.h
  cpp/src/io/shp/polygon_shapefile_reader.cpp
  cpp/src/io/shp/polygon_shapefile_reader.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/io/shp/polygon_shapefile_reader_test.cpp
  docs/source/api_docs/io.rst
  docs/source/user_guide/cuspatial_api_examples.ipynb
  python/cuspatial/benchmarks/api/bench_api.py
  python/cuspatial/cuspatial/__init__.py
  python/cuspatial/cuspatial/_lib/CMakeLists.txt
  python/cuspatial/cuspatial/_lib/cpp/shapefile_reader.pxd
  python/cuspatial/cuspatial/_lib/shapefile_reader.pyx
  python/cuspatial/cuspatial/core/_column/geocolumn.py
  python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/io/shapefile.py
  python/cuspatial/cuspatial/tests/test_geoseries.py
  python/cuspatial/cuspatial/tests/test_shapefile_reader.py
Labels: conda, feature request, cmake, Python, breaking, libcuspatial

#933 Remove dead code from ContainsProperlyBinpred paths.
  python/cuspatial/cuspatial/core/binpreds/binpreds.py
Labels: Python, improvement, non-breaking

#934 Refactors `bounding.py` to accept GeoSeries Input
  python/cuspatial/benchmarks/api/bench_api.py
  python/cuspatial/cuspatial/_lib/linestring_bounding_boxes.pyx
  python/cuspatial/cuspatial/_lib/polygon_bounding_boxes.pyx
  python/cuspatial/cuspatial/core/spatial/bounding.py
  python/cuspatial/cuspatial/core/spatial/join.py
  python/cuspatial/cuspatial/tests/spatial/bounding/test_linestring_bounding_boxes.py
  python/cuspatial/cuspatial/tests/spatial/bounding/test_polygon_bounding_boxes.py
  python/cuspatial/cuspatial/tests/spatial/join/test_point_in_polygon.py
  python/cuspatial/cuspatial/tests/spatial/join/test_spatial_join.py
  python/cuspatial/cuspatial/utils/gis_utils.py
Labels: 3 - Ready for Review, Python, improvement, breaking

#955 Refactors API to accept GeoSeries input for projection and trajectory functions
  python/cuspatial/benchmarks/api/bench_api.py
  python/cuspatial/benchmarks/conftest.py
  python/cuspatial/cuspatial/core/spatial/projection.py
  python/cuspatial/cuspatial/core/trajectory.py
  python/cuspatial/cuspatial/tests/spatial/projection/test_sinusoidal_projection.py
  python/cuspatial/cuspatial/tests/test_trajectory.py
Labels: 3 - Ready for Review, Python, improvement, breaking

#953 Update Notebook with GeoSeries Usage and Add Notebook Tests
  .github/workflows/pr.yaml
  ci/test_notebooks.sh
  ci/utils/nbtest.sh
  dependencies.yaml
  docs/source/user_guide/cuspatial_api_examples.ipynb
  notebooks/nyc_taxi_years_correlation.ipynb
Labels: 3 - Ready for Review, Python, improvement, non-breaking, ci

#945 Fix OB bug in `linestring_intersection_intermediates.remove_if` Function
  cpp/include/cuspatial/experimental/detail/find/find_and_combine_segment.cuh
  cpp/include/cuspatial/experimental/detail/find/find_duplicate_points.cuh
  cpp/include/cuspatial/experimental/detail/linestring_intersection.cuh
  cpp/include/cuspatial/experimental/detail/linestring_intersection_count.cuh
  cpp/include/cuspatial/experimental/detail/linestring_intersection_with_duplicates.cuh
  cpp/tests/experimental/spatial/linestring_intersection_intermediates_remove_if_test.cu
Labels: bug, 3 - Ready for Review, non-breaking, libcuspatial

#862 Add C++ Column API and Python API for `pairwise_linestring_intersection`
  cpp/CMakeLists.txt
  cpp/include/cuspatial/column/geometry_column_view.hpp
  cpp/include/cuspatial/experimental/ranges/multilinestring_range.cuh
  cpp/include/cuspatial/linestring_intersection.hpp
  cpp/include/cuspatial/traits.hpp
  cpp/include/cuspatial/types.hpp
  cpp/include/doxygen_groups.h
  cpp/src/column/geometry_column_view.cpp
  cpp/src/spatial/linestring_intersection.cu
  cpp/src/utility/multi_geometry_dispatch.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/spatial/linestring_intersection_test.cpp
  python/cuspatial/cuspatial/_lib/CMakeLists.txt
  python/cuspatial/cuspatial/_lib/cpp/column/__init__.pxd
  python/cuspatial/cuspatial/_lib/cpp/column/geometry_column_view.pxd
  python/cuspatial/cuspatial/_lib/cpp/linestring_intersection.pxd
  python/cuspatial/cuspatial/_lib/cpp/types.pxd
  python/cuspatial/cuspatial/_lib/intersection.pyx
  python/cuspatial/cuspatial/_lib/types.pxd
  python/cuspatial/cuspatial/_lib/types.pyx
  python/cuspatial/cuspatial/core/binops/__init__.py
  python/cuspatial/cuspatial/core/binops/intersection.py
  python/cuspatial/cuspatial/tests/binops/test_intersections.py
Labels: 5 - Ready to Merge, feature request, cmake, Python, non-breaking, libcuspatial

#959 Remove cubic spline interpolation
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/libcuspatial/conda_build_config.yaml
  conda/recipes/libcuspatial/meta.yaml
  cpp/CMakeLists.txt
  cpp/include/cuspatial/cubic_spline.hpp
  cpp/include/cuspatial/cusparse_error.hpp
  cpp/include/cuspatial/detail/cubic_spline.hpp
  cpp/include/doxygen_groups.h
  cpp/src/interpolate/cubic_spline.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/interpolate/cubic_spline_test.cpp
  dependencies.yaml
  docs/source/api_docs/index.rst
  docs/source/api_docs/interpolation.rst
  python/cuspatial/cuspatial/__init__.py
  python/cuspatial/cuspatial/_lib/CMakeLists.txt
  python/cuspatial/cuspatial/_lib/cpp/interpolate.pxd
  python/cuspatial/cuspatial/_lib/interpolate.pyx
  python/cuspatial/cuspatial/core/interpolate.py
  python/cuspatial/cuspatial/tests/test_interpolate.py
Labels: feature request, Python, breaking, libcuspatial
