Repository rapidsai/cuspatial, pull requests merged in 2023-03, with the labels that each got.

#964 [REVIEW] Fix docs build to be `pydata-sphinx-theme=0.13.0` compatible
  docs/source/conf.py
Labels: improvement, non-breaking

#961 Update to GCC 11
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/cuspatial/conda_build_config.yaml
  conda/recipes/libcuspatial/conda_build_config.yaml
  cpp/include/cuspatial/distance/linestring_distance.hpp
  cpp/include/cuspatial/distance/point_distance.hpp
  cpp/include/cuspatial/distance/point_linestring_distance.hpp
  cpp/tests/spatial/linestring_intersection_test.cpp
  cpp/tests/spatial/point_distance_test.cpp
  cpp/tests/spatial/point_linestring_distance_test.cpp
  dependencies.yaml
Labels: conda, improvement, non-breaking, libcuspatial

#966 [FEA] Enable discussions
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/submit_question.yml
Labels: 3 - Ready for Review, improvement, non-breaking

#978 Update aarch64 to GCC 11
  dependencies.yaml
Labels: improvement, non-breaking

#982 Pass `AWS_SESSION_TOKEN` and `SCCACHE_S3_USE_SSL` vars to conda build
  conda/recipes/cuspatial/meta.yaml
  conda/recipes/libcuspatial/meta.yaml
Labels: conda, improvement, non-breaking

#973 Consistently validate polygon inputs for GeoArrow offset format
  cpp/include/cuspatial/detail/utility/validation.hpp
  cpp/include/cuspatial/experimental/detail/pairwise_point_in_polygon.cuh
  cpp/include/cuspatial/experimental/detail/point_in_polygon.cuh
  cpp/include/cuspatial/experimental/detail/polygon_bounding_boxes.cuh
  cpp/src/join/quadtree_point_in_polygon.cu
  cpp/src/spatial/pairwise_point_in_polygon.cu
  cpp/src/spatial/point_in_polygon.cu
  cpp/src/spatial/polygon_bounding_box.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/experimental/spatial/pairwise_point_in_polygon_test.cu
  cpp/tests/experimental/spatial/point_in_polygon_test.cu
  cpp/tests/experimental/spatial/polygon_bounding_boxes_test.cu
  cpp/tests/spatial/linestring_bounding_boxes_test.cpp
  cpp/tests/spatial/pairwise_point_in_polygon_test.cpp
  cpp/tests/spatial/point_in_polygon_test.cpp
  cpp/tests/spatial/polygon_bounding_boxes_test.cpp
  python/cuspatial/cuspatial/core/binpreds/binpreds.py
  python/cuspatial/cuspatial/core/binpreds/contains.py
  python/cuspatial/cuspatial/core/spatial/join.py
  python/cuspatial/cuspatial/tests/spatial/join/test_point_in_polygon.py
Labels: bug, cmake, Python, breaking, libcuspatial

#974 Remove GDAL dependency in quadtree spatial join tests.
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/libcuspatial/conda_build_config.yaml
  conda/recipes/libcuspatial/meta.yaml
  cpp/tests/CMakeLists.txt
  cpp/tests/join/point_in_polygon_test_large.cpp
  dependencies.yaml
Labels: conda, cmake, 5 - Merge After Dependencies, improvement, non-breaking, libcuspatial

#992 Add codespell as a linter
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .pre-commit-config.yaml
  cpp/include/cuspatial/detail/utility/device_atomics.cuh
  cpp/include/cuspatial/detail/utility/linestring.cuh
  cpp/include/cuspatial/experimental/detail/find/find_duplicate_points.cuh
  cpp/include/cuspatial/experimental/detail/hausdorff.cuh
  cpp/include/cuspatial/experimental/detail/indexing/construction/phase_2.cuh
  cpp/include/cuspatial/experimental/detail/is_point_in_polygon.cuh
  cpp/include/cuspatial/experimental/detail/linestring_intersection.cuh
  cpp/include/cuspatial/experimental/detail/linestring_intersection_with_duplicates.cuh
  cpp/include/cuspatial/experimental/iterator_factory.cuh
  cpp/include/cuspatial/experimental/ranges/range.cuh
  cpp/include/cuspatial_test/random.cuh
  cpp/include/cuspatial_test/vector_factories.cuh
  cpp/src/join/quadtree_point_to_nearest_linestring.cu
  cpp/src/utility/double_boolean_dispatch.hpp
  cpp/src/utility/multi_geometry_dispatch.hpp
  cpp/tests/experimental/spatial/haversine_test.cu
  cpp/tests/experimental/spatial/linestring_distance_test.cu
  cpp/tests/experimental/spatial/linestring_intersection_count_test.cu
  cpp/tests/experimental/spatial/linestring_intersection_intermediates_remove_if_test.cu
  cpp/tests/experimental/spatial/linestring_intersection_test.cu
  cpp/tests/experimental/spatial/linestring_intersection_with_duplicates_test.cu
  cpp/tests/experimental/spatial/point_linestring_distance_test.cu
  cpp/tests/experimental/spatial/point_linestring_nearest_points_test.cu
  cpp/tests/experimental/spatial/sinusoidal_projection_test.cu
  cpp/tests/experimental/trajectory/trajectory_distances_and_speeds_test.cu
  cpp/tests/join/point_in_polygon_test_small.cpp
  cpp/tests/join/point_to_nearest_linestring_test_small.cpp
  cpp/tests/spatial/haversine_test.cpp
  cpp/tests/spatial/sinusoidal_projection_test.cu
  data/json2soa.cpp
  docs/source/developer_guide/library_design.md
  java/src/main/native/CMakeLists.txt
  pyproject.toml
  python/cuspatial/CMakeLists.txt
  python/cuspatial/versioneer.py
Labels: cmake, Python, improvement, non-breaking, libcuspatial, Java

#996 Attempt to Fix Broken C++ Build After `cudftestutil` is Made a Shared Lib
  conda/recipes/libcuspatial/meta.yaml
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_gtest.cmake
Labels: bug, conda, cmake, non-breaking, libcuspatial

#960 Add cuspatial devcontainers
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/conda/devcontainer.json
  .devcontainer/conda/isolated/.devcontainer/devcontainer.json
  .devcontainer/conda/single/.devcontainer/devcontainer.json
  .devcontainer/conda/unified/.devcontainer/devcontainer.json
  .devcontainer/devcontainer.json
  .devcontainer/launch.sh
  .devcontainer/opt/cuspatial/bin/post-attach-command.sh
  .devcontainer/opt/cuspatial/bin/post-create-command.sh
  .devcontainer/opt/cuspatial/bin/update-content-command.sh
  .devcontainer/pip/devcontainer.json
  .devcontainer/pip/isolated/.devcontainer/devcontainer.json
  .devcontainer/pip/single/.devcontainer/devcontainer.json
  .devcontainer/pip/unified/.devcontainer/devcontainer.json
  .gitignore
  ci/release/update-version.sh
  cpp/.clangd
  cpp/CMakeLists.txt
  dependencies.yaml
  python/cuspatial/CMakeLists.txt
Labels: 3 - Ready for Review, cmake, Python, improvement, non-breaking, libcuspatial, ci

#910 Use quadtree for `.contains_properly`
  cpp/src/utility/point_in_polygon.cuh
  python/cuspatial/cuspatial/core/binpreds/binpreds.py
  python/cuspatial/cuspatial/core/binpreds/contains.py
  python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/core/spatial/bounding.py
  python/cuspatial/cuspatial/core/spatial/join.py
  python/cuspatial/cuspatial/tests/binpreds/test_contains_properly.py
  python/cuspatial/cuspatial/tests/spatial/bounding/test_polygon_bounding_boxes.py
  python/cuspatial/cuspatial/utils/column_utils.py
  python/cuspatial/cuspatial/utils/join_utils.py
Labels: 3 - Ready for Review, Python, improvement, non-breaking, libcuspatial

#999 [DOC]: Move build instructions to dev guide
  docs/source/developer_guide/build.md
  docs/source/developer_guide/development_environment.md
  docs/source/developer_guide/index.md
Labels: doc, non-breaking

#989 Add `pairwise_linestring_intersection` example in user guide
  docs/source/user_guide/cuspatial_api_examples.ipynb
Labels: 3 - Ready for Review, doc, non-breaking

#977 [DOC] Update cuSpatial Readme
  README.md
Labels: doc, non-breaking

#1003 [DOC]: Fix linestring link in readme
  README.md
Labels: 3 - Ready for Review, doc, non-breaking

#984 Add column API for `pairwise_point_polygon_distance`
  cpp/CMakeLists.txt
  cpp/include/cuspatial/detail/utility/validation.hpp
  cpp/include/cuspatial/distance/point_polygon_distance.hpp
  cpp/include/cuspatial/experimental/detail/algorithm/is_point_in_polygon.cuh
  cpp/include/cuspatial/experimental/detail/ranges/multipolygon_range.cuh
  cpp/include/cuspatial/experimental/ranges/multilinestring_range.cuh
  cpp/include/cuspatial/experimental/ranges/multipoint_range.cuh
  cpp/include/cuspatial/experimental/ranges/multipolygon_range.cuh
  cpp/include/cuspatial_test/column_factories.hpp
  cpp/src/spatial/point_polygon_distance.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/spatial/point_polygon_distance_test.cpp
Labels: 3 - Ready for Review, feature request, cmake, non-breaking, libcuspatial

#998 Add `geometry_generator` factory for programmatic generation of geometry arrays
  cpp/include/cuspatial/experimental/detail/ranges/multipolygon_range.cuh
  cpp/include/cuspatial/experimental/ranges/multipolygon_range.cuh
  cpp/include/cuspatial_test/base_fixture.hpp
  cpp/include/cuspatial_test/geometry_generator.cuh
  cpp/include/cuspatial_test/vector_equality.hpp
  cpp/include/cuspatial_test/vector_factories.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/utility_test/test_float_equivalent.cu
  cpp/tests/utility_test/test_geometry_generators.cu
Labels: feature request, cmake, non-breaking, libcuspatial

#926 Implement `geom_equals` and binary predicates that depend only on it.
  python/cuspatial/cuspatial/core/binpreds/binpreds.py
  python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/tests/binpreds/test_binpred_internals.py
  python/cuspatial/cuspatial/tests/binpreds/test_equals_only_binpreds.py
Labels: feature request, Python, non-breaking

#988 Add python API `pairwise_point_polygon_distance`
  docs/source/user_guide/cuspatial_api_examples.ipynb
  python/cuspatial/cuspatial/__init__.py
  python/cuspatial/cuspatial/_lib/cpp/distance/point_polygon_distance.pxd
  python/cuspatial/cuspatial/_lib/distance.pyx
  python/cuspatial/cuspatial/_lib/types.pxd
  python/cuspatial/cuspatial/_lib/types.pyx
  python/cuspatial/cuspatial/core/spatial/__init__.py
  python/cuspatial/cuspatial/core/spatial/distance.py
  python/cuspatial/cuspatial/tests/conftest.py
  python/cuspatial/cuspatial/tests/spatial/distance/test_pairwise_point_polygon_distance.py
Labels: feature request, cmake, Python, non-breaking

#1008 Add `dependency-file-generator` as `pre-commit` hook
  .github/workflows/pr.yaml
  .pre-commit-config.yaml
Labels: improvement, non-breaking

#979 Header-only `quadtree_point_in_polygon`
  cpp/benchmarks/floating_point_equality.cu
  cpp/benchmarks/points_in_range.cu
  cpp/include/cuspatial/experimental/detail/algorithm/is_point_in_polygon.cuh
  cpp/include/cuspatial/experimental/detail/join/get_quad_and_local_point_indices.cuh
  cpp/include/cuspatial/experimental/detail/join/intersection.cuh
  cpp/include/cuspatial/experimental/detail/point_quadtree.cuh
  cpp/include/cuspatial/experimental/detail/quadtree_bbox_filtering.cuh
  cpp/include/cuspatial/experimental/detail/quadtree_point_in_polygon.cuh
  cpp/include/cuspatial/experimental/detail/ranges/multipolygon_range.cuh
  cpp/include/cuspatial/experimental/point_quadtree.cuh
  cpp/include/cuspatial/experimental/ranges/multipoint_range.cuh
  cpp/include/cuspatial/experimental/ranges/multipolygon_range.cuh
  cpp/include/cuspatial/experimental/spatial_join.cuh
  cpp/include/cuspatial_test/base_fixture.hpp
  cpp/include/cuspatial_test/random.cuh
  cpp/src/indexing/construction/point_quadtree.cu
  cpp/src/join/quadtree_bbox_filtering.cu
  cpp/src/join/quadtree_point_in_polygon.cu
  cpp/src/utility/point_in_polygon.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/experimental/indexing/point_quadtree_test.cu
  cpp/tests/experimental/join/quadtree_point_in_polygon_test_large.cu
  cpp/tests/experimental/join/quadtree_point_in_polygon_test_small.cu
  cpp/tests/experimental/spatial/point_distance_test.cu
  cpp/tests/join/point_in_polygon_test_large.cpp
  cpp/tests/join/point_in_polygon_test_small.cpp
  cpp/tests/join/quadtree_point_in_polygon_test.cpp
Labels: cmake, improvement, non-breaking, libcuspatial

#1018 Reduce gtest times
  cpp/tests/experimental/spatial/hausdorff_test.cu
  cpp/tests/experimental/spatial/point_bounding_boxes_test.cu
  cpp/tests/experimental/trajectory/derive_trajectories_test.cu
  cpp/tests/experimental/trajectory/trajectory_distances_and_speeds_test.cu
  cpp/tests/utility_test/test_geometry_generators.cu
Labels: improvement, non-breaking, libcuspatial

#1021 Branch 23.06 merge 23.04
  .github/workflows/pr.yaml
  .pre-commit-config.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  cpp/benchmarks/floating_point_equality.cu
  cpp/benchmarks/points_in_range.cu
  cpp/include/cuspatial/experimental/detail/algorithm/is_point_in_polygon.cuh
  cpp/include/cuspatial/experimental/detail/join/get_quad_and_local_point_indices.cuh
  cpp/include/cuspatial/experimental/detail/join/intersection.cuh
  cpp/include/cuspatial/experimental/detail/point_quadtree.cuh
  cpp/include/cuspatial/experimental/detail/quadtree_bbox_filtering.cuh
  cpp/include/cuspatial/experimental/detail/quadtree_point_in_polygon.cuh
  cpp/include/cuspatial/experimental/detail/ranges/multipolygon_range.cuh
  cpp/include/cuspatial/experimental/point_quadtree.cuh
  cpp/include/cuspatial/experimental/ranges/multipoint_range.cuh
  cpp/include/cuspatial/experimental/ranges/multipolygon_range.cuh
  cpp/include/cuspatial/experimental/spatial_join.cuh
  cpp/include/cuspatial_test/base_fixture.hpp
  cpp/include/cuspatial_test/random.cuh
  cpp/src/indexing/construction/point_quadtree.cu
  cpp/src/join/quadtree_bbox_filtering.cu
  cpp/src/join/quadtree_point_in_polygon.cu
  cpp/src/utility/point_in_polygon.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/experimental/indexing/point_quadtree_test.cu
  cpp/tests/experimental/join/quadtree_point_in_polygon_test_large.cu
  cpp/tests/experimental/join/quadtree_point_in_polygon_test_small.cu
  cpp/tests/experimental/spatial/hausdorff_test.cu
  cpp/tests/experimental/spatial/point_bounding_boxes_test.cu
  cpp/tests/experimental/spatial/point_distance_test.cu
  cpp/tests/experimental/trajectory/derive_trajectories_test.cu
  cpp/tests/experimental/trajectory/trajectory_distances_and_speeds_test.cu
  cpp/tests/join/point_in_polygon_test_large.cpp
  cpp/tests/join/point_in_polygon_test_small.cpp
  cpp/tests/join/quadtree_point_in_polygon_test.cpp
  cpp/tests/utility_test/test_geometry_generators.cu
  dependencies.yaml
  docs/source/user_guide/cuspatial_api_examples.ipynb
  notebooks/README.md
  notebooks/ZipCodes_Stops_PiP_cuSpatial.ipynb
  notebooks/stop_states.png
  python/cuspatial/cuspatial/__init__.py
  python/cuspatial/cuspatial/_lib/cpp/distance/point_polygon_distance.pxd
  python/cuspatial/cuspatial/_lib/distance.pyx
  python/cuspatial/cuspatial/_lib/types.pxd
  python/cuspatial/cuspatial/_lib/types.pyx
  python/cuspatial/cuspatial/core/binpreds/binpreds.py
  python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/core/spatial/__init__.py
  python/cuspatial/cuspatial/core/spatial/distance.py
  python/cuspatial/cuspatial/tests/binpreds/test_binpred_internals.py
  python/cuspatial/cuspatial/tests/binpreds/test_equals_only_binpreds.py
  python/cuspatial/cuspatial/tests/conftest.py
  python/cuspatial/cuspatial/tests/spatial/distance/test_pairwise_point_polygon_distance.py
Labels: conda, cmake, Python, improvement, non-breaking, libcuspatial

#1005 Header-only quadtree_point_to_nearest_linestring
  cpp/benchmarks/points_in_range.cu
  cpp/include/cuspatial/detail/utility/validation.hpp
  cpp/include/cuspatial/experimental/detail/algorithm/is_point_in_polygon.cuh
  cpp/include/cuspatial/experimental/detail/algorithm/point_linestring_distance.cuh
  cpp/include/cuspatial/experimental/detail/linestring_bounding_boxes.cuh
  cpp/include/cuspatial/experimental/detail/polygon_bounding_boxes.cuh
  cpp/include/cuspatial/experimental/detail/quadtree_point_to_nearest_linestring.cuh
  cpp/include/cuspatial/experimental/detail/ranges/multilinestring_range.cuh
  cpp/include/cuspatial/experimental/detail/ranges/multipoint_range.cuh
  cpp/include/cuspatial/experimental/detail/ranges/multipolygon_range.cuh
  cpp/include/cuspatial/experimental/geometry/segment.cuh
  cpp/include/cuspatial/experimental/ranges/multilinestring_range.cuh
  cpp/include/cuspatial/experimental/spatial_join.cuh
  cpp/include/cuspatial/traits.hpp
  cpp/include/cuspatial_test/vector_equality.hpp
  cpp/src/join/quadtree_point_to_nearest_linestring.cu
  cpp/src/utility/point_to_nearest_linestring.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/experimental/join/quadtree_point_in_polygon_test_small.cu
  cpp/tests/experimental/join/quadtree_point_to_nearest_linestring_test_small.cu
  cpp/tests/experimental/spatial/linestring_intersection_intermediates_remove_if_test.cu
  cpp/tests/join/point_to_nearest_linestring_test_small.cpp
  cpp/tests/join/quadtree_point_to_nearest_linestring_test.cpp
  python/cuspatial/cuspatial/tests/spatial/join/test_spatial_join.py
Labels: cmake, Python, improvement, non-breaking, libcuspatial
