Repository rapidsai/cuspatial, pull requests merged in 2023-10, with the labels that each got.

#1258 Add binary_predicates.ipynb workflow and test data to package.
  python/cuspatial/cuspatial/testing/__init__.py
  python/cuspatial/cuspatial/testing/test_geometries.py
  python/cuspatial/cuspatial/tests/binpreds/binpred_test_dispatch.py
  python/cuspatial/cuspatial/tests/binpreds/test_binpred_cartesian_dispatch_list.py
  python/cuspatial/cuspatial/tests/binpreds/test_binpred_each_dispatch_list.py
Labels: Python, improvement, non-breaking

#1275 Build CUDA 12.0 ARM conda packages.
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#1277 Benchmark `GeoSeries.Distance`
  python/cuspatial/benchmarks/api/bench_api.py
  python/cuspatial/benchmarks/conftest.py
Labels: 3 - Ready for Review, Python, improvement, non-breaking

#1253 Re-enable cuspatial tests and dependency.
  ci/build_wheel.sh
  ci/test_wheel_cuproj.sh
  dependencies.yaml
  python/cuproj/cuproj/tests/test_transform.py
  python/cuproj/pyproject.toml
Labels: Python, improvement, non-breaking, ci

#1281 Add `curl` for notebook testing
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  dependencies.yaml
Labels: bug, conda, non-breaking

#1284 Use branch-23.12 workflows.
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  README.md
  ci/release/update-version.sh
  dependencies.yaml
  python/cuproj/pyproject.toml
  python/cuspatial/pyproject.toml
Labels: Python, improvement, non-breaking, ci

#1287 Update `shared-action-workflows` references
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/release/update-version.sh
Labels: ci

#1289 Pin theme
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  dependencies.yaml
Labels: bug, conda, non-breaking

#1285 Update versioning strategy
  .github/workflows/pr.yaml
  VERSION
  build.sh
  ci/build_cpp.sh
  ci/build_python.sh
  ci/build_wheel.sh
  ci/release/update-version.sh
  conda/recipes/cuproj/meta.yaml
  conda/recipes/cuspatial/meta.yaml
  conda/recipes/libcuspatial/meta.yaml
  python/cuproj/cuproj/VERSION
  python/cuproj/cuproj/__init__.py
  python/cuproj/cuproj/_version.py
  python/cuproj/pyproject.toml
  python/cuproj/setup.py
  python/cuspatial/cuspatial/VERSION
  python/cuspatial/cuspatial/__init__.py
  python/cuspatial/cuspatial/_version.py
  python/cuspatial/pyproject.toml
  python/cuspatial/setup.py
Labels: conda, Python, improvement, non-breaking, ci
