Repository rapidsai/cuspatial, pull requests merged in 2023-04, with the labels that each got.

#1009 Updated binpred architecture
  python/cuspatial/cuspatial/core/_column/geocolumn.py
  python/cuspatial/cuspatial/core/binpreds/binpred_dispatch.py
  python/cuspatial/cuspatial/core/binpreds/binpred_interface.py
  python/cuspatial/cuspatial/core/binpreds/binpreds.py
  python/cuspatial/cuspatial/core/binpreds/feature_contains.py
  python/cuspatial/cuspatial/core/binpreds/feature_covers.py
  python/cuspatial/cuspatial/core/binpreds/feature_crosses.py
  python/cuspatial/cuspatial/core/binpreds/feature_equals.py
  python/cuspatial/cuspatial/core/binpreds/feature_intersects.py
  python/cuspatial/cuspatial/core/binpreds/feature_overlaps.py
  python/cuspatial/cuspatial/core/binpreds/feature_within.py
  python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/tests/binpreds/test_binpred_internals.py
  python/cuspatial/cuspatial/tests/binpreds/test_equals_only_binpreds.py
  python/cuspatial/cuspatial/utils/binpred_utils.py
Labels: Python, improvement, non-breaking

#1034 Fix quotes in backticks in Developer Guide
  cpp/doxygen/developer_guide/DEVELOPER_GUIDE.md
Labels: bug, non-breaking, libcuspatial

#1035 Branch 23.06 merge 23.04 (2)
  cpp/benchmarks/points_in_range.cu
  cpp/doxygen/developer_guide/DEVELOPER_GUIDE.md
  cpp/include/cuspatial/detail/utility/validation.hpp
  cpp/include/cuspatial/experimental/detail/algorithm/is_point_in_polygon.cuh
  cpp/include/cuspatial/experimental/detail/algorithm/point_linestring_distance.cuh
  cpp/include/cuspatial/experimental/detail/linestring_bounding_boxes.cuh
  cpp/include/cuspatial/experimental/detail/polygon_bounding_boxes.cuh
  cpp/include/cuspatial/experimental/detail/quadtree_point_to_nearest_linestring.cuh
  cpp/include/cuspatial/experimental/detail/ranges/multilinestring_range.cuh
  cpp/include/cuspatial/experimental/detail/ranges/multipoint_range.cuh
  cpp/include/cuspatial/experimental/detail/ranges/multipolygon_range.cuh
  cpp/include/cuspatial/experimental/geometry/segment.cuh
  cpp/include/cuspatial/experimental/ranges/multilinestring_range.cuh
  cpp/include/cuspatial/experimental/spatial_join.cuh
  cpp/include/cuspatial/traits.hpp
  cpp/include/cuspatial_test/vector_equality.hpp
  cpp/src/join/quadtree_point_to_nearest_linestring.cu
  cpp/src/utility/point_to_nearest_linestring.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/experimental/join/quadtree_point_in_polygon_test_small.cu
  cpp/tests/experimental/join/quadtree_point_to_nearest_linestring_test_small.cu
  cpp/tests/experimental/spatial/linestring_intersection_intermediates_remove_if_test.cu
  cpp/tests/join/point_to_nearest_linestring_test_small.cpp
  cpp/tests/join/quadtree_point_to_nearest_linestring_test.cpp
  python/cuspatial/cuspatial/core/_column/geocolumn.py
  python/cuspatial/cuspatial/core/binpreds/binpred_dispatch.py
  python/cuspatial/cuspatial/core/binpreds/binpred_interface.py
  python/cuspatial/cuspatial/core/binpreds/binpreds.py
  python/cuspatial/cuspatial/core/binpreds/feature_contains.py
  python/cuspatial/cuspatial/core/binpreds/feature_covers.py
  python/cuspatial/cuspatial/core/binpreds/feature_crosses.py
  python/cuspatial/cuspatial/core/binpreds/feature_equals.py
  python/cuspatial/cuspatial/core/binpreds/feature_intersects.py
  python/cuspatial/cuspatial/core/binpreds/feature_overlaps.py
  python/cuspatial/cuspatial/core/binpreds/feature_within.py
  python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/tests/binpreds/test_binpred_internals.py
  python/cuspatial/cuspatial/tests/binpreds/test_equals_only_binpreds.py
  python/cuspatial/cuspatial/tests/spatial/join/test_spatial_join.py
  python/cuspatial/cuspatial/utils/binpred_utils.py
Labels: conda, cmake, Python, improvement, non-breaking, libcuspatial

#1026 Add segment Iterators, test multi*_range and miscellaneous lazy iterator additions
  cpp/include/cuspatial/experimental/detail/functors.cuh
  cpp/include/cuspatial/experimental/detail/ranges/multilinestring_range.cuh
  cpp/include/cuspatial/experimental/detail/ranges/multipolygon_range.cuh
  cpp/include/cuspatial/experimental/ranges/multilinestring_range.cuh
  cpp/include/cuspatial/experimental/ranges/multipolygon_range.cuh
  cpp/include/cuspatial_test/base_fixture.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/experimental/range/multilinestring_range_test.cu
  cpp/tests/experimental/range/multipolygon_range_test.cu
Labels: 3 - Ready for Review, feature request, cmake, non-breaking, libcuspatial

#1019 Refactor spatial join tests
  cpp/include/cuspatial/experimental/geometry/box.hpp
  cpp/include/cuspatial/experimental/point_quadtree.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/experimental/join/join_quadtree_and_bounding_boxes_test.cu
  cpp/tests/experimental/join/quadtree_point_in_polygon_test_small.cu
  cpp/tests/experimental/join/quadtree_point_to_nearest_linestring_test_small.cu
  cpp/tests/indexing/point_quadtree_test.cpp
  cpp/tests/indexing/point_quadtree_test.cu
  cpp/tests/join/join_quadtree_and_bounding_boxes_test.cpp
  cpp/tests/join/quadtree_linestring_filtering_test.cu
  cpp/tests/join/quadtree_polygon_filtering_test.cu
Labels: cmake, improvement, non-breaking, libcuspatial

#1011 Add Header Only API for Linestring-Polygon Distance
  cpp/include/cuspatial/experimental/detail/distance_utils.cuh
  cpp/include/cuspatial/experimental/detail/linestring_polygon_distance.cuh
  cpp/include/cuspatial/experimental/detail/point_polygon_distance.cuh
  cpp/include/cuspatial/experimental/linestring_polygon_distance.cuh
  cpp/include/cuspatial_test/test_util.cuh
  cpp/include/cuspatial_test/vector_factories.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/experimental/range/multilinestring_range_test.cu
  cpp/tests/experimental/spatial/linestring_polygon_distance_test.cu
Labels: feature request, cmake, non-breaking, libcuspatial

#1043 Bug Fix: point-in-multipolygon reduction using the wrong key-compare functor
  cpp/include/cuspatial/experimental/detail/distance_utils.cuh
  cpp/tests/experimental/spatial/point_polygon_distance_test.cu
Labels: bug, non-breaking, libcuspatial

#1051 Reduced equals time and fixed a bug.
  python/cuspatial/cuspatial/core/binpreds/feature_equals.py
  python/cuspatial/cuspatial/tests/binpreds/test_equals_only_binpreds.py
Labels: 3 - Ready for Review, Python, improvement, non-breaking

#1048 Use thrust::host_vector instead of std::vector<bool> in tests
  cpp/include/cuspatial_test/vector_factories.cuh
  cpp/tests/experimental/indexing/point_quadtree_test.cu
  cpp/tests/experimental/spatial/pairwise_point_in_polygon_test.cu
  cpp/tests/utility_test/test_float_equivalent.cu
Labels: improvement, non-breaking, libcuspatial

#1049 use make_device_vector in pairwise_point_in_polygon_test
  cpp/tests/experimental/spatial/pairwise_point_in_polygon_test.cu
Labels: improvement, non-breaking, libcuspatial

#916 Improve Hausdorff Many Column Performance
  cpp/include/cuspatial/distance/hausdorff.hpp
  cpp/include/cuspatial/experimental/detail/hausdorff.cuh
  cpp/src/spatial/hausdorff.cu
  cpp/tests/experimental/spatial/hausdorff_test.cu
  cpp/tests/spatial/hausdorff_test.cpp
  python/cuspatial/benchmarks/api/bench_api.py
  python/cuspatial/cuspatial/_lib/cpp/distance/hausdorff.pxd
  python/cuspatial/cuspatial/_lib/hausdorff.pyx
  python/cuspatial/cuspatial/core/spatial/distance.py
Labels: 3 - Ready for Review, Python, improvement, breaking, libcuspatial

#1070 Update `CMAKE_CUDA_ARCHITECTURE` to use new value
  build.sh
Labels: bug, non-breaking

#1066 Use ARC V2 self-hosted runners for GPU jobs
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#1069 Bug fix in `pairwise_linestring_intersection`
  cpp/include/cuspatial/experimental/detail/linestring_intersection.cuh
  cpp/tests/experimental/spatial/linestring_intersection_test.cu
  cpp/tests/experimental/spatial/linestring_intersection_with_duplicates_test.cu
  python/cuspatial/cuspatial/tests/binops/test_intersections.py
Labels: bug, Python, non-breaking, libcuspatial

#1072 Update clang-format to 15.0.7
  .pre-commit-config.yaml
  cpp/include/cuspatial/detail/nvtx/nvtx3.hpp
  cpp/include/cuspatial_test/base_fixture.hpp
  cpp/scripts/run-clang-format.py
  cpp/tests/experimental/join/join_quadtree_and_bounding_boxes_test.cu
  cpp/tests/experimental/join/quadtree_point_in_polygon_test_large.cu
  cpp/tests/experimental/join/quadtree_point_in_polygon_test_small.cu
  cpp/tests/experimental/join/quadtree_point_to_nearest_linestring_test_small.cu
  cpp/tests/experimental/operators/linestrings_test.cu
  cpp/tests/experimental/spatial/haversine_test.cu
  cpp/tests/experimental/spatial/linestring_bounding_boxes_test.cu
  cpp/tests/experimental/spatial/linestring_distance_test.cu
  cpp/tests/experimental/spatial/linestring_distance_test_medium.cu
  cpp/tests/experimental/spatial/pairwise_point_in_polygon_test.cu
  cpp/tests/experimental/spatial/point_in_polygon_test.cu
  cpp/tests/experimental/spatial/point_linestring_distance_test.cu
  cpp/tests/experimental/spatial/point_linestring_nearest_points_test.cu
  cpp/tests/experimental/spatial/polygon_bounding_boxes_test.cu
  cpp/tests/experimental/trajectory/derive_trajectories_test.cu
  cpp/tests/indexing/point_quadtree_test.cpp
  cpp/tests/join/join_quadtree_and_bounding_boxes_test.cpp
  cpp/tests/spatial/hausdorff_test.cpp
  cpp/tests/spatial/haversine_test.cpp
  cpp/tests/spatial/linestring_bounding_boxes_test.cpp
  cpp/tests/spatial/linestring_distance_test.cpp
  cpp/tests/spatial/linestring_intersection_test.cpp
  cpp/tests/spatial/pairwise_point_in_polygon_test.cpp
  cpp/tests/spatial/point_distance_test.cpp
  cpp/tests/spatial/point_in_polygon_test.cpp
  cpp/tests/spatial/point_linestring_distance_test.cpp
  cpp/tests/spatial/point_linestring_nearest_points_test.cpp
  cpp/tests/spatial/polygon_bounding_boxes_test.cpp
  cpp/tests/spatial/sinusoidal_projection_test.cu
  cpp/tests/spatial_window/spatial_window_test.cpp
  cpp/tests/trajectory/test_derive_trajectories.cpp
  cpp/tests/trajectory/test_trajectory_bounding_boxes.cu
  cpp/tests/trajectory/test_trajectory_distances_and_speeds.cu
  cpp/tests/utility_test/test_float_equivalent.cu
  cpp/tests/utility_test/test_multipoint_factory.cu
  data/json2soa.cpp
  data/poly2soa.cpp
Labels: improvement, non-breaking, libcuspatial

#1088 Remove usage of rapids-get-rapids-version-from-git
  ci/build_docs.sh
  ci/release/update-version.sh
Labels: improvement, non-breaking, ci

#1030 Column API for linestring-polygon distance
  cpp/CMakeLists.txt
  cpp/include/cuspatial/distance/linestring_polygon_distance.hpp
  cpp/include/cuspatial/experimental/detail/ranges/multipoint_range.cuh
  cpp/include/cuspatial/experimental/ranges/multipoint_range.cuh
  cpp/src/spatial/linestring_polygon_distance.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/spatial/linestring_polygon_distance_test.cpp
Labels: 3 - Ready for Review, feature request, cmake, non-breaking, libcuspatial

#1065 Header only API for polygon-polygon distance
  cpp/include/cuspatial/detail/algorithm/linestring_distance.cuh
  cpp/include/cuspatial/detail/distance_utils.cuh
  cpp/include/cuspatial/detail/linestring_distance.cuh
  cpp/include/cuspatial/detail/polygon_distance.cuh
  cpp/include/cuspatial/detail/range/multipolygon_range.cuh
  cpp/include/cuspatial/polygon_distance.cuh
  cpp/include/cuspatial/range/multipolygon_range.cuh
  cpp/include/cuspatial_test/base_fixture.hpp
  cpp/include/cuspatial_test/test_util.cuh
  cpp/include/cuspatial_test/vector_equality.hpp
  cpp/include/cuspatial_test/vector_factories.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/range/multipolygon_range_test.cu
  cpp/tests/spatial/distance/polygon_distance_test.cu
Labels: 3 - Ready for Review, feature request, cmake, non-breaking, libcuspatial

#1031 Python API for linestring polygon distance
  python/cuspatial/cuspatial/__init__.py
  python/cuspatial/cuspatial/_lib/cpp/distance/linestring_polygon_distance.pxd
  python/cuspatial/cuspatial/_lib/distance.pyx
  python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/core/spatial/__init__.py
  python/cuspatial/cuspatial/core/spatial/distance.py
  python/cuspatial/cuspatial/tests/spatial/distance/test_pairwise_linestring_polygon_distance.py
  python/cuspatial/cuspatial/tests/spatial/distance/test_pairwise_point_polygon_distance.py
Labels: feature request, cmake, Python, non-breaking, libcuspatial

#922 Add Hausdorff Clustering Notebooks
  conda/environments/all_cuda-118_arch-x86_64.yaml
  dependencies.yaml
  notebooks/target_intersection.png
  notebooks/trajectory_clustering.ipynb
Labels: conda, doc, Python, non-breaking, libcuspatial

#1085 Binary Predicate Test Dispatching
  python/cuspatial/cuspatial/tests/binpreds/binpred_test_dispatch.py
  python/cuspatial/cuspatial/tests/binpreds/summarize_binpred_test_dispatch_results.py
  python/cuspatial/cuspatial/tests/binpreds/test_binpred_test_dispatch.py
  python/cuspatial/cuspatial/tests/conftest.py
Labels: 3 - Ready for Review, Python, improvement, non-breaking

#1093 Fix a bug in segment intersection primitive where two collinear segment touch at endpoints is miscomputed as a degenerate segment
  cpp/include/cuspatial/detail/utility/linestring.cuh
  cpp/include/cuspatial/geometry/vec_2d.hpp
  cpp/tests/operators/linestrings_test.cu
  cpp/tests/spatial/intersection/linestring_intersection_test.cu
  python/cuspatial/cuspatial/tests/binops/test_intersections.py
Labels: bug, Python, non-breaking, libcuspatial
