Repository rapidsai/cuspatial, pull requests merged in 2023-05, with the labels that each got.

#1107 Revert to branch-23.06 for shared-action-workflows
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#1109 Enable sccache hits from local builds
  conda/recipes/cuspatial/meta.yaml
  conda/recipes/libcuspatial/meta.yaml
Labels: conda, improvement, non-breaking

#1110 Pin cuml dependency in notebook testing environment to nightlies
  ci/release/update-version.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  dependencies.yaml
Labels: bug, conda, non-breaking, ci

#1108 Fix a bug in point-in-polygon kernel: if the point is collinear with an edge, result is asserted false
  cpp/include/cuspatial/detail/algorithm/is_point_in_polygon.cuh
  cpp/tests/spatial/point_in_polygon/point_in_polygon_test.cu
Labels: bug, non-breaking, libcuspatial

#1073 Column API for `pairwise_polygon_distance`
  cpp/CMakeLists.txt
  cpp/include/cuspatial/assert.cuh
  cpp/include/cuspatial/detail/utility/validation.hpp
  cpp/include/cuspatial/distance/polygon_distance.hpp
  cpp/include/cuspatial/error.hpp
  cpp/include/cuspatial/range/multilinestring_range.cuh
  cpp/src/spatial/polygon_distance.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/spatial/distance/linestring_polygon_distance_test.cpp
  cpp/tests/spatial/distance/polygon_distance_test.cpp
Labels: feature request, cmake, non-breaking, libcuspatial

#1074 Python API for `pairwise_polygon_distance`
  python/cuspatial/cuspatial/__init__.py
  python/cuspatial/cuspatial/_lib/cpp/distance/polygon_distance.pxd
  python/cuspatial/cuspatial/_lib/distance.pyx
  python/cuspatial/cuspatial/core/spatial/__init__.py
  python/cuspatial/cuspatial/core/spatial/distance.py
  python/cuspatial/cuspatial/tests/spatial/distance/test_pairwise_linestring_distance.py
  python/cuspatial/cuspatial/tests/spatial/distance/test_pairwise_linestring_polygon_distance.py
  python/cuspatial/cuspatial/tests/spatial/distance/test_pairwise_point_distance.py
  python/cuspatial/cuspatial/tests/spatial/distance/test_pairwise_point_polygon_distance.py
  python/cuspatial/cuspatial/tests/spatial/distance/test_pairwise_polygon_distance.py
Labels: feature request, cmake, Python, non-breaking, libcuspatial

#1086 Add `contains`predicate.
  python/cuspatial/cuspatial/core/binops/equals_count.py
  python/cuspatial/cuspatial/core/binpreds/basic_predicates.py
  python/cuspatial/cuspatial/core/binpreds/binpred_dispatch.py
  python/cuspatial/cuspatial/core/binpreds/binpred_interface.py
  python/cuspatial/cuspatial/core/binpreds/contains.py
  python/cuspatial/cuspatial/core/binpreds/contains_geometry_processor.py
  python/cuspatial/cuspatial/core/binpreds/feature_contains.py
  python/cuspatial/cuspatial/core/binpreds/feature_contains_properly.py
  python/cuspatial/cuspatial/core/binpreds/feature_intersects.py
  python/cuspatial/cuspatial/core/binpreds/feature_overlaps.py
  python/cuspatial/cuspatial/core/binpreds/feature_touches.py
  python/cuspatial/cuspatial/core/binpreds/feature_within.py
  python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/tests/binpreds/test_contains.py
  python/cuspatial/cuspatial/tests/binpreds/test_contains_properly.py
  python/cuspatial/cuspatial/tests/binpreds/test_pip_only_binpreds.py
  python/cuspatial/cuspatial/utils/binpred_utils.py
Labels: 3 - Ready for Review, Python, improvement, non-breaking

#1126 Bump Gtest version following Rapids-cmake change
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/libcuspatial/conda_build_config.yaml
  cpp/include/cuspatial_test/test_util.cuh
  cpp/tests/operators/linestrings_test.cu
  cpp/tests/trajectory/derive_trajectories_test.cu
  dependencies.yaml
Labels: conda, improvement, non-breaking, libcuspatial

#1111 Add Legal Terms to Trajectory Clustering Notebook
  notebooks/trajectory_clustering.ipynb
Labels: conda, Python, improvement, non-breaking

#1129 Delete add_issue_to_project.yml
  .github/workflows/add_issue_to_project.yml
Labels: improvement, non-breaking

#1130 Improve zipcode counting notebook by adding GPU backed WKT parser
  notebooks/ZipCodes_Stops_PiP_cuSpatial.ipynb
Labels: Python, improvement, non-breaking

#1001 Add GTC 2023 Reverse GeoCoding Demo Notebook
  notebooks/README.md
  notebooks/Taxi_Dropoff_Reverse_Geocoding.ipynb
Labels: conda, 3 - Ready for Review, cmake, Python, improvement, non-breaking, libcuspatial, ci

#1124 Refactor ST_Distance Column API and Cython
  cpp/include/cuspatial/detail/distance/linestring_distance.cuh
  cpp/include/cuspatial/detail/distance/point_distance.cuh
  cpp/include/cuspatial/distance.hpp
  cpp/include/cuspatial_test/base_fixture.hpp
  cpp/include/cuspatial_test/geometry_fixtures.hpp
  cpp/src/distance/linestring_distance.cu
  cpp/src/distance/linestring_polygon_distance.cu
  cpp/src/distance/point_distance.cu
  cpp/src/distance/point_linestring_distance.cu
  cpp/src/distance/point_polygon_distance.cu
  cpp/src/distance/polygon_distance.cu
  cpp/src/intersection/linestring_intersection.cu
  cpp/tests/distance/linestring_distance_test.cpp
  cpp/tests/distance/linestring_polygon_distance_test.cpp
  cpp/tests/distance/point_distance_test.cpp
  cpp/tests/distance/point_linestring_distance_test.cpp
  python/cuspatial/cuspatial/_lib/CMakeLists.txt
  python/cuspatial/cuspatial/_lib/cpp/distance.pxd
  python/cuspatial/cuspatial/_lib/cpp/distance/__init__.pxd
  python/cuspatial/cuspatial/_lib/cpp/distance/__init__.pyx
  python/cuspatial/cuspatial/_lib/cpp/distance/hausdorff.pxd
  python/cuspatial/cuspatial/_lib/cpp/distance/haversine.pxd
  python/cuspatial/cuspatial/_lib/cpp/distance/linestring_distance.pxd
  python/cuspatial/cuspatial/_lib/cpp/distance/linestring_polygon_distance.pxd
  python/cuspatial/cuspatial/_lib/cpp/distance/point_distance.pxd
  python/cuspatial/cuspatial/_lib/cpp/distance/point_linestring_distance.pxd
  python/cuspatial/cuspatial/_lib/cpp/distance/point_polygon_distance.pxd
  python/cuspatial/cuspatial/_lib/distance.pyx
  python/cuspatial/cuspatial/_lib/hausdorff.pyx
  python/cuspatial/cuspatial/_lib/spatial.pyx
  python/cuspatial/cuspatial/core/spatial/distance.py
Labels: 3 - Ready for Review, cmake, Python, improvement, non-breaking, libcuspatial

#1131 Adds `pairwise_point_polygon_distance` benchmark
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/distance/pairwise_point_polygon_distance.cu
  cpp/include/cuspatial/detail/nvtx/ranges.hpp
  cpp/include/cuspatial_test/geometry_generator.cuh
  cpp/include/cuspatial_test/random.cuh
  cpp/include/cuspatial_test/vector_factories.cuh
  cpp/tests/distance/point_distance_test.cu
  cpp/tests/distance/point_polygon_distance_test.cu
  cpp/tests/equality/pairwise_multipoint_equals_count_test.cu
  cpp/tests/find/find_duplicate_points_test.cu
  cpp/tests/find/find_points_on_segments_test.cu
  cpp/tests/join/quadtree_point_in_polygon_test_large.cu
  cpp/tests/point_in_polygon/point_in_polygon_test.cu
  cpp/tests/range/multilinestring_range_test.cu
  cpp/tests/range/multipolygon_range_test.cu
  cpp/tests/utility_test/test_multipoint_factory.cu
Labels: feature request, cmake, non-breaking, libcuspatial

#1151 Fix `cudf::column` constructor args
  cpp/src/indexing/point_quadtree.cu
  cpp/src/intersection/linestring_intersection.cu
  cpp/src/join/quadtree_bbox_filtering.cu
  cpp/src/join/quadtree_point_in_polygon.cu
  cpp/src/join/quadtree_point_to_nearest_linestring.cu
  cpp/src/trajectory/derive_trajectories.cu
  cpp/tests/trajectory/test_derive_trajectories.cpp
  cpp/tests/trajectory/test_trajectory_bounding_boxes.cu
  cpp/tests/trajectory/test_trajectory_distances_and_speeds.cu
  docs/source/user_guide/cuspatial_api_examples.ipynb
Labels: 3 - Ready for Review, improvement, non-breaking, libcuspatial

#1152 Fix scatter bug due to overlapping range in `pairwise_linestring_intersection`
  cpp/include/cuspatial/detail/find/find_duplicate_points.cuh
  cpp/include/cuspatial/detail/intersection/linestring_intersection.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/intersection/intersection_test_utils.cuh
  cpp/tests/intersection/linestring_intersection_large_test.cu
  cpp/tests/intersection/linestring_intersection_test.cu
  python/cuspatial/cuspatial/core/binops/intersection.py
Labels: bug, cmake, Python, non-breaking, libcuspatial

#1157 Forward-merge branch-23.06 to branch-23.08
  cpp/include/cuspatial/detail/find/find_duplicate_points.cuh
  cpp/include/cuspatial/detail/intersection/linestring_intersection.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/intersection/intersection_test_utils.cuh
  cpp/tests/intersection/linestring_intersection_large_test.cu
  cpp/tests/intersection/linestring_intersection_test.cu
  python/cuspatial/cuspatial/core/binops/intersection.py
Labels: cmake, Python, libcuspatial

#1064 Implement and Test All Simple Feature Combinations
  python/cuspatial/cuspatial/core/binpreds/basic_predicates.py
  python/cuspatial/cuspatial/core/binpreds/feature_contains.py
  python/cuspatial/cuspatial/core/binpreds/feature_covers.py
  python/cuspatial/cuspatial/core/binpreds/feature_crosses.py
  python/cuspatial/cuspatial/core/binpreds/feature_disjoint.py
  python/cuspatial/cuspatial/core/binpreds/feature_equals.py
  python/cuspatial/cuspatial/core/binpreds/feature_intersects.py
  python/cuspatial/cuspatial/core/binpreds/feature_overlaps.py
  python/cuspatial/cuspatial/core/binpreds/feature_touches.py
  python/cuspatial/cuspatial/core/binpreds/feature_within.py
  python/cuspatial/cuspatial/tests/basicpreds/test_contains_basic_predicate.py
  python/cuspatial/cuspatial/tests/basicpreds/test_equals_basic_predicate.py
  python/cuspatial/cuspatial/tests/basicpreds/test_equals_count.py
  python/cuspatial/cuspatial/tests/basicpreds/test_intersections.py
  python/cuspatial/cuspatial/tests/basicpreds/test_intersects_basic_predicate.py
  python/cuspatial/cuspatial/tests/binpreds/binpred_test_dispatch.py
  python/cuspatial/cuspatial/tests/binpreds/test_binpred_internals.py
  python/cuspatial/cuspatial/tests/binpreds/test_binpred_test_dispatch.py
  python/cuspatial/cuspatial/tests/binpreds/test_contains.py
  python/cuspatial/cuspatial/tests/binpreds/test_equals_only_binpreds.py
  python/cuspatial/cuspatial/tests/binpreds/test_intersects_only_binpreds.py
  python/cuspatial/cuspatial/utils/binpred_utils.py
Labels: cmake, Python, improvement, non-breaking

#1153 Add Benchmark to `pairwise_linestring_polygon_distance`
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/distance/pairwise_linestring_distance.cu
  cpp/benchmarks/distance/pairwise_linestring_polygon_distance.cu
  cpp/include/cuspatial_test/geometry_generator.cuh
  cpp/include/cuspatial_test/vector_factories.cuh
Labels: benchmarks, feature request, cmake, non-breaking, libcuspatial

#1163 Forward-merge branch-23.06 to branch-23.08
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/distance/pairwise_linestring_distance.cu
  cpp/benchmarks/distance/pairwise_linestring_polygon_distance.cu
  cpp/include/cuspatial_test/geometry_generator.cuh
  cpp/include/cuspatial_test/vector_factories.cuh
Labels: cmake, libcuspatial
