Repository rapidsai/cuspatial, pull requests merged in 2023-09, with the labels that each got.

#1265 Use `conda mambabuild` not `mamba mambabuild`
  ci/build_cpp.sh
  ci/build_python.sh
Labels: bug, non-breaking, ci

#1264 Simplify wheel build scripts and allow alphas of RAPIDS dependencies
  ci/build_wheel.sh
  ci/build_wheel_cuproj.sh
  ci/build_wheel_cuspatial.sh
  ci/release/apply_wheel_modifications.sh
Labels: improvement, non-breaking, ci

#1266 Update to clang 16.0.6.
  .pre-commit-config.yaml
  cpp/scripts/run-clang-format.py
Labels: improvement, non-breaking, libcuspatial

#1269 Update image names
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#1263 Update devcontainers to align with other RAPIDS repositories
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/conda/isolated/.devcontainer/devcontainer.json
  .devcontainer/conda/single/.devcontainer/devcontainer.json
  .devcontainer/conda/unified/.devcontainer/devcontainer.json
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.0-conda/devcontainer.json
  .devcontainer/cuda12.0-pip/devcontainer.json
  .devcontainer/devcontainer.json
  .devcontainer/launch.sh
  .devcontainer/pip/isolated/.devcontainer/devcontainer.json
  .devcontainer/pip/single/.devcontainer/devcontainer.json
  .devcontainer/pip/unified/.devcontainer/devcontainer.json
  .github/workflows/pr.yaml
  .gitignore
  ci/release/update-version.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  cpp/.clangd
  cpp/cuproj/CMakeLists.txt
  dependencies.yaml
  python/cuproj/pyproject.toml
Labels: conda, 3 - Ready for Review, cmake, Python, improvement, non-breaking, libcuspatial, ci

#1272 fix update-version.sh
  ci/release/update-version.sh
Labels: 3 - Ready for Review, improvement, non-breaking

#1273 Fix failed automerge Branch 23.12 merge 23.10
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/conda/isolated/.devcontainer/devcontainer.json
  .devcontainer/conda/single/.devcontainer/devcontainer.json
  .devcontainer/conda/unified/.devcontainer/devcontainer.json
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.0-conda/devcontainer.json
  .devcontainer/cuda12.0-pip/devcontainer.json
  .devcontainer/devcontainer.json
  .devcontainer/launch.sh
  .devcontainer/pip/isolated/.devcontainer/devcontainer.json
  .devcontainer/pip/single/.devcontainer/devcontainer.json
  .devcontainer/pip/unified/.devcontainer/devcontainer.json
  .github/workflows/pr.yaml
  .gitignore
  ci/release/update-version.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  cpp/.clangd
  cpp/cuproj/CMakeLists.txt
  dependencies.yaml
  python/cuproj/pyproject.toml
Labels: conda, cmake, Python, improvement, non-breaking, libcuspatial, ci

#1271 Forward-merge branch-23.10 to branch-23.12
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/conda/isolated/.devcontainer/devcontainer.json
  .devcontainer/conda/single/.devcontainer/devcontainer.json
  .devcontainer/conda/unified/.devcontainer/devcontainer.json
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.0-conda/devcontainer.json
  .devcontainer/cuda12.0-pip/devcontainer.json
  .devcontainer/devcontainer.json
  .devcontainer/launch.sh
  .devcontainer/pip/isolated/.devcontainer/devcontainer.json
  .devcontainer/pip/single/.devcontainer/devcontainer.json
  .devcontainer/pip/unified/.devcontainer/devcontainer.json
  .github/workflows/pr.yaml
  .gitignore
  ci/release/update-version.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  cpp/.clangd
  cpp/cuproj/CMakeLists.txt
  dependencies.yaml
  python/cuproj/pyproject.toml
Labels: conda, cmake, Python, libcuspatial, ci
