Repository rapidsai/cuspatial, pull requests merged in 2023-01, with the labels that each got.

#864 Update workflows for nightly tests
  .github/workflows/build.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#865 Build CUDA 11.8 and Python 3.10 Packages
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/libcuspatial/conda_build_config.yaml
  dependencies.yaml
  python/cuspatial/setup.py
Labels: conda, Python, improvement, non-breaking

#866 Fix documentation author
  docs/source/conf.py
Labels: doc, non-breaking

#873 Use vector equivalence macros consistently in header-only API tests.
  cpp/include/cuspatial_test/vector_equality.hpp
  cpp/tests/experimental/indexing/point_quadtree_test.cu
  cpp/tests/experimental/spatial/hausdorff_test.cu
  cpp/tests/experimental/spatial/haversine_test.cu
  cpp/tests/experimental/spatial/linestring_bounding_boxes_test.cu
  cpp/tests/experimental/spatial/linestring_intersection_intermediates_remove_if_test.cu
  cpp/tests/experimental/spatial/linestring_intersection_with_duplicates_test.cu
  cpp/tests/experimental/spatial/point_bounding_boxes_test.cu
  cpp/tests/experimental/spatial/point_distance_test.cu
  cpp/tests/experimental/spatial/point_linestring_distance_test.cu
  cpp/tests/experimental/spatial/point_linestring_nearest_points_test.cu
  cpp/tests/experimental/spatial/points_in_range_test.cu
  cpp/tests/experimental/spatial/polygon_bounding_boxes_test.cu
  cpp/tests/experimental/spatial/sinusoidal_projection_test.cu
  cpp/tests/experimental/trajectory/derive_trajectories_test.cu
  cpp/tests/experimental/trajectory/trajectory_distances_and_speeds_test.cu
Labels: bug, tests, non-breaking, libcuspatial

#871 Refactor calls to `data_array_view`
  python/cuspatial/cuspatial/core/spatial/distance.py
  python/cuspatial/cuspatial/utils/gis_utils.py
Labels: Python, improvement, non-breaking

#874 Add print_env.sh to improve bug reporting
  .github/ISSUE_TEMPLATE/bug_report.yml
  print_env.sh
Labels: improvement, non-breaking

#872 Deprecate shapefile reader
  cpp/include/cuspatial/shapefile_reader.hpp
  docs/source/api_docs/io.rst
  docs/source/user_guide/cuspatial_api_examples.ipynb
  python/cuspatial/cuspatial/io/shapefile.py
Labels: feature request, Python, breaking, libcuspatial

#879 Forward-merge branch-23.02 to branch-23.04
  cpp/include/cuspatial/shapefile_reader.hpp
  docs/source/api_docs/io.rst
  docs/source/user_guide/cuspatial_api_examples.ipynb
  python/cuspatial/cuspatial/io/shapefile.py
Labels: Python, libcuspatial

#877 pre-commit: Update isort version to 5.12.0
  .pre-commit-config.yaml
Labels: bug, non-breaking
