Repository rapidsai/cuspatial, pull requests merged in 2023-12, with the labels that each got.

#1301 Update actions/labeler to v4
  .github/workflows/labeler.yml
Labels: bug, non-breaking

#1300 [RELEASE] cuspatial v23.12
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.0-conda/devcontainer.json
  .devcontainer/cuda12.0-pip/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/labeler.yml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  CHANGELOG.md
  README.md
  VERSION
  build.sh
  ci/build_cpp.sh
  ci/build_docs.sh
  ci/build_python.sh
  ci/build_wheel.sh
  ci/release/update-version.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/cuproj/meta.yaml
  conda/recipes/cuspatial/meta.yaml
  conda/recipes/libcuspatial/meta.yaml
  cpp/CMakeLists.txt
  cpp/cuproj/CMakeLists.txt
  cpp/cuproj/doxygen/Doxyfile
  cpp/doxygen/Doxyfile
  dependencies.yaml
  docs/cuproj/source/conf.py
  docs/cuproj/source/user_guide/cuproj_api_examples.ipynb
  docs/source/conf.py
  docs/source/user_guide/cuspatial_api_examples.ipynb
  fetch_rapids.cmake
  python/cuproj/CMakeLists.txt
  python/cuproj/cuproj/VERSION
  python/cuproj/cuproj/__init__.py
  python/cuproj/cuproj/_version.py
  python/cuproj/cuproj/cuprojshim/CMakeLists.txt
  python/cuproj/pyproject.toml
  python/cuproj/setup.py
  python/cuspatial/CMakeLists.txt
  python/cuspatial/cuspatial/VERSION
  python/cuspatial/cuspatial/__init__.py
  python/cuspatial/cuspatial/_version.py
  python/cuspatial/cuspatial/core/spatial/distance.py
  python/cuspatial/pyproject.toml
  python/cuspatial/setup.py
Labels: conda, cmake, Python, libcuspatial, ci

#1304 Remove CUSPATIAL_BUILD_WHEELS and standardize Python builds
  ci/build_wheel_cuspatial.sh
  python/cuspatial/CMakeLists.txt
  python/cuspatial/cmake/Modules/WheelHelpers.cmake
Labels: cmake, Python, improvement, non-breaking, ci

#1307 Pin `proj` to `9.3.0` in `cuproj`
  conda/recipes/cuproj/conda_build_config.yaml
Labels: bug, conda, non-breaking

#1309 Use Cython 3 for cuproj.
  conda/recipes/cuproj/meta.yaml
Labels: conda, improvement, non-breaking

#1313 Switch to scikit-build-core
  build.sh
  ci/build_wheel_cuproj.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/cuproj/meta.yaml
  conda/recipes/cuspatial/meta.yaml
  dependencies.yaml
  python/cuproj/CMakeLists.txt
  python/cuproj/pyproject.toml
  python/cuproj/setup.py
  python/cuspatial/CMakeLists.txt
  python/cuspatial/pyproject.toml
  python/cuspatial/setup.py
Labels: conda, cmake, Python, improvement, breaking, ci

#1314 Use cuda::proclaim_return_type on device lambdas.
  cpp/include/cuspatial/column/geometry_column_view.hpp
  cpp/include/cuspatial/detail/index/construction/phase_1.cuh
  cpp/include/cuspatial/detail/join/quadtree_bbox_filtering.cuh
  cpp/include/cuspatial/detail/join/quadtree_point_to_nearest_linestring.cuh
  cpp/include/cuspatial/detail/point_quadtree.cuh
  cpp/include/cuspatial_test/vector_factories.cuh
  cpp/tests/distance/hausdorff_test.cu
  cpp/tests/distance/haversine_test.cu
  cpp/tests/trajectory/trajectory_distances_and_speeds_test.cu
  cpp/tests/trajectory/trajectory_test_utils.cuh
Labels: improvement, non-breaking, libcuspatial

#1315 Update to CCCL 2.2.0.
  ci/build_python.sh
  cpp/include/cuspatial/detail/join/quadtree_point_to_nearest_linestring.cuh
  cpp/include/cuspatial_test/vector_factories.cuh
  cpp/tests/distance/linestring_distance_test.cu
  cpp/tests/index/point_quadtree_test.cu
  cpp/tests/point_in_polygon/pairwise_point_in_polygon_test.cu
  cpp/tests/utility_test/test_float_equivalent.cu
Labels: cmake, improvement, breaking, libcuspatial, ci
