Repository rapidsai/cuspatial, pull requests merged in 2023-06, with the labels that each got.

#1134 Add `multilinestring_segment_manager` for segment related methods in multilinestring ranges
  cpp/include/cuspatial/detail/distance/linestring_polygon_distance.cuh
  cpp/include/cuspatial/detail/functors.cuh
  cpp/include/cuspatial/detail/kernel/pairwise_distance.cuh
  cpp/include/cuspatial/detail/multilinestring_segment.cuh
  cpp/include/cuspatial/detail/range/multilinestring_range.cuh
  cpp/include/cuspatial/detail/range/multilinestring_segment_range.cuh
  cpp/include/cuspatial/detail/range/multipolygon_range.cuh
  cpp/include/cuspatial/detail/utility/validation.hpp
  cpp/include/cuspatial/geometry_collection/multilinestring_ref.cuh
  cpp/include/cuspatial/geometry_collection/multipolygon_ref.cuh
  cpp/include/cuspatial/range/multilinestring_range.cuh
  cpp/include/cuspatial/range/multipolygon_range.cuh
  cpp/include/cuspatial_test/vector_equality.hpp
  cpp/tests/bounding_boxes/polygon_bounding_boxes_test.cpp
  cpp/tests/distance/linestring_polygon_distance_test.cu
  cpp/tests/point_in_polygon/point_in_polygon_test.cpp
  cpp/tests/range/multilinestring_range_test.cu
  cpp/tests/range/multipolygon_range_test.cu
Labels: improvement, non-breaking, libcuspatial

#1145 Add documentation for `pairwise_linestring_polygon_distance`, `pairwise_polygon_distance`
  conda/environments/all_cuda-118_arch-x86_64.yaml
  dependencies.yaml
  docs/source/_static/bounding.png
  docs/source/_static/hausdorff.png
  docs/source/_static/haversine.png
  docs/source/_static/spatial_window.png
  docs/source/_static/trajectory.png
  docs/source/user_guide/cuspatial_api_examples.ipynb
Labels: conda, 3 - Ready for Review, doc, non-breaking

#1141 Run docs nightly
  .github/workflows/build.yaml
  ci/build_docs.sh
Labels: improvement, non-breaking, ci

#1175 Fix branch-23.06 forward-merge into branch-23.08
  .devcontainer/Dockerfile
  .devcontainer/conda/devcontainer.json
  .devcontainer/conda/isolated/.devcontainer/devcontainer.json
  .devcontainer/conda/unified/.devcontainer/devcontainer.json
  .devcontainer/devcontainer.json
  .devcontainer/opt/cuspatial/bin/post-attach-command.sh
  .devcontainer/opt/cuspatial/bin/post-create-command.sh
  .devcontainer/opt/cuspatial/bin/update-content-command.sh
  .devcontainer/pip/devcontainer.json
  .devcontainer/pip/isolated/.devcontainer/devcontainer.json
  .devcontainer/pip/unified/.devcontainer/devcontainer.json
  .flake8
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .pre-commit-config.yaml
  README.md
  ci/release/apply_wheel_modifications.sh
  ci/release/update-version.sh
  ci/wheel_smoke_test.py
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/CUSPATIAL_GetCUDF.cmake
  dependencies.yaml
  docs/source/user_guide/cuspatial_api_examples.ipynb
  python/cuspatial/.flake8.cython
  python/cuspatial/CMakeLists.txt
  python/cuspatial/README.md
  python/cuspatial/cmake/Modules/WheelHelpers.cmake
  python/cuspatial/cuspatial/__init__.py
  python/cuspatial/cuspatial/_lib/CMakeLists.txt
  python/cuspatial/cuspatial/_version.py
  python/cuspatial/cuspatial/utils/join_utils.py
  python/cuspatial/pyproject.toml
  python/cuspatial/setup.cfg
  python/cuspatial/setup.py
  python/cuspatial/versioneer.py
Labels: 5 - Ready to Merge, cmake, Python, improvement, non-breaking, libcuspatial, ci

#1187 Fix update version
  ci/release/update-version.sh
  cpp/doxygen/Doxyfile
Labels: improvement, non-breaking, libcuspatial, ci

#1188 [RELEASE] v23.06
  ci/release/update-version.sh
  cpp/doxygen/Doxyfile
Labels: libcuspatial, ci

#1190 Forward merge `branch-23.06` into `branch-23.08`
  ci/release/update-version.sh
Labels: improvement, non-breaking, ci

#1181 use rapids-upload-docs script
  ci/build_docs.sh
  ci/release/update-version.sh
Labels: improvement, non-breaking, ci

#1166 Better support for binary predicates with large inputs.
  python/cuspatial/cuspatial/core/binpreds/contains.py
  python/cuspatial/cuspatial/core/binpreds/contains_geometry_processor.py
  python/cuspatial/cuspatial/core/binpreds/feature_contains.py
  python/cuspatial/cuspatial/core/binpreds/feature_contains_properly.py
  python/cuspatial/cuspatial/core/binpreds/feature_crosses.py
  python/cuspatial/cuspatial/core/binpreds/feature_disjoint.py
  python/cuspatial/cuspatial/core/binpreds/feature_equals.py
  python/cuspatial/cuspatial/core/binpreds/feature_intersects.py
  python/cuspatial/cuspatial/core/binpreds/feature_touches.py
  python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/tests/binpreds/binpred_test_dispatch.py
  python/cuspatial/cuspatial/tests/binpreds/test_binpred_cartesian_dispatch_list.py
  python/cuspatial/cuspatial/tests/binpreds/test_binpred_each_dispatch_list.py
  python/cuspatial/cuspatial/tests/binpreds/test_equals_only_binpreds.py
  python/cuspatial/cuspatial/utils/binpred_utils.py
  python/cuspatial/cuspatial/utils/column_utils.py
Labels: bug, 2 - In Progress, Python, non-breaking

#1177 External issue triage GHA
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/documentation_request.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/workflows/external-issue-labeler.yml
Labels: feature request, non-breaking

#1195 Remove `osmnx` dependency and use a small local dataset
  conda/environments/all_cuda-118_arch-x86_64.yaml
  dependencies.yaml
  docs/source/user_guide/cuspatial_api_examples.ipynb
  notebooks/esb_3857.csv
  notebooks/streets_3857.csv
Labels: conda, doc, Python, non-breaking

#1196 Update to CMake 3.26.4
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/cuspatial/conda_build_config.yaml
  conda/recipes/cuspatial/meta.yaml
  conda/recipes/libcuspatial/conda_build_config.yaml
  cpp/CMakeLists.txt
  dependencies.yaml
  docs/source/developer_guide/build.md
  java/src/main/native/CMakeLists.txt
  python/cuspatial/CMakeLists.txt
  python/cuspatial/pyproject.toml
Labels: conda, cmake, Python, improvement, non-breaking, libcuspatial, Java

#1180 Remove Stale Demo Scripts
  python/cuspatial/demos/README.md
  python/cuspatial/demos/pip_test_gdal_locust.py
  python/cuspatial/demos/pip_test_shapely_locust.py
  python/cuspatial/demos/pip_verify_shapely_locust.py
  python/cuspatial/demos/stq_test_soa_locust.py
  python/cuspatial/demos/traj_test_soa_locust.py
Labels: tech debt, Python, improvement, non-breaking

#1179 Updates Build Instructions to Adjust for Devcontainer Instructions and Remove Stale Infomation
  docs/source/developer_guide/build.md
  docs/source/developer_guide/development_environment.md
  python/cuspatial/cuspatial/tests/spatial/distance/test_point_linestring_distance.py
  test_fixtures/shapefiles/empty_poly.cpg
  test_fixtures/shapefiles/empty_poly.dbf
  test_fixtures/shapefiles/empty_poly.sbn
  test_fixtures/shapefiles/empty_poly.sbx
  test_fixtures/shapefiles/empty_poly.shp
  test_fixtures/shapefiles/empty_poly.shx
  test_fixtures/shapefiles/one_poly.cpg
  test_fixtures/shapefiles/one_poly.dbf
  test_fixtures/shapefiles/one_poly.sbn
  test_fixtures/shapefiles/one_poly.sbx
  test_fixtures/shapefiles/one_poly.shp
  test_fixtures/shapefiles/one_poly.shx
  test_fixtures/shapefiles/two_polys.dbf
  test_fixtures/shapefiles/two_polys.sbn
  test_fixtures/shapefiles/two_polys.sbx
  test_fixtures/shapefiles/two_polys.shp
  test_fixtures/shapefiles/two_polys.shx
Labels: tech debt, Python, improvement, non-breaking

#1199 Fix a small typo in pairwise_linestring_distance
  cpp/include/cuspatial/distance.cuh
Labels: bug, non-breaking, libcuspatial

#1192 Simplify point-in-polygon header only APIs
  cpp/benchmarks/point_in_polygon/point_in_polygon.cu
  cpp/include/cuspatial/detail/algorithm/is_point_in_polygon.cuh
  cpp/include/cuspatial/detail/point_in_polygon.cuh
  cpp/include/cuspatial/detail/range/multipoint_range.cuh
  cpp/include/cuspatial/point_in_polygon.cuh
  cpp/include/cuspatial/range/multipoint_range.cuh
  cpp/include/cuspatial/range/multipolygon_range.cuh
  cpp/include/cuspatial_test/vector_factories.cuh
  cpp/src/point_in_polygon/point_in_polygon.cu
  cpp/tests/join/quadtree_point_in_polygon_test_large.cu
  cpp/tests/point_in_polygon/pairwise_point_in_polygon_test.cpp
  cpp/tests/point_in_polygon/pairwise_point_in_polygon_test.cu
  cpp/tests/point_in_polygon/point_in_polygon_test.cu
Labels: tech debt, improvement, breaking, libcuspatial

#1201 Add author credit to zipcode counting notebook, fix cudf string processing argument
  notebooks/ZipCodes_Stops_PiP_cuSpatial.ipynb
Labels: doc, Python, non-breaking

#1178 Use grid_stride_range in kernel loops
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/cmake/thirdparty/get_ranger.cmake
  cpp/doxygen/developer_guide/DEVELOPER_GUIDE.md
  cpp/include/cuspatial/detail/distance/hausdorff.cuh
  cpp/include/cuspatial/detail/find/find_and_combine_segment.cuh
  cpp/include/cuspatial/detail/find/find_duplicate_points.cuh
  cpp/include/cuspatial/detail/intersection/linestring_intersection_count.cuh
  cpp/include/cuspatial/detail/intersection/linestring_intersection_with_duplicates.cuh
  cpp/include/cuspatial/detail/kernel/pairwise_distance.cuh
  cpp/include/cuspatial/detail/pairwise_multipoint_equals_count.cuh
  cpp/include/cuspatial/detail/point_linestring_nearest_points.cuh
  cpp/include/cuspatial_test/geometry_generator.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/operators/linestrings_test.cu
Labels: bug, 3 - Ready for Review, tech debt, cmake, non-breaking, libcuspatial
