Repository rapidsai/cuspatial, pull requests merged in 2023-07, with the labels that each got.

#1211 Add CUDA major to `cuspatial`'s `build/string`
  conda/recipes/cuspatial/meta.yaml
Labels: bug, conda, non-breaking

#1218 Add streams to allocate_like call
  cpp/src/distance/haversine.cu
  cpp/src/trajectory/derive_trajectories.cu
Labels: bug, non-breaking, libcuspatial

#1219 Update GeoDataFrame to Use the Structured GatherMap Class
  python/cuspatial/cuspatial/core/geodataframe.py
  python/cuspatial/cuspatial/core/geoseries.py
Labels: bug, Python, non-breaking

#1223 Revert CUDA 12.0 CI workflows to branch-23.08.
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#1191 WGS84 <--> UTM projection header-only API
  cpp/cuproj/README.md
  cpp/cuproj/include/cuproj/constants.hpp
  cpp/cuproj/include/cuproj/detail/pipeline.cuh
  cpp/cuproj/include/cuproj/detail/wrap_to_pi.cuh
  cpp/cuproj/include/cuproj/ellipsoid.hpp
  cpp/cuproj/include/cuproj/error.hpp
  cpp/cuproj/include/cuproj/operation/axis_swap.cuh
  cpp/cuproj/include/cuproj/operation/clamp_angular_coordinates.cuh
  cpp/cuproj/include/cuproj/operation/degrees_to_radians.cuh
  cpp/cuproj/include/cuproj/operation/offset_scale_cartesian_coordinates.cuh
  cpp/cuproj/include/cuproj/operation/operation.cuh
  cpp/cuproj/include/cuproj/operation/transverse_mercator.cuh
  cpp/cuproj/include/cuproj/projection.cuh
  cpp/cuproj/include/cuproj/projection_factories.hpp
  cpp/cuproj/include/cuproj/projection_parameters.hpp
  cpp/cuproj/include/cuproj_test/coordinate_generator.cuh
  cpp/cuproj/tests/CMakeLists.txt
  cpp/cuproj/tests/wgs_to_utm_test.cu
  cpp/include/cuspatial_test/vector_equality.hpp
Labels: feature request, cmake, non-breaking, libcuspatial, libcuproj

#1224 Use rapids-cmake to supply Google Benchmark library.
  cpp/CMakeLists.txt
Labels: cmake, improvement, non-breaking, libcuspatial

#1225 Use Google Benchmark from rapids-cmake in cuproj.
  cpp/cuproj/CMakeLists.txt
Labels: cmake, improvement, non-breaking, libcuspatial

#1207 Sort the mergeable segments before computing merged segments
  cpp/include/cuspatial/detail/algorithm/is_point_in_polygon.cuh
  cpp/include/cuspatial/detail/find/find_and_combine_segment.cuh
  cpp/include/cuspatial/detail/utility/linestring.cuh
  cpp/include/cuspatial/geometry/segment.cuh
  cpp/tests/find/find_and_combine_segments_test.cu
  cpp/tests/intersection/linestring_intersection_large_test.cu
  python/cuspatial/cuspatial/tests/binpreds/test_contains_properly.py
Labels: bug, Python, non-breaking, libcuspatial

#1227 Switch to new wheel building pipeline
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/build_wheel.sh
  ci/test_wheel.sh
Labels: 3 - Ready for Review, improvement, non-breaking, ci

#1230 Branch 23.10 merge 23.08
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/build_wheel.sh
  ci/test_wheel.sh
Labels: improvement, non-breaking, ci

#1229 Forward-merge branch-23.08 to branch-23.10
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/build_wheel.sh
  ci/test_wheel.sh
Labels: ci

#1209 Fix overflowing in `intersection_intermediates.remove_if`
  cpp/include/cuspatial/detail/intersection/linestring_intersection.cuh
  cpp/include/cuspatial/detail/intersection/linestring_intersection_with_duplicates.cuh
  cpp/tests/intersection/linestring_intersection_large_test.cu
Labels: bug, non-breaking, libcuspatial

#1231 Add `geoseries.distance`
  python/cuspatial/cuspatial/core/binops/distance_dispatch.py
  python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/tests/conftest.py
  python/cuspatial/cuspatial/tests/spatial/distance/test_distance.py
  python/cuspatial/cuspatial/tests/test_geoseries.py
Labels: feature request, Python, non-breaking

#1197 Add Comprehensive Test for Multigeometry Range Classes
  cpp/include/cuspatial/detail/geometry/polygon_ref.cuh
  cpp/include/cuspatial/detail/geometry_collection/multilinestring_ref.cuh
  cpp/include/cuspatial/detail/geometry_collection/multipolygon_ref.cuh
  cpp/include/cuspatial/detail/range/multilinestring_range.cuh
  cpp/include/cuspatial/detail/range/multilinestring_segment_range.cuh
  cpp/include/cuspatial/detail/range/multipolygon_range.cuh
  cpp/include/cuspatial/detail/utility/zero_data.cuh
  cpp/include/cuspatial/iterator_factory.cuh
  cpp/include/cuspatial/range/multilinestring_range.cuh
  cpp/include/cuspatial/range/multipoint_range.cuh
  cpp/include/cuspatial/range/multipolygon_range.cuh
  cpp/include/cuspatial_test/geometry_generator.cuh
  cpp/include/cuspatial_test/vector_factories.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/range/multilinestring_range_test.cu
  cpp/tests/range/multipoint_range_test.cu
  cpp/tests/range/multipolygon_range_test.cu
Labels: tech debt, cmake, improvement, non-breaking, libcuspatial
