Repository rapidsai/cuspatial, pull requests merged in 2023-08, with the labels that each got.

#1214 Update to `rapidsai/devcontainers:23.08`
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/conda/devcontainer.json
  .devcontainer/conda/isolated/.devcontainer/devcontainer.json
  .devcontainer/conda/single/.devcontainer/devcontainer.json
  .devcontainer/conda/unified/.devcontainer/devcontainer.json
  .devcontainer/devcontainer.json
  .devcontainer/pip/devcontainer.json
  .devcontainer/pip/isolated/.devcontainer/devcontainer.json
  .devcontainer/pip/single/.devcontainer/devcontainer.json
  .devcontainer/pip/unified/.devcontainer/devcontainer.json
  conda/environments/all_cuda-120_arch-x86_64.yaml
  dependencies.yaml
  fetch_rapids.cmake
Labels: conda, 3 - Ready for Review, improvement, non-breaking

#1216 WGS84 to UTM benchmark (C++)
  cpp/cuproj/benchmarks/CMakeLists.txt
  cpp/cuproj/benchmarks/fixture/benchmark_fixture.hpp
  cpp/cuproj/benchmarks/test.cu
  cpp/cuproj/benchmarks/wgs_to_utm_bench.cu
  cpp/cuproj/include/cuproj_test/convert_coordinates.hpp
  cpp/cuproj/include/cuproj_test/coordinate_generator.cuh
  cpp/cuproj/tests/wgs_to_utm_test.cu
Labels: feature request, cmake, non-breaking, libcuspatial

#1212 Adding Spherical Surface Processing Capability to Point-in-Polygon Queries
  cpp/include/cuspatial/detail/algorithm/is_point_in_polygon.cuh
  cpp/include/cuspatial/detail/geometry/linestring_ref.cuh
  cpp/include/cuspatial/detail/geometry/polygon_ref.cuh
  cpp/include/cuspatial/detail/point_in_polygon.cuh
  cpp/include/cuspatial/detail/range/multipoint_range.cuh
  cpp/include/cuspatial/detail/range/multipolygon_range.cuh
  cpp/include/cuspatial/geometry/vec_3d.hpp
  cpp/include/cuspatial/traits.hpp
  cpp/tests/point_in_polygon/point_in_polygon_test.cu
Labels: feature request, non-breaking, libcuspatial

#1232 cuSpatial 23.08 README updates
  README.md
Labels: doc, non-breaking, libcuproj

#1237 cuProj Python and C++ Documentation
  ci/build_docs.sh
  ci/release/update-version.sh
  cpp/cuproj/benchmarks/wgs_to_utm_bench.cu
  cpp/cuproj/doxygen/Doxyfile
  cpp/cuproj/doxygen/DoxygenLayout.xml
  cpp/cuproj/doxygen/header.html
  cpp/cuproj/doxygen/main_page.md
  cpp/cuproj/doxygen/modify_fences.sh
  cpp/cuproj/include/cuproj/constants.hpp
  cpp/cuproj/include/cuproj/ellipsoid.hpp
  cpp/cuproj/include/cuproj/operation/axis_swap.cuh
  cpp/cuproj/include/cuproj/operation/clamp_angular_coordinates.cuh
  cpp/cuproj/include/cuproj/operation/degrees_to_radians.cuh
  cpp/cuproj/include/cuproj/operation/offset_scale_cartesian_coordinates.cuh
  cpp/cuproj/include/cuproj/operation/operation.cuh
  cpp/cuproj/include/cuproj/operation/transverse_mercator.cuh
  cpp/cuproj/include/cuproj/projection.cuh
  cpp/cuproj/include/cuproj/projection_factories.cuh
  cpp/cuproj/include/cuproj/projection_factories.hpp
  cpp/cuproj/include/cuproj/projection_parameters.hpp
  cpp/cuproj/include/doxygen_groups.h
  docs/cuproj/Makefile
  docs/cuproj/README.md
  docs/cuproj/make.bat
  docs/cuproj/source/api_docs/index.rst
  docs/cuproj/source/api_docs/transformer.rst
  docs/cuproj/source/conf.py
  docs/cuproj/source/developer_guide/index.md
  docs/cuproj/source/index.md
  docs/cuproj/source/user_guide/cuproj_api_examples.ipynb
  docs/cuproj/source/user_guide/index.md
  notebooks/cuproj_benchmark.ipynb
  python/cuproj/README.md
  python/cuproj/cuproj/transformer.py
Labels: doc, cmake, Python, non-breaking, libcuspatial, ci

#1250 Update nightly wheel tests for cuproj
  .github/workflows/test.yaml
Labels: bug, non-breaking

#1156 Binary Predicates Introduction and Benchmark Notebook
  ci/test_notebooks.sh
  notebooks/binary_predicates.ipynb
Labels: 3 - Ready for Review, feature request, cmake, Python, non-breaking, ci

#1247 Change path to trajectories_extracted.p to improve CI run consistency.
  CHANGELOG.md
  notebooks/trajectory_clustering.ipynb
Labels: Python, improvement, non-breaking

#1255 Add LICENSE to wheels
  CHANGELOG.md
  python/cuproj/LICENSE
  python/cuspatial/LICENSE
Labels: bug, Python, non-breaking

#1261 Add back deleted conda env files
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
Labels: bug, conda, non-breaking

#1262 Use `copy-pr-bot`
  .github/copy-pr-bot.yaml
  .github/ops-bot.yaml
Labels: improvement, non-breaking

#1260 [REVIEW] Add cudf example code for haversine distance into 23.10
  docs/source/user_guide/cuspatial_api_examples.ipynb
  python/cuspatial/cuspatial/core/spatial/distance.py
Labels: doc, Python, non-breaking
