Repository rapidsai/cuspatial, pull requests merged in 2024-09, with the labels that each got.

#1452 fix wheel tests on Rocky Linux
  README.md
  ci/test_wheel_cuproj.sh
  ci/test_wheel_cuspatial.sh
Labels: bug, 3 - Ready for Review, non-breaking, ci

#1456 re-enable mixing libcuspatial wheels with libcudf conda packages
  python/libcuspatial/libcuspatial/load.py
Labels: bug, 2 - In Progress, Python, non-breaking

#1451 rearrange dependencies.yaml, fix development instructions
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
Labels: conda, improvement, non-breaking

#1453 Add support for Python 3.12, ping proj back to 9.3.x, require geopandas>=1.0
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  README.md
  ci/test_wheel_cuproj.sh
  ci/test_wheel_cuspatial.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/cuproj/meta.yaml
  conda/recipes/cuspatial/meta.yaml
  conda/recipes/libcuspatial/meta.yaml
  dependencies.yaml
  python/cuproj/pyproject.toml
  python/cuspatial/pyproject.toml
Labels: conda, Python, improvement, non-breaking, ci

#1459 Use CI workflow branch 'branch-24.10' again
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#1458 Update flake8 to 7.1.1.
  .pre-commit-config.yaml
  python/cuspatial/cuspatial/tests/test_geodataframe.py
  python/cuspatial/cuspatial/tests/test_geoseries.py
Labels: Python, improvement, non-breaking

#1441 Remove NumPy <2 pin, remove proj pin
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/cuproj/meta.yaml
  conda/recipes/cuspatial/meta.yaml
  conda/recipes/libcuspatial/meta.yaml
  dependencies.yaml
  python/cuproj/pyproject.toml
  python/cuspatial/pyproject.toml
Labels: conda, Python, improvement, non-breaking

#1462 Update update-version.sh to use packaging lib
  ci/release/update-version.sh
Labels: improvement, non-breaking, ci

#1463 Merge branch-24.10 into branch-24.12
  ci/release/update-version.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/cuproj/meta.yaml
  conda/recipes/cuspatial/meta.yaml
  conda/recipes/libcuspatial/meta.yaml
  dependencies.yaml
  python/cuproj/pyproject.toml
  python/cuspatial/pyproject.toml
Labels: conda, Python, improvement, non-breaking, ci

#1464 Switch `traceback` to `native` in pytests
  python/cuproj/cuproj/tests/pytest.ini
  python/cuspatial/cuspatial/tests/pytest.ini
Labels: Python, improvement, non-breaking
