Repository rapidsai/cuspatial, pull requests merged in 2024-08, with the labels that each got.

#1428 Address cudf.DataFrame.insert API change
  python/cuspatial/cuspatial/core/geodataframe.py
Labels: Python, improvement, non-breaking

#1429 Pass columns instead of Series to `cudf.DataFrame` in split-combine workflow
  python/cuspatial/cuspatial/core/geodataframe.py
Labels: Python, improvement, non-breaking

#1425 [RELEASE] cuspatial v24.08
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.5-conda/devcontainer.json
  .devcontainer/cuda12.5-pip/devcontainer.json
  .github/CODEOWNERS
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .gitignore
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  VERSION
  build.sh
  ci/build_cpp.sh
  ci/build_docs.sh
  ci/build_python.sh
  ci/build_wheel.sh
  ci/check_style.sh
  ci/release/update-version.sh
  ci/test_notebooks.sh
  ci/utils/nbtest.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/cuproj/conda_build_config.yaml
  conda/recipes/cuproj/meta.yaml
  conda/recipes/cuspatial/conda_build_config.yaml
  conda/recipes/cuspatial/meta.yaml
  conda/recipes/libcuspatial/conda_build_config.yaml
  cpp/include/cuspatial/range/multipolygon_range.cuh
  cpp/include/cuspatial_test/vector_factories.cuh
  cpp/tests/range/multipolygon_range_test.cu
  dependencies.yaml
  docs/cuproj/source/user_guide/cuproj_api_examples.ipynb
  docs/source/user_guide/cuspatial_api_examples.ipynb
  notebooks/nyc_taxi_years_correlation.ipynb
  python/cuproj/cuproj/_version.py
  python/cuproj/cuproj/tests/test_version.py
  python/cuproj/pyproject.toml
  python/cuspatial/cuspatial/_version.py
  python/cuspatial/cuspatial/core/binpreds/contains.py
  python/cuspatial/cuspatial/core/geodataframe.py
  python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/core/spatial/join.py
  python/cuspatial/cuspatial/core/spatial/nearest_points.py
  python/cuspatial/cuspatial/tests/basicpreds/test_intersections.py
  python/cuspatial/cuspatial/tests/spatial/distance/test_pairwise_linestring_distance.py
  python/cuspatial/cuspatial/tests/spatial/join/test_point_in_polygon.py
  python/cuspatial/cuspatial/tests/test_geodataframe.py
  python/cuspatial/cuspatial/tests/test_geoseries.py
  python/cuspatial/cuspatial/tests/test_version.py
  python/cuspatial/cuspatial/utils/join_utils.py
  python/cuspatial/pyproject.toml
Labels: conda, Python, libcuspatial, ci

#1434 Disallow GeoSeries from accepting a column in favor of `_from_column`
  python/cuspatial/cuspatial/core/_column/geocolumn.py
  python/cuspatial/cuspatial/core/_column/geometa.py
  python/cuspatial/cuspatial/core/binops/distance_dispatch.py
  python/cuspatial/cuspatial/core/binops/equals_count.py
  python/cuspatial/cuspatial/core/binops/intersection.py
  python/cuspatial/cuspatial/core/binpreds/contains.py
  python/cuspatial/cuspatial/core/binpreds/contains_geometry_processor.py
  python/cuspatial/cuspatial/core/binpreds/feature_contains.py
  python/cuspatial/cuspatial/core/binpreds/feature_equals.py
  python/cuspatial/cuspatial/core/binpreds/feature_intersects.py
  python/cuspatial/cuspatial/core/binpreds/feature_touches.py
  python/cuspatial/cuspatial/core/geodataframe.py
  python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/core/spatial/distance.py
  python/cuspatial/cuspatial/core/spatial/indexing.py
  python/cuspatial/cuspatial/core/trajectory.py
  python/cuspatial/cuspatial/io/geopandas_reader.py
  python/cuspatial/cuspatial/tests/test_from_geopandas.py
  python/cuspatial/cuspatial/utils/binpred_utils.py
Labels: bug, Python, breaking

#1435 Update pre-commit hooks
  .pre-commit-config.yaml
Labels: improvement, non-breaking

#1432 Improve update-version.sh
  ci/release/update-version.sh
Labels: improvement, non-breaking, ci

#1430 Use tool.scikit-build.cmake.version, set scikit-build-core minimum-version
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/cuproj/meta.yaml
  conda/recipes/cuspatial/meta.yaml
  dependencies.yaml
  python/cuproj/pyproject.toml
  python/cuspatial/pyproject.toml
Labels: conda, Python, improvement, non-breaking

#1438 Fix _recombine_columns when either geocolumn or non-geocolumn was empty
  python/cuspatial/cuspatial/core/geodataframe.py
Labels: bug, Python, non-breaking

#1424 ensure notebook-testing script fails when notebooks fail
  ci/test_notebooks.sh
  notebooks/nyc_taxi_years_correlation.ipynb
Labels: Python, improvement, non-breaking, ci

#1439 Remove unused shuffle_order in GeoColumn
  python/cuspatial/cuspatial/core/_column/geocolumn.py
  python/cuspatial/cuspatial/core/geodataframe.py
Labels: bug, Python, non-breaking

#1440 Update cuspatial to use pylibcudf
  ci/release/update-version.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/cuspatial/meta.yaml
  dependencies.yaml
  python/cuproj/pyproject.toml
  python/cuspatial/cuspatial/_lib/cpp/column/geometry_column_view.pxd
  python/cuspatial/cuspatial/_lib/cpp/distance.pxd
  python/cuspatial/cuspatial/_lib/cpp/distance/polygon_distance.pxd
  python/cuspatial/cuspatial/_lib/cpp/linestring_bounding_boxes.pxd
  python/cuspatial/cuspatial/_lib/cpp/linestring_intersection.pxd
  python/cuspatial/cuspatial/_lib/cpp/nearest_points.pxd
  python/cuspatial/cuspatial/_lib/cpp/pairwise_multipoint_equals_count.pxd
  python/cuspatial/cuspatial/_lib/cpp/pairwise_point_in_polygon.pxd
  python/cuspatial/cuspatial/_lib/cpp/point_in_polygon.pxd
  python/cuspatial/cuspatial/_lib/cpp/points_in_range.pxd
  python/cuspatial/cuspatial/_lib/cpp/polygon_bounding_boxes.pxd
  python/cuspatial/cuspatial/_lib/cpp/projection.pxd
  python/cuspatial/cuspatial/_lib/cpp/quadtree.pxd
  python/cuspatial/cuspatial/_lib/cpp/spatial_join.pxd
  python/cuspatial/cuspatial/_lib/cpp/trajectory.pxd
  python/cuspatial/cuspatial/_lib/distance.pyx
  python/cuspatial/cuspatial/_lib/linestring_bounding_boxes.pyx
  python/cuspatial/cuspatial/_lib/nearest_points.pyx
  python/cuspatial/cuspatial/_lib/pairwise_multipoint_equals_count.pyx
  python/cuspatial/cuspatial/_lib/pairwise_point_in_polygon.pyx
  python/cuspatial/cuspatial/_lib/point_in_polygon.pyx
  python/cuspatial/cuspatial/_lib/points_in_range.pyx
  python/cuspatial/cuspatial/_lib/polygon_bounding_boxes.pyx
  python/cuspatial/cuspatial/_lib/quadtree.pyx
  python/cuspatial/cuspatial/_lib/spatial.pyx
  python/cuspatial/cuspatial/_lib/spatial_join.pyx
  python/cuspatial/cuspatial/_lib/trajectory.pyx
  python/cuspatial/cuspatial/_lib/utils.pxd
  python/cuspatial/cuspatial/_lib/utils.pyx
  python/cuspatial/pyproject.toml
Labels: conda, Python, improvement, non-breaking, ci

#1436 Internal linkage kernels
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  cpp/include/cuspatial/cuda_utils.hpp
  cpp/include/cuspatial/detail/distance/hausdorff.cuh
  cpp/include/cuspatial/detail/find/find_and_combine_segment.cuh
  cpp/include/cuspatial/detail/find/find_duplicate_points.cuh
  cpp/include/cuspatial/detail/intersection/linestring_intersection_count.cuh
  cpp/include/cuspatial/detail/intersection/linestring_intersection_with_duplicates.cuh
  cpp/include/cuspatial/detail/kernel/pairwise_distance.cuh
  cpp/include/cuspatial/detail/pairwise_multipoint_equals_count.cuh
  cpp/include/cuspatial/detail/point_linestring_nearest_points.cuh
  cpp/include/cuspatial_test/geometry_generator.cuh
  cpp/tests/operators/linestrings_test.cu
  cpp/tests/range/multilinestring_range_test.cu
  cpp/tests/range/multipoint_range_test.cu
  cpp/tests/range/multipolygon_range_test.cu
Labels: bug, non-breaking, libcuspatial

#1443 Drop Python 3.9 support
  README.md
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
  pyproject.toml
  python/cuproj/pyproject.toml
  python/cuspatial/pyproject.toml
Labels: conda, Python, improvement, non-breaking

#1447 wheels: dynamically load `libcudf.so` from `libcudf` wheel
  .github/workflows/build.yaml
  ci/build_wheel.sh
  ci/build_wheel_cuproj.sh
  ci/build_wheel_cuspatial.sh
  ci/test_wheel_cuproj.sh
  ci/test_wheel_cuspatial.sh
  dependencies.yaml
  python/cuspatial/CMakeLists.txt
  python/cuspatial/cmake/Modules/WheelHelpers.cmake
  python/cuspatial/cuspatial/__init__.py
  python/cuspatial/pyproject.toml
Labels: 3 - Ready for Review, cmake, Python, improvement, non-breaking, ci

#1445 Update rapidsai/pre-commit-hooks
  .pre-commit-config.yaml
Labels: improvement, non-breaking

#1448 cuproj: depend on librmm, not rmm
  conda/recipes/cuproj/meta.yaml
  dependencies.yaml
  python/cuproj/pyproject.toml
Labels: conda, Python, improvement, non-breaking

#1449 cuproj: remove pin on 'proj' in conda packages
  conda/recipes/cuproj/conda_build_config.yaml
Labels: conda, 3 - Ready for Review, improvement, non-breaking
