Repository rapidsai/cuspatial, pull requests merged in 2024-06, with the labels that each got.

#1398 Fix test_intersections.py post cudf refactor
  python/cuspatial/cuspatial/tests/basicpreds/test_intersections.py
Labels: bug, Python, non-breaking

#1397 Adopt CI/packaging codeowners
  .github/CODEOWNERS
Labels: improvement, non-breaking

#1396 Allow anonymous user in devcontainer name
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.2-conda/devcontainer.json
  .devcontainer/cuda12.2-pip/devcontainer.json
Labels: bug, non-breaking

#1394 Remove text builds of documentation
  ci/build_docs.sh
Labels: improvement, non-breaking, ci

#1393 use rapids-build-backend
  .pre-commit-config.yaml
  build.sh
  ci/build_cpp.sh
  ci/build_docs.sh
  ci/build_python.sh
  ci/build_wheel.sh
  ci/check_style.sh
  ci/release/update-version.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/cuproj/meta.yaml
  conda/recipes/cuspatial/meta.yaml
  dependencies.yaml
  python/cuproj/cuproj/_version.py
  python/cuproj/cuproj/tests/test_version.py
  python/cuproj/pyproject.toml
  python/cuspatial/cuspatial/_version.py
  python/cuspatial/cuspatial/tests/test_version.py
  python/cuspatial/pyproject.toml
Labels: conda, Python, improvement, non-breaking, ci
