Repository rapidsai/cuspatial, pull requests merged in 2024-11, with the labels that each got.

#1482 enforce wheel size limits, README formatting in CI
  ci/build_wheel_cuproj.sh
  ci/build_wheel_cuspatial.sh
  ci/build_wheel_libcuspatial.sh
  ci/validate_wheel.sh
  python/cuproj/pyproject.toml
  python/cuspatial/pyproject.toml
  python/libcuspatial/pyproject.toml
Labels: Python, improvement, non-breaking, ci

#1483 prefer wheel-provided libcuspatial.so in load_library(), use RTLD_LOCAL
  python/libcuspatial/libcuspatial/load.py
Labels: Python, improvement, breaking

#1446 Fix performance regression in quadtree_point_in_polygon by 5x
  python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/core/spatial/join.py
Labels: Python, improvement, non-breaking

#1481 Add breaking change workflow trigger
  .github/workflows/trigger-breaking-change-alert.yaml
Labels: improvement, non-breaking

#1491 Require approval to run CI on draft PRs
  .github/copy-pr-bot.yaml
Labels: improvement, non-breaking
