Repository rapidsai/cuspatial, pull requests merged in 2024-10, with the labels that each got.

#1467 xfail Python tests dependent on invalid Polygons
  python/cuspatial/cuspatial/tests/conftest.py
  python/cuspatial/cuspatial/tests/test_cudf_integration.py
  python/cuspatial/cuspatial/tests/test_geodataframe.py
Labels: Python, improvement, non-breaking

#1469 remove unused variables in build_docs script
  ci/build_docs.sh
  ci/release/update-version.sh
Labels: improvement, non-breaking, ci

#1475 Updated libcudftestutil CMake linking logic for 24.12
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/cmake/thirdparty/get_cudf.cmake
  cpp/tests/CMakeLists.txt
  cpp/tests/test_common.cpp
Labels: cmake, improvement, non-breaking, libcuspatial

#1472 Make polygon fixture data valid
  python/cuspatial/cuspatial/testing/helpers.py
  python/cuspatial/cuspatial/tests/conftest.py
  python/cuspatial/cuspatial/tests/test_cudf_integration.py
  python/cuspatial/cuspatial/tests/test_from_geopandas.py
  python/cuspatial/cuspatial/tests/test_geodataframe.py
  python/cuspatial/cuspatial/tests/test_geoseries.py
Labels: bug, Python, non-breaking

#1476 Update README architecture and platform support
  README.md
Labels: doc, non-breaking

#1473 build wheels without build isolation
  .pre-commit-config.yaml
  ci/build_cpp.sh
  ci/build_python.sh
  ci/build_wheel.sh
  ci/build_wheel_libcuspatial.sh
Labels: 3 - Ready for Review, improvement, non-breaking, ci

#1478 devcontainer: replace `VAULT_HOST` with `AWS_ROLE_ARN`
  .devcontainer/Dockerfile
Labels: improvement, non-breaking
