Repository rapidsai/cuspatial, pull requests merged in 2024-04, with the labels that each got.

#1364 Use `conda env create --yes` instead of `--force`
  ci/build_docs.sh
  ci/check_style.sh
  ci/test_cpp.sh
  ci/test_notebooks.sh
  ci/test_python.sh
Labels: improvement, non-breaking, ci

#1365 Enable all tests for `arm` jobs
  ci/test_wheel_cuproj.sh
  ci/test_wheel_cuspatial.sh
  ci/wheel_smoke_test_cuproj.py
  ci/wheel_smoke_test_cuspatial.py
Labels: improvement, non-breaking, ci

#1360 Enable pytest failures on warnings on FutureWarnings (Replace deprecated `geopandas.dataset` module)
  python/cuspatial/benchmarks/api/bench_api.py
  python/cuspatial/cuspatial/tests/conftest.py
  python/cuspatial/cuspatial/tests/data/naturalearth_cities.shp
  python/cuspatial/cuspatial/tests/data/naturalearth_cities.shx
  python/cuspatial/cuspatial/tests/data/naturalearth_lowres.shp
  python/cuspatial/cuspatial/tests/data/naturalearth_lowres.shx
  python/cuspatial/cuspatial/tests/test_geocolumn_accessor.py
  python/cuspatial/cuspatial/tests/test_geodataframe.py
  python/cuspatial/cuspatial/tests/test_geoseries.py
  python/cuspatial/pyproject.toml
Labels: Python, improvement, non-breaking

#1373 Replace rmm::mr::device_memory_resource* with rmm::device_async_resource_ref
  cpp/doxygen/developer_guide/DEVELOPER_GUIDE.md
  cpp/include/cuspatial/bounding_boxes.hpp
  cpp/include/cuspatial/detail/index/construction/phase_1.cuh
  cpp/include/cuspatial/detail/index/construction/phase_2.cuh
  cpp/include/cuspatial/detail/intersection/linestring_intersection.cuh
  cpp/include/cuspatial/detail/intersection/linestring_intersection_with_duplicates.cuh
  cpp/include/cuspatial/detail/join/quadtree_bbox_filtering.cuh
  cpp/include/cuspatial/detail/join/quadtree_point_in_polygon.cuh
  cpp/include/cuspatial/detail/join/quadtree_point_to_nearest_linestring.cuh
  cpp/include/cuspatial/detail/point_quadtree.cuh
  cpp/include/cuspatial/detail/trajectory/derive_trajectories.cuh
  cpp/include/cuspatial/distance.hpp
  cpp/include/cuspatial/intersection.cuh
  cpp/include/cuspatial/intersection.hpp
  cpp/include/cuspatial/nearest_points.hpp
  cpp/include/cuspatial/pairwise_multipoint_equals_count.hpp
  cpp/include/cuspatial/point_in_polygon.hpp
  cpp/include/cuspatial/point_quadtree.cuh
  cpp/include/cuspatial/point_quadtree.hpp
  cpp/include/cuspatial/points_in_range.hpp
  cpp/include/cuspatial/projection.hpp
  cpp/include/cuspatial/spatial_join.cuh
  cpp/include/cuspatial/spatial_join.hpp
  cpp/include/cuspatial/trajectory.cuh
  cpp/include/cuspatial/trajectory.hpp
  cpp/include/cuspatial_test/base_fixture.hpp
  cpp/include/cuspatial_test/vector_factories.cuh
  cpp/src/bounding_boxes/linestring_bounding_boxes.cu
  cpp/src/bounding_boxes/polygon_bounding_boxes.cu
  cpp/src/distance/hausdorff.cu
  cpp/src/distance/haversine.cu
  cpp/src/distance/linestring_distance.cu
  cpp/src/distance/linestring_polygon_distance.cu
  cpp/src/distance/point_distance.cu
  cpp/src/distance/point_linestring_distance.cu
  cpp/src/distance/point_polygon_distance.cu
  cpp/src/distance/polygon_distance.cu
  cpp/src/equality/pairwise_multipoint_equals_count.cu
  cpp/src/indexing/point_quadtree.cu
  cpp/src/intersection/linestring_intersection.cu
  cpp/src/join/quadtree_bbox_filtering.cu
  cpp/src/join/quadtree_point_in_polygon.cu
  cpp/src/join/quadtree_point_to_nearest_linestring.cu
  cpp/src/nearest_points/point_linestring_nearest_points.cu
  cpp/src/point_in_polygon/point_in_polygon.cu
  cpp/src/points_in_range/points_in_range.cu
  cpp/src/projection/sinusoidal_projection.cu
  cpp/src/trajectory/derive_trajectories.cu
  cpp/src/trajectory/trajectory_bounding_boxes.cu
  cpp/src/trajectory/trajectory_distances_and_speeds.cu
  cpp/tests/distance/linestring_polygon_distance_test.cu
  cpp/tests/distance/point_polygon_distance_test.cu
  cpp/tests/intersection/intersection_test_utils.cuh
  cpp/tests/intersection/linestring_intersection_intermediates_remove_if_test.cu
  cpp/tests/intersection/linestring_intersection_test.cpp
  cpp/tests/intersection/linestring_intersection_test.cu
  cpp/tests/intersection/linestring_intersection_with_duplicates_test.cu
  cpp/tests/join/quadtree_point_in_polygon_test_large.cu
Labels: improvement, breaking, libcuspatial

#1377 Always use a static gtest and gbench
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/libcuspatial/meta.yaml
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_gtest.cmake
  cpp/cuproj/CMakeLists.txt
  cpp/cuproj/cmake/thirdparty/get_gtest.cmake
  cpp/tests/bounding_boxes/linestring_bounding_boxes_test.cpp
  cpp/tests/bounding_boxes/polygon_bounding_boxes_test.cpp
  cpp/tests/join/quadtree_point_in_polygon_test.cpp
  cpp/tests/join/quadtree_point_to_nearest_linestring_test.cpp
  dependencies.yaml
Labels: conda, 3 - Ready for Review, cmake, improvement, non-breaking, libcuspatial
