Repository rapidsai/cuspatial, pull requests merged in 2024-02, with the labels that each got.

#1327 Use ListColumn instead of build_list_column
  python/cuspatial/cuspatial/core/_column/geocolumn.py
  python/cuspatial/cuspatial/core/binops/intersection.py
Labels: feature request, Python, non-breaking

#1333 Forward-merge branch-24.02 to branch-24.04
  python/cuspatial/cuspatial/core/_column/geocolumn.py
  python/cuspatial/cuspatial/core/binops/intersection.py
Labels: Python

#1334 Make sure cudf uses pyarrow's libarrow during wheel builds
  ci/build_wheel_cuspatial.sh
Labels: bug, non-breaking, ci

#1339 Exclude tests from builds
  python/cuproj/pyproject.toml
  python/cuspatial/pyproject.toml
Labels: bug, Python, non-breaking

#1340 Forward-merge branch-24.02 to branch-24.04
  python/cuproj/pyproject.toml
  python/cuspatial/pyproject.toml
Labels: Python

#1338 Fix Broken CI for 24.04
  python/cuspatial/cuspatial/core/binops/intersection.py
  python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/core/spatial/nearest_points.py
  python/cuspatial/cuspatial/core/trajectory.py
  python/cuspatial/cuspatial/tests/basicpreds/test_intersections.py
  python/cuspatial/cuspatial/tests/spatial/bounding/test_linestring_bounding_boxes.py
  python/cuspatial/cuspatial/tests/spatial/join/test_point_in_polygon.py
  python/cuspatial/cuspatial/tests/spatial/nearest_points/test_nearest_points.py
  python/cuspatial/cuspatial/tests/test_geodataframe.py
  python/cuspatial/cuspatial/tests/test_geoseries.py
Labels: bug, Python, non-breaking

#1320 Support CUDA 12.2
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/cuproj/meta.yaml
  conda/recipes/cuspatial/meta.yaml
  conda/recipes/libcuspatial/meta.yaml
  dependencies.yaml
Labels: conda, improvement, non-breaking

#1337 Update ops-bot.yaml
  .github/ops-bot.yaml
Labels: improvement, non-breaking

#1325 Remove -DNVBench_ENABLE_CUPTI=OFF.
  conda/recipes/libcuspatial/build.sh
Labels: conda, improvement, non-breaking

#1347 write PROJ build dir export rules
  cpp/cuproj/cmake/thirdparty/get_proj.cmake
Labels: 3 - Ready for Review, cmake, improvement, non-breaking, libcuspatial

#1344 Update devcontainers to CUDA Toolkit 12.2
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.2-conda/devcontainer.json
  .devcontainer/cuda12.2-pip/devcontainer.json
  .github/workflows/pr.yaml
Labels: 3 - Ready for Review, improvement, non-breaking

#1348 Add support for Python 3.11, require NumPy 1.23+
  README.md
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/cuspatial/meta.yaml
  dependencies.yaml
  python/cuproj/pyproject.toml
  python/cuspatial/pyproject.toml
Labels: conda, Python, improvement, non-breaking
