Repository rapidsai/cuspatial, pull requests merged in 2024-12, with the labels that each got.

#1490 Add CUDA device-callable projection API
  cpp/cuproj/README.md
  cpp/cuproj/include/cuproj/detail/pipeline.cuh
  cpp/cuproj/include/cuproj/detail/wrap_to_pi.cuh
  cpp/cuproj/include/cuproj/operation/clamp_angular_coordinates.cuh
  cpp/cuproj/include/cuproj/projection.cuh
  cpp/cuproj/tests/wgs_to_utm_test.cu
Labels: feature request, non-breaking, libcuspatial, libcuproj

#1495 Remove --expt-relaxed-constexpr NVCC flag
  cpp/CMakeLists.txt
  cpp/cmake/Modules/ConfigureCUDA.cmake
  cpp/cuproj/benchmarks/CMakeLists.txt
  cpp/cuproj/cmake/modules/ConfigureCUDA.cmake
  cpp/cuproj/tests/CMakeLists.txt
  java/src/main/native/CMakeLists.txt
Labels: cmake, improvement, non-breaking, libcuspatial, libcuproj

#1496 Remove unused masked keyword in column_empty
  python/cuspatial/cuspatial/utils/column_utils.py
Labels: Python, improvement, non-breaking

#1498 Update version references in workflow
  .github/workflows/trigger-breaking-change-alert.yaml
Labels: improvement, non-breaking

#1497 [RELEASE] cuspatial v24.12
  .devcontainer/Dockerfile
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.5-conda/devcontainer.json
  .devcontainer/cuda12.5-pip/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  VERSION
  ci/build_cpp.sh
  ci/build_docs.sh
  ci/build_python.sh
  ci/build_wheel.sh
  ci/build_wheel_cuproj.sh
  ci/build_wheel_cuspatial.sh
  ci/build_wheel_libcuspatial.sh
  ci/release/update-version.sh
  ci/validate_wheel.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/cmake/thirdparty/get_cudf.cmake
  cpp/tests/CMakeLists.txt
  cpp/tests/test_common.cpp
  dependencies.yaml
  docs/cuproj/source/user_guide/cuproj_api_examples.ipynb
  docs/source/user_guide/cuspatial_api_examples.ipynb
  python/cuproj/pyproject.toml
  python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/core/spatial/join.py
  python/cuspatial/cuspatial/testing/helpers.py
  python/cuspatial/cuspatial/tests/conftest.py
  python/cuspatial/cuspatial/tests/test_cudf_integration.py
  python/cuspatial/cuspatial/tests/test_from_geopandas.py
  python/cuspatial/cuspatial/tests/test_geodataframe.py
  python/cuspatial/cuspatial/tests/test_geoseries.py
  python/cuspatial/pyproject.toml
  python/libcuspatial/libcuspatial/load.py
  python/libcuspatial/pyproject.toml
Labels: conda, cmake, Python, libcuspatial, ci

#1502 Restore removed `--expt-relaxed-constexpr`
  cpp/cmake/Modules/ConfigureCUDA.cmake
Labels: cmake, libcuspatial

#1507 Remove sphinx pinning
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
Labels: conda, improvement, non-breaking

#1508 Check if nightlies have succeeded recently enough
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#1509 remove versioneer and setup.cfg references in docs, update rapids-dependency-file-generator
  .pre-commit-config.yaml
  dependencies.yaml
  docs/source/developer_guide/contributing_guide.md
Labels: doc, non-breaking

#1503 Fix libcuproj doc example and make tests consistent.
  cpp/cuproj/README.md
  cpp/cuproj/doxygen/main_page.md
  cpp/cuproj/tests/wgs_to_utm_test.cu
Labels: doc, non-breaking, libcuspatial
