Repository rapidsai/cuspatial, pull requests merged in 2024-05, with the labels that each got.

#1379 Enable warnings-as-errors for cuproj tests
  python/cuproj/pyproject.toml
Labels: Python, improvement, non-breaking

#1376 Migrate to `{{ stdlib("c") }}`
  conda/recipes/cuproj/conda_build_config.yaml
  conda/recipes/cuproj/meta.yaml
  conda/recipes/cuspatial/conda_build_config.yaml
  conda/recipes/cuspatial/meta.yaml
  conda/recipes/libcuspatial/conda_build_config.yaml
  conda/recipes/libcuspatial/meta.yaml
Labels: conda, improvement, non-breaking

#1346 Fix `JOIN_POINT_IN_POLYGON_LARGE_TEST_EXP` test
  cpp/tests/join/quadtree_point_in_polygon_test_large.cu
Labels: improvement, non-breaking, libcuspatial

#1387 create conda ci test env in one step
  ci/build_docs.sh
  ci/release/update-version.sh
  ci/test_cpp.sh
  ci/test_notebooks.sh
  ci/test_python.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  dependencies.yaml
Labels: bug, tests, conda, 5 - Ready to Merge, non-breaking, ci, libcuproj

#1381 Fix quadtree spatial join OOMs on large numbers of input polygons
  cpp/benchmarks/CMakeLists.txt
  cpp/include/cuspatial/detail/join/quadtree_point_in_polygon.cuh
  cpp/include/cuspatial/detail/range/multilinestring_range.cuh
  cpp/include/cuspatial/geometry/box.hpp
  cpp/include/cuspatial_test/geometry_generator.cuh
  cpp/include/cuspatial_test/vector_factories.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/join/quadtree_point_in_polygon_test_oom.cu
Labels: 5 - Ready to Merge, cmake, improvement, non-breaking, libcuspatial

#1382 Fix building cuspatial with CCCL main
  cpp/include/cuspatial/detail/index/construction/phase_2.cuh
Labels: 5 - Ready to Merge, cmake, improvement, non-breaking, libcuspatial

#1390 Fix forward-merge `branch-24.06` into `branch-24.08`
  ci/build_docs.sh
  ci/release/update-version.sh
  ci/test_cpp.sh
  ci/test_notebooks.sh
  ci/test_python.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  cpp/benchmarks/CMakeLists.txt
  cpp/include/cuspatial/detail/index/construction/phase_2.cuh
  cpp/include/cuspatial/detail/join/quadtree_point_in_polygon.cuh
  cpp/include/cuspatial/detail/range/multilinestring_range.cuh
  cpp/include/cuspatial/geometry/box.hpp
  cpp/include/cuspatial_test/geometry_generator.cuh
  cpp/include/cuspatial_test/vector_factories.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/join/quadtree_point_in_polygon_test_oom.cu
  dependencies.yaml
Labels: conda, 5 - Ready to Merge, cmake, improvement, non-breaking, libcuspatial, ci

#1389 remove unnecessary 'setuptools' dependencies
  conda/recipes/cuproj/meta.yaml
  conda/recipes/cuspatial/meta.yaml
  dependencies.yaml
  python/cuproj/pyproject.toml
  python/cuspatial/pyproject.toml
Labels: conda, 3 - Ready for Review, Python, improvement, non-breaking
