Repository rapidsai/cuspatial, pull requests merged in 2024-07, with the labels that each got.

#1400 Change _GeoSeriesUtility._from_data(index=) default to None
  dependencies.yaml
  python/cuspatial/cuspatial/core/geodataframe.py
  python/cuspatial/cuspatial/tests/spatial/distance/test_pairwise_linestring_distance.py
  python/cuspatial/cuspatial/tests/test_geodataframe.py
  python/cuspatial/cuspatial/tests/test_geoseries.py
Labels: bug, Python, non-breaking

#1402 Fix multipolygon geometry iterator.
  cpp/include/cuspatial/range/multipolygon_range.cuh
  cpp/include/cuspatial_test/vector_factories.cuh
  cpp/tests/range/multipolygon_range_test.cu
Labels: bug, non-breaking, libcuspatial

#1401 skip CMake 3.30.0
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/cuproj/conda_build_config.yaml
  conda/recipes/cuspatial/conda_build_config.yaml
  conda/recipes/libcuspatial/conda_build_config.yaml
  dependencies.yaml
  python/cuproj/pyproject.toml
  python/cuspatial/pyproject.toml
Labels: conda, Python, improvement, non-breaking

#1404 Fix geopandas upgrades
  docs/source/user_guide/cuspatial_api_examples.ipynb
Labels: bug, non-breaking

#1407 test notebooks in 'docs/', make cuspatial_api_examples self-contained, skip long-running notebook, fix some docs
  .gitignore
  ci/test_notebooks.sh
  ci/utils/nbtest.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  dependencies.yaml
  docs/source/user_guide/cuspatial_api_examples.ipynb
  notebooks/nyc_taxi_years_correlation.ipynb
  python/cuspatial/cuspatial/core/geoseries.py
Labels: bug, conda, Python, non-breaking, ci

#1405 Build and test with CUDA 12.5.1
  .devcontainer/cuda12.5-conda/devcontainer.json
  .devcontainer/cuda12.5-pip/devcontainer.json
  .github/workflows/pr.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
Labels: conda, improvement, non-breaking

#1399 Use verify-alpha-spec hook
  .pre-commit-config.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
Labels: conda, improvement, non-breaking

#1409 Conda: Move `cmake` to `requirements/build`
  conda/recipes/cuproj/meta.yaml
  conda/recipes/cuspatial/meta.yaml
Labels: bug, conda, non-breaking

#1415 Ensure _from_data accepts columns objects only
  python/cuspatial/cuspatial/core/binpreds/contains.py
  python/cuspatial/cuspatial/core/geodataframe.py
  python/cuspatial/cuspatial/core/spatial/join.py
  python/cuspatial/cuspatial/core/spatial/nearest_points.py
Labels: 3 - Ready for Review, Python, improvement, non-breaking

#1414 split up CUDA-suffixed dependencies in dependencies.yaml
  dependencies.yaml
  python/cuproj/pyproject.toml
  python/cuspatial/pyproject.toml
Labels: 3 - Ready for Review, Python, improvement, non-breaking

#1410 Forward-merge branch-24.08 into branch-24.10
  .devcontainer/cuda12.5-conda/devcontainer.json
  .devcontainer/cuda12.5-pip/devcontainer.json
  .github/workflows/pr.yaml
  .pre-commit-config.yaml
  ci/release/update-version.sh
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/cuproj/meta.yaml
  conda/recipes/cuspatial/meta.yaml
  dependencies.yaml
  python/cuproj/pyproject.toml
  python/cuspatial/cuspatial/core/binpreds/contains.py
  python/cuspatial/cuspatial/core/geodataframe.py
  python/cuspatial/cuspatial/core/spatial/join.py
  python/cuspatial/cuspatial/core/spatial/nearest_points.py
  python/cuspatial/pyproject.toml
Labels: conda, Python, improvement, non-breaking, ci

#1418 Use CuPy array in `pip_bitmap_column_to_binary_array`
  python/cuspatial/cuspatial/tests/spatial/join/test_point_in_polygon.py
  python/cuspatial/cuspatial/utils/join_utils.py
Labels: bug, Python, non-breaking
