Repository rapidsai/cuspatial, pull requests merged in 2024-01, with the labels that each got.

#1317 refactor CUDA versions in dependencies.yaml
  .pre-commit-config.yaml
  dependencies.yaml
Labels: improvement, non-breaking

#1321 Remove usages of rapids-env-update
  ci/build_cpp.sh
  ci/build_python.sh
Labels: improvement, non-breaking, ci

#1323 Update usage of cudf.core.column.arange to cudf.core.column.as_column
  python/cuspatial/cuspatial/core/_column/geocolumn.py
  python/cuspatial/cuspatial/core/binops/distance_dispatch.py
  python/cuspatial/cuspatial/core/binops/intersection.py
Labels: bug, Python, non-breaking

#1319 Add explicit initial size to all pools and avoid RMM detail APIs
  cpp/benchmarks/fixture/benchmark_fixture.hpp
  cpp/benchmarks/fixture/rmm_pool_raii.hpp
  cpp/cuproj/benchmarks/fixture/benchmark_fixture.hpp
  cpp/src/join/quadtree_point_in_polygon.cu
  cpp/tests/intersection/linestring_intersection_test.cu
Labels: improvement, non-breaking, libcuspatial

#1326 Replace cudf _from_columns with a public API
  python/cuspatial/cuspatial/core/spatial/distance.py
Labels: bug, Python, non-breaking

#1331 Forward-merge branch-24.02 to branch-24.04
  python/cuspatial/cuspatial/core/spatial/distance.py
Labels: Python

#1330 fix formatting in developer guide
  docs/source/developer_guide/build.md
Labels: 3 - Ready for Review, doc, non-breaking

#1329 handle more RAPIDS version formats in update-version.sh, refactor dependencies.yaml
  ci/release/update-version.sh
  dependencies.yaml
Labels: bug, 3 - Ready for Review, non-breaking, ci
