Repository rapidsai/cuspatial, pull requests merged in 2024-03, with the labels that each got.

#1351 Fix Python 3.11 test failures
  python/cuspatial/cuspatial/tests/test_geodataframe.py
Labels: bug, Python, non-breaking

#1350 Replace cudf column.full with cudf.as_column
  python/cuspatial/cuspatial/core/binops/distance_dispatch.py
Labels: Python, improvement, non-breaking

#1355 Switch `pytest-xdist` algorithm to `worksteal`
  ci/test_python.sh
  ci/test_wheel_cuproj.sh
  ci/test_wheel_cuspatial.sh
Labels: improvement, non-breaking, ci

#1356 Replace `cudf.core` imports with public APIs
  python/cuspatial/cuspatial/core/binpreds/contains_geometry_processor.py
Labels: Python, improvement, non-breaking

#1358 Enable pytest failures on warnings from cudf (Ensure values being set are casted to the object's type)
  python/cuspatial/cuspatial/core/binpreds/basic_predicates.py
  python/cuspatial/cuspatial/core/binpreds/contains_geometry_processor.py
  python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/tests/test_geodataframe.py
  python/cuspatial/cuspatial/tests/test_geoseries.py
  python/cuspatial/cuspatial/utils/binpred_utils.py
  python/cuspatial/pyproject.toml
Labels: tech debt, Python, improvement, non-breaking

#1357 Remove hard-coding of RAPIDS version where possible
  ci/build_docs.sh
  ci/release/update-version.sh
  cpp/CMakeLists.txt
  cpp/cuproj/CMakeLists.txt
  cpp/cuproj/doxygen/Doxyfile
  cpp/doxygen/Doxyfile
  docs/cuproj/source/conf.py
  docs/source/conf.py
  fetch_rapids.cmake
  java/src/main/native/CMakeLists.txt
  python/cuproj/CMakeLists.txt
  python/cuproj/cuproj/cuprojshim/CMakeLists.txt
  python/cuspatial/CMakeLists.txt
  rapids_config.cmake
Labels: 3 - Ready for Review, cmake, Python, improvement, non-breaking, libcuspatial, Java, ci

#1359 Add upper bound to prevent usage of NumPy 2
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/cuspatial/meta.yaml
  dependencies.yaml
  python/cuproj/pyproject.toml
  python/cuspatial/pyproject.toml
Labels: conda, Python, improvement, non-breaking

#1361 Update pre-commit-hooks to v0.0.3
  .pre-commit-config.yaml
Labels: bug, non-breaking
