Repository rapidsai/cuspatial, pull requests merged in 2025-01, with the labels that each got.

#1511 Use cuda.bindings
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
  notebooks/cuproj_benchmark.ipynb
Labels: conda, Python, improvement, non-breaking

#1513 Use GCC 13 in CUDA 12 conda builds.
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/cuproj/conda_build_config.yaml
  conda/recipes/cuproj/meta.yaml
  conda/recipes/cuspatial/conda_build_config.yaml
  conda/recipes/cuspatial/meta.yaml
  conda/recipes/libcuspatial/conda_build_config.yaml
  conda/recipes/libcuspatial/meta.yaml
  dependencies.yaml
Labels: conda, improvement, non-breaking

#1514 Have Cython methods accept pylibcudf.Column instead of cudf._lib.column.Column
  python/cuspatial/cuspatial/_lib/distance.pyx
  python/cuspatial/cuspatial/_lib/intersection.pyx
  python/cuspatial/cuspatial/_lib/linestring_bounding_boxes.pyx
  python/cuspatial/cuspatial/_lib/nearest_points.pyx
  python/cuspatial/cuspatial/_lib/pairwise_multipoint_equals_count.pyx
  python/cuspatial/cuspatial/_lib/pairwise_point_in_polygon.pyx
  python/cuspatial/cuspatial/_lib/point_in_polygon.pyx
  python/cuspatial/cuspatial/_lib/points_in_range.pyx
  python/cuspatial/cuspatial/_lib/polygon_bounding_boxes.pyx
  python/cuspatial/cuspatial/_lib/quadtree.pyx
  python/cuspatial/cuspatial/_lib/spatial.pyx
  python/cuspatial/cuspatial/_lib/spatial_join.pyx
  python/cuspatial/cuspatial/_lib/trajectory.pyx
  python/cuspatial/cuspatial/_lib/utils.pyx
  python/cuspatial/cuspatial/core/binops/distance_dispatch.py
  python/cuspatial/cuspatial/core/binops/equals_count.py
  python/cuspatial/cuspatial/core/binops/intersection.py
  python/cuspatial/cuspatial/core/binpreds/contains.py
  python/cuspatial/cuspatial/core/spatial/bounding.py
  python/cuspatial/cuspatial/core/spatial/distance.py
  python/cuspatial/cuspatial/core/spatial/filtering.py
  python/cuspatial/cuspatial/core/spatial/indexing.py
  python/cuspatial/cuspatial/core/spatial/join.py
  python/cuspatial/cuspatial/core/spatial/nearest_points.py
  python/cuspatial/cuspatial/core/spatial/projection.py
  python/cuspatial/cuspatial/core/trajectory.py
Labels: Python, improvement, non-breaking

#1516 improve parallelism of nightly wheel builds
  .github/workflows/build.yaml
Labels: cmake, improvement, non-breaking

#1518 Build and test with CUDA 12.8.0
  .devcontainer/cuda12.8-conda/devcontainer.json
  .devcontainer/cuda12.8-pip/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
Labels: conda, improvement, non-breaking

#1525 Forward-merge branch-25.02 to branch-25.04
  .devcontainer/cuda12.8-conda/devcontainer.json
  .devcontainer/cuda12.8-pip/devcontainer.json
  .github/workflows/pr.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
Labels: conda, improvement, non-breaking

#1515 Add shellcheck to pre-commit and fix warnings
  .pre-commit-config.yaml
  ci/build_docs.sh
  ci/build_python.sh
  ci/build_wheel.sh
  ci/build_wheel_cuspatial.sh
  ci/check_style.sh
  ci/release/update-version.sh
  ci/test_cpp.sh
  ci/test_notebooks.sh
  ci/test_wheel_cuproj.sh
  ci/test_wheel_cuspatial.sh
  ci/utils/nbtest.sh
  ci/validate_wheel.sh
Labels: improvement, non-breaking, ci

#1522 Migrate to NVKS for amd64 CI runners
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
Labels: improvement, non-breaking
