Repository rapidsai/cuspatial, pull requests merged in 2025-02, with the labels that each got.

#1527 Use test_python changed files list for Python tests.
  .github/workflows/pr.yaml
Labels: bug, non-breaking

#1529 disallow fallback to Make in Python builds
  python/cuproj/pyproject.toml
  python/cuspatial/pyproject.toml
  python/libcuspatial/pyproject.toml
Labels: Python, improvement, non-breaking

#1523 Ensure Cython bindings only interact with pylibcudf objects
  python/cuspatial/cuspatial/_lib/distance.pyx
  python/cuspatial/cuspatial/_lib/intersection.pyx
  python/cuspatial/cuspatial/_lib/linestring_bounding_boxes.pyx
  python/cuspatial/cuspatial/_lib/nearest_points.pyx
  python/cuspatial/cuspatial/_lib/pairwise_multipoint_equals_count.pyx
  python/cuspatial/cuspatial/_lib/pairwise_point_in_polygon.pyx
  python/cuspatial/cuspatial/_lib/point_in_polygon.pyx
  python/cuspatial/cuspatial/_lib/points_in_range.pyx
  python/cuspatial/cuspatial/_lib/polygon_bounding_boxes.pyx
  python/cuspatial/cuspatial/_lib/quadtree.pyx
  python/cuspatial/cuspatial/_lib/spatial.pyx
  python/cuspatial/cuspatial/_lib/spatial_join.pyx
  python/cuspatial/cuspatial/_lib/trajectory.pyx
  python/cuspatial/cuspatial/core/binops/distance_dispatch.py
  python/cuspatial/cuspatial/core/binops/equals_count.py
  python/cuspatial/cuspatial/core/binops/intersection.py
  python/cuspatial/cuspatial/core/binpreds/contains.py
  python/cuspatial/cuspatial/core/spatial/bounding.py
  python/cuspatial/cuspatial/core/spatial/distance.py
  python/cuspatial/cuspatial/core/spatial/filtering.py
  python/cuspatial/cuspatial/core/spatial/indexing.py
  python/cuspatial/cuspatial/core/spatial/join.py
  python/cuspatial/cuspatial/core/spatial/nearest_points.py
  python/cuspatial/cuspatial/core/spatial/projection.py
  python/cuspatial/cuspatial/core/trajectory.py
Labels: Python, improvement, non-breaking

#1531 Forward-merge branch-25.02 into branch-25.04
  .github/workflows/pr.yaml
  python/cuspatial/cuspatial/_lib/distance.pyx
  python/cuspatial/cuspatial/_lib/intersection.pyx
  python/cuspatial/cuspatial/_lib/linestring_bounding_boxes.pyx
  python/cuspatial/cuspatial/_lib/nearest_points.pyx
  python/cuspatial/cuspatial/_lib/pairwise_multipoint_equals_count.pyx
  python/cuspatial/cuspatial/_lib/pairwise_point_in_polygon.pyx
  python/cuspatial/cuspatial/_lib/point_in_polygon.pyx
  python/cuspatial/cuspatial/_lib/points_in_range.pyx
  python/cuspatial/cuspatial/_lib/polygon_bounding_boxes.pyx
  python/cuspatial/cuspatial/_lib/quadtree.pyx
  python/cuspatial/cuspatial/_lib/spatial.pyx
  python/cuspatial/cuspatial/_lib/spatial_join.pyx
  python/cuspatial/cuspatial/_lib/trajectory.pyx
  python/cuspatial/cuspatial/core/binops/distance_dispatch.py
  python/cuspatial/cuspatial/core/binops/equals_count.py
  python/cuspatial/cuspatial/core/binops/intersection.py
  python/cuspatial/cuspatial/core/binpreds/contains.py
  python/cuspatial/cuspatial/core/spatial/bounding.py
  python/cuspatial/cuspatial/core/spatial/distance.py
  python/cuspatial/cuspatial/core/spatial/filtering.py
  python/cuspatial/cuspatial/core/spatial/indexing.py
  python/cuspatial/cuspatial/core/spatial/join.py
  python/cuspatial/cuspatial/core/spatial/nearest_points.py
  python/cuspatial/cuspatial/core/spatial/projection.py
  python/cuspatial/cuspatial/core/trajectory.py
Labels: Python, improvement, non-breaking

#1528 Add `verify-codeowners` hook
  .github/CODEOWNERS
  .pre-commit-config.yaml
Labels: improvement, non-breaking

#1533 Use `rapids-pip-retry` in CI jobs that might need retries
  ci/build_wheel.sh
  ci/build_wheel_libcuspatial.sh
  ci/test_wheel_cuproj.sh
  ci/test_wheel_cuspatial.sh
Labels: improvement, non-breaking, ci

#1535 add telemetry
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#1538 Use new rapids-logger library
  ci/build_wheel.sh
  cpp/CMakeLists.txt
  cpp/cuproj/benchmarks/CMakeLists.txt
Labels: cmake, improvement, non-breaking, libcuspatial, ci

#1543 Require CMake 3.30.4
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cuproj/conda_build_config.yaml
  conda/recipes/cuspatial/conda_build_config.yaml
  conda/recipes/libcuspatial/conda_build_config.yaml
  cpp/CMakeLists.txt
  cpp/cuproj/CMakeLists.txt
  dependencies.yaml
  java/src/main/native/CMakeLists.txt
  python/cuproj/CMakeLists.txt
  python/cuproj/cuproj/cuprojshim/CMakeLists.txt
  python/cuproj/pyproject.toml
  python/cuspatial/CMakeLists.txt
  python/cuspatial/pyproject.toml
  python/libcuspatial/CMakeLists.txt
  python/libcuspatial/pyproject.toml
Labels: conda, cmake, Python, improvement, non-breaking, libcuspatial, Java

#1539 Change download method for trajectory_clustering.ipynb's data for container testing
  notebooks/trajectory_clustering.ipynb
Labels: bug, Python, non-breaking

#1544 Use conda-build instead of conda-mambabuild
  ci/build_cpp.sh
  ci/build_python.sh
Labels: improvement, non-breaking, ci
