Repository rapidsai/cuspatial, pull requests merged in 2025-04, with the labels that each got.

#1549 Pass dtype objects to cudf as_column calls
  python/cuspatial/cuspatial/core/_column/geocolumn.py
  python/cuspatial/cuspatial/core/binops/distance_dispatch.py
  python/cuspatial/cuspatial/core/binops/intersection.py
  python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/core/spatial/join.py
  python/cuspatial/cuspatial/core/spatial/nearest_points.py
  python/cuspatial/cuspatial/core/trajectory.py
  python/cuspatial/cuspatial/utils/column_utils.py
Labels: Python, improvement, non-breaking

#1557 [RELEASE] cuspatial v25.04
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.8-conda/devcontainer.json
  .devcontainer/cuda12.8-pip/devcontainer.json
  .github/CODEOWNERS
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  VERSION
  ci/build_cpp.sh
  ci/build_python.sh
  ci/build_wheel.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cuproj/conda_build_config.yaml
  conda/recipes/cuspatial/conda_build_config.yaml
  conda/recipes/libcuspatial/conda_build_config.yaml
  cpp/CMakeLists.txt
  cpp/cuproj/CMakeLists.txt
  cpp/cuproj/benchmarks/CMakeLists.txt
  cpp/cuproj/cmake/patches/proj.patch
  cpp/cuproj/cmake/patches/proj_override.json
  cpp/cuproj/cmake/thirdparty/get_proj.cmake
  cpp/include/cuspatial/detail/distance/linestring_distance.cuh
  cpp/include/cuspatial/detail/distance/point_linestring_distance.cuh
  cpp/include/cuspatial/detail/functors.cuh
  cpp/include/cuspatial/detail/kernel/pairwise_distance.cuh
  cpp/include/cuspatial/detail/range/enumerate_range.cuh
  cpp/include/cuspatial/detail/range/multilinestring_range.cuh
  cpp/include/cuspatial/detail/utility/linestring.cuh
  cpp/include/cuspatial/range/multilinestring_range.cuh
  cpp/include/cuspatial/traits.hpp
  cpp/include/cuspatial_test/test_util.cuh
  cpp/tests/operators/linestrings_test.cu
  dependencies.yaml
  docs/cuproj/source/user_guide/cuproj_api_examples.ipynb
  docs/source/user_guide/cuspatial_api_examples.ipynb
  java/src/main/native/CMakeLists.txt
  notebooks/trajectory_clustering.ipynb
  python/cuproj/CMakeLists.txt
  python/cuproj/cuproj/cuprojshim/CMakeLists.txt
  python/cuproj/pyproject.toml
  python/cuspatial/CMakeLists.txt
  python/cuspatial/cuspatial/core/_column/geocolumn.py
  python/cuspatial/cuspatial/core/binops/distance_dispatch.py
  python/cuspatial/cuspatial/core/binops/intersection.py
  python/cuspatial/cuspatial/core/geoseries.py
  python/cuspatial/cuspatial/core/spatial/join.py
  python/cuspatial/cuspatial/core/spatial/nearest_points.py
  python/cuspatial/cuspatial/core/trajectory.py
  python/cuspatial/cuspatial/utils/column_utils.py
  python/cuspatial/pyproject.toml
  python/libcuspatial/CMakeLists.txt
  python/libcuspatial/pyproject.toml
Labels: conda, cmake, Python, libcuspatial, Java, ci

#1559 fix(proj): update patch to version 9.6.0
  cpp/cuproj/cmake/patches/proj.patch
  cpp/cuproj/cmake/patches/proj_override.json
  cpp/cuproj/cmake/thirdparty/get_proj.cmake
Labels: cmake, improvement, non-breaking, libcuspatial
